<div class="card shadow outer">
    <div class="card-header">
        <h3>{{ tutorial_stage.header }}</h3>
        <h6 class="card-subtitle mb-2 text-muted">{{ tutorial_stage.sub_header }}</h6>
    </div>
    <div class="card-body">
        <div class="row">
            {% if tutorial_stage.message %}
                <div class="col">
                    {% set message = tutorial_stage.get_message_split_on_newline() %}
                    {% for m in message %}
                        <p class="card-text">
                            {% if m['bold'] %}
                                <b>{{ m['msg'] }}</b>
                            {% else %}
                                {{ m['msg'] }}
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if tutorial_stage.question %}
                <div class="col">
                    <p class="card-text">{{ tutorial_stage.question }}</p>
                </div>
            {% endif %}
            {% if tutorial_stage.image %}
                <div class="col-8">
                    <img alt="tutorial image" class="img-fluid card-img-bottom"
                         src={{ tutorial_stage.image }}>
                </div>
            {% endif %}
        </div>
    </div>
    {% if tutorial_stage.question_answers %}
        <div class="card-footer">
            <div class="btn-group btn-group-sm w-100">
            {% set answers = tutorial_stage.get_question_answers() %}
                {% for answer in answers %}
                    <button id="answer{{ loop.index }}" type="button"
                            class="btn btn-outline-primary">{{ answer }}</button>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
<script>
    function displayInitialMessage(){
        if (`{{ tutorial_stage.alert}}` && !(`{{ tutorial_stage.question}}`)) {
            displayAlert(`{{ tutorial_stage.alert|safe }}`, `{{ tutorial_stage.alert_level|safe }}`)
        }
    }

    function answerButtonClicked(){
        $('button[id*="answer"]').unbind('click').click(function () {
            $('#alertPlaceholder').alert('close')
            let answerNum = parseInt($(this)[0].id.split('answer')[1]);
            let correctAnswer = parseInt("{{ tutorial_stage.correct_answer }}")
            if (answerNum === correctAnswer) {
                displayAlert(`{{ tutorial_stage.alert|safe }}`, "success")
                toggleContinue(false);
                return true
            }
            else {
                displayAlert("That answer is incorrect please try again.", "danger")
                return false
            }
        })
    }

    function toggleContinue(disabled=true){
        $("#loadContinue").prop("disabled", disabled);
    }

    function checkDisableContinue(){
        if (`{{ tutorial_stage.question}}`) {
            toggleContinue(true);
        }
    }

    function collapseSide() {
        $('#collapseSide').click()
    }
     document.addEventListener("DOMContentLoaded", function() {
         if (!(window.location.href.includes('help'))) {
             displayInitialMessage();
             answerButtonClicked();
             checkDisableContinue();
             collapseSide();
         }
     });
</script>