flask-babel==1.0.0
flask-mail==0.9.1
pyjwt==2.4.0
flask==2.2.5
guess_language-spirit==0.5.3
boto3==1.9.184
elasticsearch==7.0.2
flask-sqlalchemy==3.0.3
flask-migrate==2.5.2
flask-login==0.6.2
flask-bootstrap==3.3.7.1
flask-moment==1.0.2
flask-wtf==1.0.0
WTForms-SQLAlchemy==0.3
email-validator==1.1.0
rq==1.10.1
rq-scheduler==0.11.0
rq-dashboard==0.6.0
requests-aws4auth==0.9
xlrd==1.2.0
werkzeug==2.2.3
numpy==1.24.2
pandas==2.0.0
seaborn==0.11.1
filelock==3.4.1
async-timeout==4.0.2
reportlab==3.6.8
redis== 4.4.4
openpyxl==3.1.2
selenium==3.12.0
pytest==7.0.0
openai==0.8.0
git+https://github.com/jamezzz5/processor.git