flask-babel==1.0.0
flask-mail==0.9.1
pyjwt==1.7.1
flask==2.0.2
guess_language-spirit==0.5.3
boto3==1.9.184
elasticsearch==7.0.2
flask-sqlalchemy==2.4.0
flask-migrate==2.5.2
flask-login==0.4.1
flask-bootstrap==3.3.7.1
flask-moment==1.0.2
flask-wtf==1.0.0
WTForms-SQLAlchemy==0.3
email-validator==1.1.0
rq==1.10.1
rq-scheduler==0.11.0
rq-dashboard==0.6.0
requests-aws4auth==0.9
xlrd==1.2.0
werkzeug==2.0.2
pandas==0.24.2
Numpy==1.19.5
seaborn==0.11.1
filelock==3.4.1
async-timeout==4.0.2
reportlab==3.6.8
git+https://github.com/jamezzz5/processor.git