<div class="card mb-3" id="dash{{ dash.id }}card" data-name="{{ dash.name }}">
    {% if processor is defined %}
        <div class="card-header">
            <h3>
            <span class="nowrap">
            <a href="{{ url_for('main.processor_dashboard_view',
            object_name=dash.processor.name, dashboard_id=dash.id) }}">
            {{ processor.name }} - Dashboard: {{ dash.name }}</a>
            <h6 class="mt-0">{{ _('was created %(when)s',
            when=moment(dash.created_at).fromNow()) }}</h6>
            </span>
            </h3>
        </div>
        <div class="card" id="dash{{ dash.id }}">
        <div class="card-body">
            <div class="row">
                <div class="col" id="dash{{ dash.id }}form">
                    {% for form in dash.form %}
                        {% include '_form.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="btn-group btn-group-sm w-100" role="group">
                <button id="dash{{ dash.id }}View"
                        class="btn btn-outline-success">
                    <i class="bi bi-bar-chart" href="#" role="button"></i>
                    View
                </button>
                <button id="dash{{ dash.id }}Save"
                        class="btn btn-outline-info">
                    <i class="bi bi-floppy" href="#" role="button"></i>
                    Save
                </button>
                <button id="dash{{ dash.id }}Delete"
                        class="btn btn-outline-danger">
                    <i class="bi bi-trash" href="#" role="button"></i>
                    Delete
                </button>
            </div>
        </div>
    {% endif %}
    <div id="dash{{ dash.id }}Row" class="row">
        <div class="col-md-12 h-50">
            <div class="card-header d-flex">
                <h7 class="mb-3 pl-1 pr-1 flex-shrink-0">{{ dash.name }}</h7>
                <select id="dash{{ dash.id }}MetricsChartPlaceholderSelect"
                        class="form-control form-control-sm pl-1 pr-1 flex-grow-1">
                </select>
                {% if custom is defined %}
                    <label id="dash{{ dash.id }}Include" style="font-size: 8px;" class="pl-2">
                        <input {% if dash.include_in_report == true %} checked {% endif %}
                                type="checkbox" class="checkbox" onclick="includeCustomInReport(this)">
                        Include in Report Builder
                    </label>
                    <button id="dash{{ dash.id }}Delete"
                            class="btn btn-danger btn-sm m-1"
                            onclick="deleteCustomChart(this);"
                            tabindex="0" aria-controls=${tableName}
                            type="button">
                        <i class="bi bi-dash" style="color:white"></i>
                    </button>
                {% endif %}
            </div>
            <div id="dash{{ dash.id }}MetricsProgress"></div>
            <div id="dash{{ dash.id }}Metrics"></div>
        </div>
    </div>
    </div>
</div>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        addOnClickEvent('button[id^="dash"]', setButtonEvents);
    });
</script>