<div class="tab-pane fade" id="nav-placement"
     role="tabpanel" aria-labelledby="nav-dash-tab">
    <div class="row">
        <button class="btn btn-success ml-3 m-2 text-right" id="add-dash"
        onclick="addDashModal('Placement')">
            <i class="bi bi-plus" style="color:white"></i>
        </button>
    </div>
    <br>
    <div class="row h-80">
        <div class="col-md-4 h-80">
            <div class="card-header d-flex flex-row rounded align-items-center">
                <div class="col-sm d-flex align-center">
                    <div class="col-xs-4  color-square p-2 border"
                         id="placementBarMetricsChartPlaceholderSelect0Key"></div>
                </div>
                <select id="placementBarMetricsChartPlaceholderSelect0"
                        class="form-control form-control-sm p-1 mr-4">
                </select>
                <div class="col-sm d-flex align-center">
                    <div class="col-xs-4  color-square p-2 border"
                         id="placementBarMetricsChartPlaceholderSelect1Key"></div>
                </div>
                <select id="placementBarMetricsChartPlaceholderSelect1"
                        class="form-control form-control-sm p-1">
                </select>
            </div>
            <div class="card container-fluid shadow-sm outer p-0 remove-items-shadow">
                <div id="placementBarMetricsProgress"></div>
                <div id="placementBarMetrics" style="height: 695px;"></div>
            </div>
        </div>
        <div class="col-md-8 h-80  vertical-center">
            <div class="card-header d-flex flex-row rounded">
                <h7 class="pr-4">Placements</h7>
                <select id="placementSummaryMetricsChartPlaceholderSelect"
                        class="form-control form-control-sm">
                </select>
            </div>
            <div class="card container-fluid shadow-sm outer p-0 m-0 remove-items-shadow"
                 style="height: 695px;">
                <div id="placementSummaryMetricsProgress"></div>
                <div id="placementSummaryMetrics"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
    </div>
    <div id="customChartsPlacement" class="container-fluid"></div>
    <br>
    <div class="row">
        <div class="card-body container-fluid p-0">
            <div style="height: 200px" class="p-3">
                <div id="placementNotesProgress"
                     style="height: 170px !important;"></div>
                <div id="placementNotes">
                </div>
            </div>
        </div>
    </div>
</div>