{% extends "base.html" %}
{% block app_header %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='liquid_table.css') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block vertical_navbar %}
    <div class="card shadow outer">
    <div class="card-header">
        <h3>Brand Trackers<i class="fas fa-comments btn btn-secondary"
                           style="float:right;"></i></h3>
        <h6 class="card-subtitle mb-2 text-muted">
            Saved Brand Tracker configurations can be found here.
        </h6>
    </div>
    <div class="card-body" id="brandtrackerButtons">
        <a class="btn btn-outline-success btn-block" href="">
            <i class="fas fa-plus" href="#" role="button" aria-hidden="true"></i>
            New Brand Tracker
        </a>
        {% for bt in brandtrackers %}
            <btn class="btn btn-outline-primary btn-block"
                 id="brandtrackerBtn{{ bt.id }}" data-btid="{{ bt.id }}"
                 onclick="getBrandtracker({{ bt.id }})">{{ bt.name }}</btn>
        {% endfor %}
    </div>
    </div>
{% endblock %}
{% block app_content %}
    <div class="text-right">
        <button class="btn btn-success"
                onclick="saveBrandtracker()">Save Configuration</button>
        <button class="btn btn-primary"
                onclick="downloadBrandtrackerOutput()">Download</button>
    </div>
    <div id="currentBrandtracker" data-btid="">
        <div id="brandtrackerPlot"></div>
        <div id="brandtrackerTables">
            <div id="InfluenceTable"></div>
            <div id="EngagementTable"></div>
            <div id="MomentumTable"></div>
        </div>
        <div id="brandtrackerForms">
            {% if form %}
                {% include "_form.html" %}
            {% endif %}
            <form id="InfluenceForm" class="dimension-form" hidden></form>
            <form id="EngagementForm" class="dimension-form" hidden></form>
            <form id="MomentumForm" class="dimension-form" hidden></form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js_utils.js') }}"></script>
    <script src="{{ url_for('static', filename='liquid_table.js') }}"></script>
    <script src="{{ url_for('static', filename='get_table.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-dark/darkModeHelper.js') }}"></script>
    <script>
        function getBrandtrackerFormData() {
            let formIds = ['base_form_id'];
            let forms = document.querySelectorAll('.dimension-form');
            forms.forEach(form => {formIds.push(form.id)});
            let validForms = validateFormsById(formIds);
            if (!validForms) {
                displayAlert('Invalid Input. Please adjust and try again',
                    'warning');
                return
            }
            return prepareFormsForRequest(formIds);
        }

        function saveBrandtracker() {
            let btButtons = document
                .querySelectorAll('[id^="brandtrackerBtn"]');
            let btOptions = Array.from(btButtons).map(function(elem) {
                return {text: elem.innerText, value: elem.innerText}
            });
            let form = document.createElement('form');
            let selectElem = document.createElement('select');
            selectElem.id = 'brandtrackerName';
            form.appendChild(selectElem);
            $(selectElem).selectize({options: btOptions,
                                     searchField: 'text',
                                     createFilter: function(input) {
                                        let regex = /[#&$^@*!%/]/
                                        return !regex.test(input)
                                     },
                                     create: true});
            createModal('saveBrandtrackerModal',
                'Choose an existing brand tracker or create a new one',
                form, saveBrandtrackerModal
            );
        }

        function saveBrandtrackerModal() {
            let selectElem = document.getElementById('brandtrackerName');
            let name = selectElem.selectize.getValue();
            if (name) {
                let data = getBrandtrackerFormData();
                if (data) {
                    data['brandtrackerName'] = name;
                    makeRequest('/save_brandtracker', 'POST', data,
                        saveBrandtrackerModalResponse);
                }
            }
        }

        function saveBrandtrackerModalResponse(response) {
            displayAlert(response['message'], response['level']);
        }

        function downloadBrandtrackerOutput() {
            updateBtTables(true);
        }

        function addComponentOnClick() {
            let form = this.closest('form');
            let formData = new FormData(form);
            makeRequest('/add_brandtracker_component',
                'POST', formData, addDeleteComponentResponse);
        }

        function addDeleteComponentResponse(data) {
            let formId = data['form_id'];
            document.getElementById(formId).innerHTML = data['form'];
            addEventListeners();
        }

        function deleteComponentOnClick(event) {
            let form = this.closest('form');
            let formData = new FormData(form);
            let delete_id = event.currentTarget.id;
            let url = '/delete_brandtracker_component?delete_id='.concat(delete_id);
            makeRequest(url, 'POST', formData, addDeleteComponentResponse);
        }

        function getDimension() {
            let dimSelect = document.querySelector('select#categories');
            let dimension = dimSelect.selectize.getValue();
            let formId = `${dimension}Form`;
            let forms = document.querySelectorAll('.dimension-form');
            forms.forEach(form => {
                if (form.id == formId) {
                    form.removeAttribute('hidden');
                } else {
                    form.setAttribute('hidden', '');
                }
            })
        }

        function getBtTablesResponse(data, kwargs = {}) {
            if (data['message']) {
                displayAlert(data['message'], data['level']);
            } else if (kwargs['download']) {
                downloadTableResponse('brandtrackerOutput', null, '', data);
                let svgElem = document.querySelector('svg');
                let styleElem = document.getElementById('customSvgStyles');
                downloadSvg(svgElem, styleElem);
            } else {
                Object.keys(data).forEach(key => {
                    if (data[key]['name']) {
                        let newTableName = data[key]['name'];
                        let newTable = document.getElementById(newTableName);
                        newTable.innerHTML = "";
                        createLiquidTable({'data': data[key]},
                            {'tableName': newTableName});
                    }
                });
                generateBubbleChart('#brandtrackerPlot', data['ChartData'],
                    'Engagement', ['Influence'], 'productname',
                    [-2, 2], [-2, 2], true);
            }
        }

        function updateBtTables(download = false) {
            let data = getBrandtrackerFormData();
            let kwargs = {}
            let responseType = 'json';
            if (data) {
                if (download) {
                    data['download'] = kwargs['download'] = true;
                    responseType = 'file';
                }
                makeRequest('/get_brandtracker_tables', 'POST', data,
                    getBtTablesResponse, responseType, kwargs);
            }
        }

        function getBrandtracker(brandtrackerId) {
            let currentBt = document.getElementById('currentBrandtracker');
            currentBt.dataset['btid'] = brandtrackerId;
            let data = {
                'brandtracker_id': brandtrackerId
            };
            let jinjaValues = document.getElementById('jinjaValues');
            jinjaValues.dataset['title'] = 'Brandtracker';
            jinjaValues.dataset['object_name'] = brandtrackerId;
            makeRequest('/get_brandtracker', 'POST', data,
                getBrandtrackerResponse);
        }

        function getBrandtrackerResponse(data) {
            Object.entries(data).forEach(([form_id, form]) => {
                document.getElementById(form_id).innerHTML = form;
            });
            updateBtTables();
            addEventListeners();
        }

        function addEventListeners() {
            addSelectize();
            addOnClickEvent('select#categories', getDimension, 'change');
            addOnClickEvent('input[id*="add_child"][value="Add Data Point"]',
                addComponentOnClick);
            addOnClickEvent('input[id^="components-"][id$="-delete"][value="Delete"]',
                deleteComponentOnClick);
            addOnClickEvent('input[id="update_data"]',
                () => {updateBtTables()});
        }

        document.addEventListener("DOMContentLoaded", function() {
            addEventListeners();
            getBrandtracker();
        });
    </script>
    {% include "_select_builder.html" %}
    {% include "_table_builder.html" %}
    {% include "_dash_builder.html" %}
{% endblock %}
