<p>Dear {{ user.username }},</p>
<p>Today's campaign analysis for a processor you follow is below.</p>
<p>This processor can be found at: https://lqadata.com/processor/{{ processor_name }}</p>
{% for x in analysis %}
    {% if x['selected'] == 'true' %}
        <p>{{ x['message'] }}</p>
        {% if 'df' in x %}
            <p>{{ x['df'].to_html()|safe }}</p>
        {% endif %}
        {% if 'url' in x %}
            <img src="{{x['url']}}" height="175" width="350" class="bobby img-circle">
        {% endif %}
    {% endif %}
{% endfor %}
<p>Sincerely,</p>
<p>Liquid App</p>