{% extends "create_processor.html" %}
{% block app_content_2 %}
    <style>
        .table .card-deck {
            overflow-x: scroll;
        }

        .card {
            min-width: 100px;
        }

        th, td {
            min-width: 25px;
        }

        .hiddenRow {
            padding: 0 !important;
        }

        th {
            cursor: pointer;
        }

        tr:hover {
            background-color: lightsteelblue !important;
        }

        tr:hover td {
            background-color: transparent;
        }

        .shadeCell {
            background-color: #b3ecff !important;
            transition: all 1s;
        }

        .shadeCell0 {
            background-color: rgb(31,119,180) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell1 {
            background-color: rgb(174,199,232) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell2 {
            background-color: rgb(255,187,120) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell3 {
            background-color: rgb(152,223,138) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell4 {
            background-color: rgb(255,152,150) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell5 {
            background-color: rgb(197,176,213) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell6 {
            background-color: rgb(196,156,148) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell7 {
            background-color: rgb(247,182,210) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell8 {
            background-color: rgb(199,199,199) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell9 {
            background-color: rgb(219,219,141) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell10 {
            background-color: rgb(158,218,229) !important;
            opacity: 0.5;
            transition: all 1s;
        }

    </style>
    {% if edit_name == 'Topline' %}
        <div class="card shadow outer text-center">
            <div class="card-header">
                <h5>Metric Totals</h5>
                <h6 class="card-subtitle mb-2 text-muted">Total metric values
                    for the current plan.</h6>
            </div>
            <div class="card-body">
                <div class="card-deck container-fluid text-center">
                    <div id="totalCards" class="row w-100"></div>
                </div>
            </div>
        </div>
        <div class="card shadow outer text-center">
            <div class="card-header">
                <h5>Topline Table - {{ object_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Topline details broken out by partner
                    for the current plan.</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div id="selectAddPartnerPlaceholder">Select
                                        Partners...
                                    </div>
                                    <div class="input-group-append">
                                        <button id="addPartner"
                                                class="btn btn-outline-success btn-block text-left"
                                                type="button" href="">
                                            <i class="fas fa-plus"
                                               role="button"></i>
                                            {{ _('') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group-btn">
                                    <button id="addPhase"
                                            class="btn btn-outline-success btn-block text-left"
                                            type="button" href="">
                                        <i class="fas fa-plus"
                                           role="button"></i>
                                        {{ _('Add Phase') }}
                                    </button>
                                </div>
                            </div>
                            <div class="col">
                                <div id="selectAddMetricsPlaceholder">Select
                                    Metrics...
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="fa-solid fa-magnifying-glass"
                                                href="#"
                                                role="button"></i></span>
                                    </div>
                                    <input id="tableSearchInput" type="text"
                                           class="form-control"
                                           placeholder="Search"
                                           aria-label="Username"
                                           aria-describedby="basic-addon1"
                                           onkeyup="searchTable()">
                                </div>
                            </div>
                        </div>
                        <table id="planTable"
                               class="table table-striped table-responsive-sm small"></table>
                    </div>
                    <div id="planTableSlideCol" class="col" style="display:none;">
                        <div id="planTableSlide" class="card-deck"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script>
        function addDays(date, days) {
            let result = new Date(date);
            result.setDate(result.getDate() + days);
            return result;
        }

        function shadeDates(loopIndex, dateRange = null, cellClass = "shadeCell") {
            if (!dateRange) {
                const fp = document.querySelector('#datePicker' + loopIndex)._flatpickr;
                dateRange = fp.selectedDates;
            }
            let startDate = new Date(dateRange[0]);
            let endDate = new Date(dateRange[1]);
            let weekString =  '';
            let calStart = '';
            let calEnd = '';
            let element = '';
            let elementId = '';
            let weeks = document.querySelectorAll('*[id^="col20"]');
            weeks.forEach(week => {
                weekString = week.id.replace('col', '');
                calStart = new Date(weekString);
                calEnd = addDays(calStart, 6);
                elementId = "row" + weekString + loopIndex;
                if (calEnd >= startDate && calStart <= endDate) {
                    element = document.getElementById(elementId);
                    element.classList.add(cellClass);
                }
                else {
                    element = document.getElementById(elementId);
                    element.classList.remove(cellClass);
                }
            });
        }

        function getRowHtml(loopIndex, tableName='planTable') {
            let tableHeadElems = document.getElementById(tableName + 'Header');
            tableHeadElems = Array.from(tableHeadElems.getElementsByTagName('th'));
            let tableHeaders = '';
            tableHeadElems.forEach(tableHeadElem => {
                tableHeaders = tableHeaders + '<td id="row' + tableHeadElem.id.replace('col', '') + loopIndex + '"></td>'
            });
            return tableHeaders
        }

        function addPartner(clickElem, oldHtml, partner = null, tableName = 'planTable') {
            let curTable = document.getElementById(tableName);
            let d1 = document.getElementById("accordionPlan");
            if (!(d1)) {
                curTable.innerHTML += `<tbody id="accordionPlan"></tbody>`;
            }
            d1 = document.getElementById("accordionPlan");
            let loopIndex = d1.querySelectorAll(".accordion:last-child");
            loopIndex = (loopIndex.length != 0) ? (parseInt(loopIndex[loopIndex.length- 1].id.replace('accordionPartner', '')) + 1).toString() : '0'
            let tableHeadElems = document.getElementById(tableName + 'Header');
            tableHeadElems = Array.from(tableHeadElems.getElementsByTagName('th'));
            let tableHeaders = getRowHtml(loopIndex);
            let partnerOptionHtml = document.getElementById('colSelectPartner').innerHTML;
            let partnerFormNames = ['total_budget', 'estimated_cpm', 'estimated_cpc', 'cplpv', 'cpbc', 'cpv', 'cpcv']
            let partnerForm = ''
            partnerFormNames.forEach((partnerFormName) => {
                partnerForm += `
                <div class="col form-group">
                    <label class="control-label"
                           for="` + partnerFormName + loopIndex + `">` + partnerFormName.toUpperCase().replace('ESTIMATED_', 'e').split('_').join(' ') + `</label>
                    <input class="form-control form-control-sm"
                           id="` + partnerFormName + loopIndex + `"
                           name="` + partnerFormName + loopIndex + `" step="any"
                           type="number" value=""
                           oninput="syncTableWithForm(` + loopIndex + `)">
                </div>`
            });
            let partnerCard = `
                <tr id="tr` + loopIndex + `" data-toggle="collapse"
                    data-target="#collapsePartner` + loopIndex + `" class="accordion-toggle">
                    ` + tableHeaders + `
                </tr>
                <tr id="trHidden` + loopIndex + `">
                    <td colspan="` + tableHeadElems.length + `" class="hiddenRow">
                    <div id="collapsePartner` + loopIndex + `" class="collapse"
                         aria-labelledby="heading` + loopIndex + `"
                         data-parent="#accordionPlan">
                        <div class="card-body">
                            <div class="accordion" id="accordionPartner` + loopIndex + `" >
                                <form id="toplinePartner` + loopIndex + `"  class="row">
                                    <div class="col form-group">
                                        <label class="control-label" for="partnerSelect` + loopIndex + `">Partner</label>
                                        <select id="partnerSelect` + loopIndex + `"
                                                class="form-control form-control-sm"
                                                name="name` + loopIndex + `">
                                            ` + partnerOptionHtml + `
                                        </select>
                                    </div>
                                    <div class="col form-group">
                                        <label class="control-label" for="datePicker` + loopIndex + `">Dates</label>
                                        <input id="datePicker` + loopIndex + `"
                                               class="custom-select custom-select-sm
                                                                      flatpickr flatpickr-input active"
                                               type="text" placeholder="Date"
                                               data-id="range" name="dates` + loopIndex + `"
                                               readonly="readonly" data-input>
                                    </div>
                                    ` + partnerForm + `
                                </form>
                            </div>
                        </div>
                    </div>
                    </td>
                </tr>`;
            d1.insertAdjacentHTML('beforeend', partnerCard);
            addSelectize();
            addDatePicker();
            editPhaseOnClick();
            sortTable();
            if (partner) {
                let selectize = $('#partnerSelect' + loopIndex)[0].selectize;
                selectize.addOption({text: partner.name, id: partner.name, value: partner.name});
                selectize.setValue(partner.name);
                let fp = document.getElementById("datePicker" + loopIndex)._flatpickr;
                fp.setDate([partner.start_date, partner.end_date]);
                partnerFormNames.forEach((partnerFormName) => {
                    document.getElementById(partnerFormName + loopIndex).value = partner[partnerFormName]
                });
                document.getElementById('rowPartner' + loopIndex).innerHTML = partner.name;
                syncTableWithForm(loopIndex);
                shadeDates(loopIndex, null, 'shadeCell' + loopIndex);
            }
        }

        function addPartnerOnClick() {
            $('[id^=addPartner]').unbind().click(function () {
                let clickElem = "#" + $(this)[0].id;
                $(clickElem).prop("disabled", true);
                let oldHtml = $(clickElem).html();
                $(clickElem).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                  aria-hidden="true"></span> Loading...`
                );
                let selectedPartners = document.getElementById('partnerSelectAdd').selectize.getValue();
                document.getElementById('partnerSelectAdd').selectize.clear();
                let partners = selectedPartners.map(function (e) {
                    let metricElem = document.getElementById('colSelectPartner').querySelector('option[value="' + e + '"]');
                    let metrics = (metricElem === null) ? {estimated_cpc: 0, estimated_cpm: 0} : metricElem.dataset
                    return Object.assign({}, {name: e, total_budget: 0,
                        start_date: "{{ object.start_date }}", end_date: "{{ object.end_date }}"},
                        metrics)
                })
                partners.forEach(partner => {
                    addPartner(clickElem, oldHtml, partner);
                })
                $(clickElem).prop("disabled", false);
                $(clickElem).html(oldHtml);
            })
        }

        function addPhaseCard(loopIndex, phase = null) {
            let phaseCard = `
                <div id="toplinePhaseCard` + loopIndex + `"
                    class="card shadow outer text-center" style="display: none;">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <form id="toplinePhase` + loopIndex + `"  class="row">
                            <div class="col form-group">
                                <label class="control-label" for="phaseSelect` + loopIndex + `">Phase Name</label>
                                <select id="phaseSelect` + loopIndex + `"
                                        class="form-control form-control-sm"
                                        name="name` + loopIndex + `">
                                </select>
                            </div>
                            <div class="col form-group">
                                <label class="control-label" for="datePicker` + loopIndex + `">Dates</label>
                                <input id="datePicker` + loopIndex + `"
                                       class="custom-select custom-select-sm
                                                              flatpickr flatpickr-input active"
                                       type="text" placeholder="Date"
                                       data-id="range" name="dates` + loopIndex + `"
                                       readonly="readonly" data-input>
                            </div>
                        </form>
                    </div>
                </div>
            `
            let elem = document.getElementById('planTableSlide');
            elem.insertAdjacentHTML('beforeend', phaseCard);
            togglePhaseCard(loopIndex);
            editPhaseOnClick();
            addSelectize();
            addDatePicker();
            if (phase) {
                let selectize = $('#phaseSelect' + loopIndex)[0].selectize;
                selectize.addOption({
                    text: phase.name,
                    id: phase.name,
                    value: phase.name
                });
                selectize.setValue(phase.name);
                let fp = document.getElementById("datePicker" + loopIndex)._flatpickr;
                fp.setDate([phase.start_date, phase.end_date]);
            }
        }

        function turnOffAllCards() {
            document.getElementById('planTableSlideCol').style.display = 'none';
            let allCards = document.querySelectorAll("[id^='toplinePhaseCard']");
            allCards.forEach(card => {
                card.style.display = 'none'
            });
        }

        function togglePhaseCard(currentIndex) {
            let currentCard = document.getElementById('toplinePhaseCard' + currentIndex);
            if (currentCard.style.display === 'none') {
                turnOffAllCards();
                currentCard.style.display = '';
                document.getElementById('planTableSlideCol').style.display = '';
            }
            else {
                turnOffAllCards();
            }
        }

        function editPhaseOnClick() {
            $('[id^=planTablePhaseHeader]').unbind().click(function () {
                let currentIndex = this.id.replace('planTablePhaseHeader', '');
                togglePhaseCard(currentIndex);
            })
        }

        function addPhaseOnClick() {
            $('[id^=addPhase]').unbind().click(function () {
                let clickElem = "#" + $(this)[0].id;
                $(clickElem).prop("disabled", true);
                let oldHtml = $(clickElem).html();
                $(clickElem).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                  aria-hidden="true"></span> Loading...`
                );
                addPhase({'name': 'NEW PHASE'});
                $(clickElem).prop("disabled", false);
                $(clickElem).html(oldHtml);
            })
        }

        function addDatePicker() {
            let selector = '[id^=datePicker]';
            $(selector).flatpickr({
                mode: "range",
                inline: true
            });
            $(selector).change(function () {
                let loopIndex = this.id.replace('datePicker', '');
                let shadeColor = loopIndex.replace('-', '')
                shadeDates(loopIndex, null, 'shadeCell' + shadeColor);
            });
        }

        function submitToplineForm(formContinue) {
            let formTopline = $('[id^=toplinePartner]').serializeArray();
            saveToplinePartners(formTopline, formContinue);
        }

        function saveToplinePartners(formTopline, formContinue) {
            $.ajax({
                type: "POST",
                url: "/save_topline",
                data: {
                    object_name: "{{ object_name }}",
                    object_type: "{{ title }}",
                    object_level: "{{ edit_name }}",
                    placement_form: formTopline
                },
            }).done(function (data, status) {
                displayAlert(data['message'], data['level'])
                if (data['level'] === 'success') {
                    let element = document.getElementsByClassName('jumbotron')[0];
                    let originalColor = element.style.backgroundColor;
                    element.style.backgroundColor = "#b3ecff";
                    let t = setTimeout(function () {
                        element.style.backgroundColor = originalColor;
                    }, (2 * 1000));
                if (formContinue) {
                    let nextPage = window.location.href.replace(
                        '#', '').replace('clean', 'export')
                    window.location.href = nextPage
                    }
                }

            }).fail(function (jqXHR, textStatus) {

            }).always(function () {
                $('#loadingBtn').remove();
                $('#loadRefresh').show();
                unanimateBar();
            });
        }

        function addCurrentPartners(partners){
            partners.forEach(partner => {
                addPartner('', '', partner);
            });
        }

        $('.collapse').on('show.bs.collapse', function () {
            $('.collapse.in').collapse('hide');
        });

        function getAllElementsWithAttribute(attribute) {
            let matchingElements = [];
            let allElements = document.querySelectorAll("#planTable > thead > tr > th");
            for (let i = 0, n = allElements.length; i < n; i++) {
                if (allElements[i].getAttribute(attribute) !== null) {
                    matchingElements.push(allElements[i]);
                }
            }
            return matchingElements;
        }

        function syncTableWithForm(loopIndex) {
            let partnerFormNames = ['total_budget', 'estimated_cpm', 'estimated_cpc', 'cplpv', 'cpbc', 'cpv', 'cpcv']
            partnerFormNames.forEach((partnerFormName) => {
                document.getElementById('row' + partnerFormName + loopIndex).innerHTML = "$" + document.getElementById(partnerFormName + loopIndex).value;
            });
            if (document.getElementById('rowtotal_budget' + loopIndex).innerHTML === "$0") {
                document.getElementById('tr' + loopIndex).classList.add('shadeCell2');
            }
            else {
                document.getElementById('tr' + loopIndex).classList.remove('shadeCell2');
            }
            populateTotalCards();
        }

        function formatNumber(currentNumber) {
            return currentNumber.toFixed(0).toLocaleString("en-US").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function populateTotalCards() {
            let table = document.getElementById("accordionPlan");
            let formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
            });
            let partnerFormNames = [
                ['', 'total_budget', 1],
                ['estimated_cpm', 'Impressions', 0],
                ['estimated_cpc', 'Clicks', 0],
                ['cplpv', 'Landing Page', 0],
                ['cpbc', 'Button Clicks', 0],
                ['cpv', 'Views', 0],
                ['cpcv', 'Video Views 100', 0]]
            let data = [];
            data = partnerFormNames.map(function (e) {
                return {name: e[1], numeric_value: 0, current_value: 0, msg: '', change: ''}
            })
            if (table) {
                for (let i = 0; i < (table.rows.length - 1); i += 2) {
                    let partnerNum = i / 2;
                    let partnerCost =  parseFloat(document.getElementById('rowtotal_budget' + partnerNum).innerHTML.replace('$', ''));
                    partnerFormNames.forEach(partnerFormName => {
                        let costPerName =  partnerFormName[0];
                        let summableName = partnerFormName[1];
                        let targetColName = partnerFormName[partnerFormName[2]];
                        let rowValue = parseFloat(document.getElementById('row' + targetColName + partnerNum).innerHTML.replace('$', ''));
                        let idx = data.findIndex(x => x.name === summableName);
                        if (costPerName !== '') {
                            rowValue = partnerCost / rowValue;
                            if (summableName === 'Impressions') {
                                rowValue = rowValue * 1000;
                            }
                            document.getElementById('row' + summableName + partnerNum).innerHTML = formatNumber(rowValue);
                        }
                        data[idx]['numeric_value'] += rowValue;
                    });
                }
            }
            let idxSumCost = data.findIndex(x => x.name === 'total_budget');
            let sumCost = data[idxSumCost]['numeric_value'];
            partnerFormNames.forEach(partnerFormName => {
                let costPerName = partnerFormName[0];
                let summableName = partnerFormName[1];
                let idx = data.findIndex(x => x.name === summableName);
                data[idx]['current_value'] = formatNumber(data[idx]['numeric_value']);
                if (costPerName !== '') {
                    let curVal = sumCost / data[idx]['numeric_value'];
                    if (summableName === 'Impressions') {
                        curVal = curVal * 1000;
                    }
                    data.push({name: costPerName, numeric_value: curVal, current_value: formatter.format(curVal)})
                }
                else {
                    data[idx]['msg'] = "Of Total Budget";
                    data[idx]['change'] = sumCost / parseFloat("{{ object.total_budget }}");
                }
            });
            generateTotalCards('totalCards', data);
        }

        function sortTable() {
            const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
            const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
                    v1 !== '' && v2 !== '' && !isNaN(v1.replace('$','')) && !isNaN(v2.replace('$','')) ? v1.replace('$','') - v2.replace('$','') : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = document.getElementById('accordionPlan');
                let sortArrow = th.getElementsByClassName('fas');
                if (sortArrow.length > 0) {
                    let downArrow = sortArrow[0].classList.contains('fa-arrow-down');
                    let arrowReplace = (downArrow) ? ['down', 'up'] : ['up', 'down'];
                    sortArrow[0].className = sortArrow[0].className.replace(arrowReplace[0], arrowReplace[1]);
                } else {
                    th.innerHTML += `<i class="fas fa-arrow-down" href="#" role="button"></i>`;
                }
                Array.from(table.querySelectorAll('.accordion-toggle'))
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(function(tr) {
                        let loopIndex = tr.id.replace('tr', '');
                        let hiddenElem = document.getElementById('trHidden' + loopIndex);
                        hiddenElem.remove();
                        table.appendChild(tr);
                        table.appendChild(hiddenElem);
                    });
            })));
        }

        function searchTable() {
            const trs = document.querySelectorAll('#accordionPlan tr:not(.header)')
            const filter = document.querySelector('#tableSearchInput').value
            const regex = new RegExp(filter, 'i')
            const isFoundInTds = td => regex.test(td.innerHTML)
            const isFound = childrenArr => childrenArr.some(isFoundInTds)
            const setTrStyleDisplay = ({style, children}) => {
                style.display = isFound([
                    ...children // <-- All columns
                ]) ? '' : 'none'
            }
            trs.forEach(setTrStyleDisplay)
        }

        function addPhase(phase, tableName = 'planTable') {
            let thead = document.getElementById(tableName + 'THead');
            let phaseHeaders = document.querySelectorAll("[id^='" + tableName + "PhaseHeader']");
            let tHeadIds = Array.prototype.map.call(phaseHeaders, function (elem) {
                return parseInt(elem.id.replace('planTablePhaseHeader', ''));
            });
            let minId = (tHeadIds.length !== 0) ? (Math.min.apply(Math, tHeadIds) - 1).toString() : '-1';
            let colorClass = "shadeCell" + minId.replace('-', '');
            let tableHeaders = getRowHtml(minId);
            let phaseRow = `
            <tr id="planTablePhaseHeader` + minId + `">
                ` + tableHeaders + `
            </tr>`;
            thead.innerHTML = phaseRow + thead.innerHTML;
            let firstCell = document.getElementById('rowPartner' + minId);
            firstCell.classList.add('text-uppercase');
            firstCell.classList.add('font-weight-bold');
            document.getElementById('rowPartner' + minId).innerHTML = phase.name;
            shadeDates(minId, [phase.start_date, phase.end_date], colorClass);
            addPhaseCard(minId, phase);
        }

        function addCurrentPhases(phases, tableName = 'planTable') {
            phases.forEach(function (phase, i) {
                addPhase(phase, tableName);
            });
            turnOffAllCards();
        }

        function addTableColumns(cols, name) {
            let table = document.getElementById(name);
            table.innerHTML += `<thead id ="planTableTHead"><tr id=` + name + `Header></tr></thead>`;
            let thead = document.getElementById(name + 'Header');
            cols.forEach(col => {
                let colName = col['name'];
                thead.innerHTML += `<th id="col` + colName +`">` + colName + `</th>`;
                if (col['type'] === 'select') {
                    let selectName = 'colSelect' + colName;
                    let colElem = document.getElementById('col' + colName);
                    colElem.innerHTML += `<select id="` + selectName + `" hidden=''></select>`;
                    let colSelectElem = document.getElementById(selectName);
                    col['values'].forEach(val => {
                        colSelectElem.innerHTML += `
                            <option data-estimated_cpm="` + val['eCPM'] + `"
                                    data-estimated_cpc="` + val['eCPC'] + `"
                                    data-cplpv="` + val['CPLPV'] + `"
                                    data-cpbc="` + val['CPBC'] + `"
                                    data-CPV="` + val['CPV'] + `"
                                    data-CPCV="` + val['CPCV'] + `"
                                    value="` + val['name'] + `">` + val['name'] + `</option>`;
                    })
                    document.getElementById('selectAddPartnerPlaceholder').innerHTML = `
                        <select id="partnerSelectAdd" multiple="" class="width100 form-control">
                            <option value="">Select Partners To Add...</option>
                        </select>`;
                    document.getElementById('partnerSelectAdd').innerHTML += document.getElementById('colSelectPartner').innerHTML;
                    addSelectize();
                }
            });
        }

        function getToplineTable() {
            $.ajax({
                type: "POST",
                url: "/get_topline",
                data: {
                    object_name: "{{ object_name }}",
                    object_type: "{{ title }}",
                    object_level: "{{ edit_name }}",
                },
            }).done(function (data, status) {
                addTableColumns(data['data']['cols'], 'planTable');
                addCurrentPhases(data['data']['phases']);
                addCurrentPartners(data['data']['partners']);
                populateTotalCards();
                addSelectize();
                addDatePicker();
            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);
            }).always(function () {
            });
        }

        $(document).ready(function () {
        {% if edit_name == 'Topline' %}
            getToplineTable();
            addPartnerOnClick();
            addPhaseOnClick();
        {% endif %}
        });

    </script>
{% endblock %}
