{% extends "create_processor.html" %}
{% block app_content_2 %}
    <style>
        .table .card-deck {
            overflow-x: scroll;
        }

        .card {
            min-width: 100px;
        }

        th, td {
            min-width: 25px;
        }

        .hiddenRow {
            padding: 0 !important;
        }

        th {
            cursor: pointer;
        }

        tr:hover {
            background-color: lightsteelblue !important;
        }

        tr:hover td {
            background-color: transparent;
        }

        .shadeCellError {
            background-color: rgb(214,39,40) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell {
            background-color: #b3ecff !important;
            transition: all 1s;
        }

        .shadeCell0 {
            background-color: rgb(31,119,180) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell1 {
            background-color: rgb(174,199,232) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell2 {
            background-color: rgb(255,187,120) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell3 {
            background-color: rgb(152,223,138) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell4 {
            background-color: rgb(255,152,150) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell5 {
            background-color: rgb(197,176,213) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell6 {
            background-color: rgb(196,156,148) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell7 {
            background-color: rgb(247,182,210) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell8 {
            background-color: rgb(199,199,199) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell9 {
            background-color: rgb(219,219,141) !important;
            opacity: 0.5;
            transition: all 1s;
        }

        .shadeCell10 {
            background-color: rgb(158,218,229) !important;
            opacity: 0.5;
            transition: all 1s;
        }

    </style>
    <div id="tableDiv"></div>
    <script>
        function submitToplineForm(formContinue, tableName) {
            let formTopline = {};
            let topRowIdPrefix = 'topRowHeader' + tableName;
            let topRowsName = document.getElementById(tableName + 'TableSlideCol').getAttribute('data-value');
            let rowName = document.getElementById(`${tableName}Table`).getAttribute('data-value');
            let topRowElems = document.querySelectorAll(`[id^="${topRowIdPrefix}"]`);
            Array.prototype.map.call(topRowElems, function (elem) {
                elem.click();
                let curIdx = elem.id.replace(topRowIdPrefix, '');
                formTopline[curIdx] = {topRowsName: {}, rowName: {}}
                formTopline[curIdx][topRowsName] = Object.fromEntries(new FormData(document.querySelector(`[id^=${tableName}${topRowsName}${curIdx}]`)));
                formTopline[curIdx][rowName] =  $(`[id^=form${tableName}]`).serializeArray();
                elem.click();
            });
            saveToplineTable(formTopline, formContinue);
        }

        function saveToplineTable(formTopline, formContinue) {
            $.ajax({
                type: "POST",
                url: "/save_topline",
                data: {
                    object_name: "{{ object_name }}",
                    object_type: "{{ title }}",
                    object_level: "{{ edit_name }}",
                    placement_form: JSON.stringify(formTopline)
                },
            }).done(function (data, status) {
                displayAlert(data['message'], data['level'])
                if (data['level'] === 'success') {
                    let element = document.getElementsByClassName('jumbotron')[0];
                    let originalColor = element.style.backgroundColor;
                    element.style.backgroundColor = "#b3ecff";
                    let t = setTimeout(function () {
                        element.style.backgroundColor = originalColor;
                    }, (2 * 1000));
                if (formContinue) {
                    window.location.href = window.location.href.replace(
                        '#', '').replace('topline', 'sow')
                    }
                }

            }).fail(function (jqXHR, textStatus) {

            }).always(function () {
                $('#loadingBtn').remove();
                $('#loadRefresh').show();
                unanimateBar();
            });
        }

        $('.collapse').on('show.bs.collapse', function () {
            $('.collapse.in').collapse('hide');
        });

        document.addEventListener("DOMContentLoaded", function() {
            let tableName = 'tableDiv';
            let data = {
                object_type: "{{ title }}",
                object_name: "{{ object_name }}",
                object_level: "{{ edit_name }}",
            }
            let kwargs = {'tableName': tableName}
            {% if edit_name == 'Topline' %}
                makeRequest('/get_topline', 'POST', data, createLiquidTable, 'json', kwargs);
            {% elif edit_name == 'Plan Rules' %}
                makeRequest('/get_plan_rule', 'POST', data, createLiquidTable, 'json', kwargs);
            {% endif %}
        });
    </script>
{% endblock %}
