{% extends "create_processor.html" %}
{% block app_content_2 %}
    {% if edit_name == 'Topline' %}
        <button id="addPartner"
                class="btn btn-outline-success btn-block text-left"
                type="button" href="">
            <i class="fas fa-plus"
               role="button"></i>
            {{ _('Add Partner') }}
        </button><br>
        <div class="accordion" id="accordionPlan"></div>
    {% endif %}
    <script>
        function addPartner(clickElem, oldHtml) {
            let d1 = document.getElementById('accordionPlan');
            let loopIndex = d1.children[d1.children.length - 1]
            loopIndex = loopIndex ? (parseInt(loopIndex.id.replace('card', '')) + 1).toString() : '0'
            let partnerCard = `
                <div class="card" id="card` + loopIndex + `">
                    <button class="btn btn-block collapsed text-left progress-bar"
                            id="heading"` + loopIndex + `
                            type="button"
                            style="background-color: #ffcccb;width:100%;color:black;"
                            data-toggle="collapse"
                            data-target="#collapsePartner` + loopIndex + `"
                            aria-expanded="false"
                            aria-controls="collapsePartner` + loopIndex + `">
                    <form id="toplinePartner` + loopIndex + `"  class="row">
                        <div class="col form-group">
                            <select id="partnerSelect` + loopIndex + `"
                                    class="form-control form-control-sm"
                                    name="name` + loopIndex + `">
                                <option value="">Partner Name</option>
                            </select>
                        </div>
                        <div class="col form-group">
                            <input id="datePicker` + loopIndex + `"
                                   class="custom-select custom-select-sm
                                                          flatpickr flatpickr-input active"
                                   type="text" placeholder="Date"
                                   data-id="range" name="dates` + loopIndex + `"
                                   readonly="readonly" data-input>
                        </div>
                        <div class="col form-group">
                          <label class="control-label" for="total_budget` + loopIndex + `">Total Budget</label>
                          <input class="form-control form-control-sm" id="total_budget` + loopIndex + `" name="total_budget` + loopIndex + `" step="any" type="number" value="">
                        </div>
                        <div class="col form-group">
                          <label class="control-label" for="estimated_cpm` + loopIndex + `">CPM</label>
                          <input class="form-control form-control-sm" id="estimated_cpm` + loopIndex + `" name="estimated_cpm` + loopIndex + `" step="any" type="number" value="">
                        </div>
                        <div class="col form-group">
                          <label class="control-label" for="estimated_cpc` + loopIndex + `">CPC</label>
                          <input class="form-control form-control-sm" id="estimated_cpc` + loopIndex + `" name="estimated_cpc` + loopIndex + `" step="any" type="number" value="">
                        </div>
                    </form>
                    </button>
                    <div id="collapsePartner` + loopIndex + `" class="collapse"
                         aria-labelledby="heading` + loopIndex + `"
                         data-parent="#accordionPlan">
                        <div class="card-body">
                            <div class="accordion" id="accordionProcessor` + loopIndex + `">
                            </div>
                        </div>
                    </div>
                </div>
            `;
            d1.insertAdjacentHTML('beforeend', partnerCard);
            $(clickElem).prop("disabled", false);
            $(clickElem).html(oldHtml);
            addSelectize()
            addDatePicker()
        }

        function addPartnerOnClick() {
            $('[id^=addPartner]').unbind().click(function () {
                let clickElem = "#" + $(this)[0].id;
                $(clickElem).prop("disabled", true);
                let oldHtml = $(clickElem).html();
                $(clickElem).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                  aria-hidden="true"></span> Loading...`
                );

                addPartner(clickElem, oldHtml);
            })
        }

        function addDatePicker() {
            $('[id^=datePicker]').flatpickr({
                mode: "range",
            });
        }

        function submitToplineForm(formContinue) {
            let formTopline = $('[id^=toplinePartner]').serializeArray()
            saveToplinePartners(formTopline, formContinue)
        }

        function saveToplinePartners(formTopline, formContinue) {
            $.ajax({
                type: "POST",
                url: "/save_topline",
                data: {
                    object_name: "{{ object_name }}",
                    object_type: "{{ title }}",
                    object_level: "{{ edit_name }}",
                    placement_form: formTopline
                },
            }).done(function (data, status) {
                displayAlert(data['message'], data['level'])
                if (data['level'] === 'success') {
                    let element = document.getElementsByClassName('jumbotron')[0];
                    let originalColor = element.style.backgroundColor;
                    element.style.backgroundColor = "#b3ecff";
                    let t = setTimeout(function () {
                        element.style.backgroundColor = originalColor;
                    }, (2 * 1000));
                if (formContinue) {
                    let nextPage = window.location.href.replace(
                        '#', '').replace('clean', 'export')
                    window.location.href = nextPage
                    }
                }

            }).fail(function (jqXHR, textStatus) {

            }).always(function () {
                $('#loadingBtn').remove()
                $('#loadRefresh').show()
                unanimateBar()
            });
        }

        $(document).ready(function () {
            addPartnerOnClick();

            addSelectize();
            addDatePicker();
        });

    </script>
{% endblock %}
