<div class="card shadow outer">
    <div class="card-header">
        <h3>Client Directory<i class="bi bi-diagram-3 btn btn-secondary"
                           style="float:right;"></i></h3>
        <h6 class="card-subtitle mb-2 text-muted">Simple listings and links that have been filtered.</h6>
    </div>
    <div class="card-body">
        <div class="accordion" id="accordionClient">
        {% set clients=client_dict if client_dict else clients %}
        {% for client in clients %}
            {% set client_loop = loop %}
            <div class="card">
                <button class="btn btn-dark w-100
                               collapsed text-start"
                        id="heading{{ loop.index }}"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ loop.index }}"
                        aria-expanded="false"
                        aria-controls="collapse{{ loop.index }}">
                  {{ client.name }}<span class="caret"></span>
                </button>
                <div id="collapse{{ loop.index }}" class="collapse"
                     aria-labelledby="heading{{ loop.index }}"
                     data-bs-parent="#accordionClient">
                  <div class="card-body">
                    <div class="accordion" id="accordionProduct">
                    {% set products=client_dict[client] if client_dict else client.product.order_by('name')%}
                      {% for product in products %}
                        {% set product_loop = loop %}
                        <div class="card">
                            <button class="btn btn-outline-primary
                                           w-100 text-start collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ client_loop.index }}_{{ product_loop.index }}"
                                    aria-expanded="false"
                                    aria-controls="collapse{{ client_loop.index }}_{{ product_loop.index }}"
                                    id="heading{{ client_loop.index }}_{{ product_loop.index }}">
                              {{ product.name }}
                            </button>
                            <div id="collapse{{ client_loop.index }}_{{ product_loop.index }}"
                                 class="collapse"
                                 aria-labelledby="heading{{ client_loop.index }}_{{ product_loop.index }}"
                                 data-bs-parent="#accordionProduct">
                              <div class="card-body">
                                  <div class="accordion" id="accordionCampaign">
                                  {% set campaigns=client_dict[client][product] if client_dict else product.campaign.order_by('name')%}
                                      {% for campaign in campaigns %}
                                          <div class="card">
                                            <button class="btn btn-outline-info
                                                           w-100 text-start collapsed"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapse{{ client_loop.index }}_{{ product_loop.index }}_{{ loop.index }}"
                                                    aria-expanded="false"
                                                    aria-controls="collapse{{ client_loop.index }}_{{ product_loop.index }}_{{ loop.index }}"
                                                    id="heading{{ client_loop.index }}_{{ product_loop.index }}_{{ loop.index }}">
                                              {{ campaign.name }}
                                            </button>
                                          <div id="collapse{{ client_loop.index }}_{{ product_loop.index }}_{{ loop.index }}"
                                             class="collapse"
                                             aria-labelledby="heading{{ client_loop.index }}_{{ product_loop.index }}_{{ loop.index }}"
                                             data-bs-parent="#accordionCampaign">
                                          <div class="card-body">
                                          {% set processors=client_dict[client][product][campaign] if client_dict else campaign.get_objects(title).order_by('name') %}
                                          {% for processor in processors %}
                                          <a class="btn btn-outline-success w-100 text-center"
                                             style="word-wrap: break-word; word-break: break-word; overflow-wrap: break-word;"
                                             href="{{ processor.get_url() }}">
                                              {{ processor.name }}</a>
                                          {% endfor %}
                                          </div>
                                          </div>
                                          </div>
                                      {% endfor %}
                                  </div>
                              </div>
                            </div>
                        </div>
                      {% endfor %}
                  </div>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
        </div>
</div>