<div class="card mb-3">
    <div class="card-header">
        <h3>
            <span class="nowrap">
            <a href="{{ url_for('main.edit_processor_view_fix',
            object_name=fix.processor.name, fix_id=fix.id) }}">
            {{ processor.name }} - Fix Request #{{ fix.id }}</a>
            {% if not fix.complete %}
                {% if fix.fix_type in ['max_api_length', 'unknown', 'raw_file_update', 'placement_col', 'double_counting_all'] %}
                    <button class="btn btn-outline-success rounded-pill" id="quickFix{{ fix.id }}" style="float: right;">
                    Quick Fix</button>
                {% endif %}
                <div class="dropdown" style="float: right;">
                  <button class="btn btn-danger rounded-pill dropdown-toggle
                                 dropdown-toggle-split"
                          type="button" id="dropdownMenu2"
                          data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" style="float: right;">
                    Unresolved
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item"
                       href="{{  url_for('main.resolve_fix', fix_id=fix.id) }}"
                       type="button">Mark Resolved</a>
                  </div>
                </div>
             {% else %}
                <div class="dropdown" style="float: right;">
                  <button class="btn btn-success rounded-pill dropdown-toggle
                                 dropdown-toggle-split"
                          type="button" id="dropdownMenu2"
                          data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" style="float: right;">
                    Resolved
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item"
                       href="{{ url_for('main.unresolve_fix', fix_id=fix.id) }}"
                       type="button">Mark Unresolved</a>
                  </div>
                </div>
            {% endif %}
            <h6 class="mt-0">{{ _('was created %(when)s',
            when=moment(fix.created_at).fromNow()) }}</h6>
            </span>
        </h3>
    </div>
    <div class="card">
        <div class="card-body">
        <p class="card-text">
            {% for col, value in fix.to_dict().items() %}
                {% if value %}
                    <span id="campaign{{ processor.id }}">
                        {{ col }}: {{ value }}</span>
                    <br>
                {% endif %}
            {% endfor %}
        </p>
        </div>
        <div class="card-footer">
            {% with post = fix.get_last_post() %}
                {% if post %}
                    {% include '_post.html' %}
                {% else %}
                    <h5 class="sidebar-heading d-flex
                    justify-content-between align-items-center">
                        <span>{{ _('Fix has no Posts') }}</span>
                    </h5>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('button[id^="quickFix"]').unbind().click(function () {
            let dropdownButton = "#" + $(this)[0].id;
            $(dropdownButton).prop("disabled", true);
            let oldHtml = $(dropdownButton).html();
            $(dropdownButton).html(
                `<span class="spinner-grow spinner-grow-sm" role="status"
                      aria-hidden="true"></span> Loading...`
            );
            let fixId = this.id.replace('quickFix', '')
            getTable('quick_fix', dropdownButton, oldHtml, 'None', 'None', false, fixId);
        });
    });
</script>