<div id='listTabs' class="btn-group btn-block" style="opacity:.7;">
        <a id="loadRefresh" type="submit" class="btn btn-outline-success" href="">
            <i class="fas fa-sync-alt" href="#" role="button"></i>
            {{ _('Save & Refresh') }}
        </a>
    {% include '_nav_page_links.html' %}
        <a id="loadContinue" type="submit" class="btn btn-outline-success" href="">
            {{ _('Save & Continue') }}
            <i class="fas fa-arrow-circle-right" href="#" role="button"></i>
        </a>
</div>
