<table class="table table-hover">
    <tr><td>
    <div class="bg-light text-dark">
        {% set user_link %}
            <span class="user_popup">
                <a href="{{ url_for('main.user',
                username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </span>
        {% endset %}
            <div class="media">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img class="mr-3"
                       src="{{ post.author.avatar(70) }}"
                       alt="Generic placeholder image"></a>
          <div class="media-body">
            <h6 class="mt-0">{{ _('%(username)s said %(when)s',
            username=user_link, when=moment(post.timestamp).fromNow()) }}</h6>
            {% if post.processor_id %}
                <span class="processor_popup">
                    <a href="{{ url_for('main.processor_page',
                     processor_name=post.processor.name) }}">
                        {{ post.processor.name }}
                    </a>
                </span>
            {% endif %}
            {% if post.uploader_id %}
                <span class="uploader_popup">
                    <a href="{{ url_for('main.uploader_page',
                     uploader_name=post.uploader.name) }}">
                        {{ post.uploader.name }}
                    </a>
                </span>
            {% endif %}
            <span id="post{{ post.id }}">{{ post.body }}</span>
                {% if post.language and post.language != g.locale %}
                <br><br>
                <span id="translation{{ post.id }}">
                    <a href="javascript:translate(
                                '#post{{ post.id }}',
                                '#translation{{ post.id }}',
                                '{{ post.language }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
             {% endif %}
          </div>
        </div></div>
    </td></tr>
</table>