<div class="carousel-item{% if loop_num == 1 %} carousel-item active{% endif %} style">
    <p class="text-dark"><strong>
        {% set user_link %}
            <span class="user_popup">
                <a href="{{ url_for('main.user',
                    username=processor.user.username) }}">
                    {{ processor.user.username }}</a>
            </span>
        {% endset %}
        {% set processor_link %}
            <span class="processor_popup">
                <a href="{{ url_for('main.processor_page',
                processor_name=processor.name) }}"
                id="currentProcessor">
                    {{ processor.name }}
                </a>
            </span>
        {% endset %}
        {{ _('%(username)s created %(name)s at %(when)s',
            username=user_link, name=processor_link,
            when=moment(processor.created_at).fromNow()) }}
        <br>
        <span id="campaign{{ processor.id }}">
            Campaign: {{ processor.campaign.name}}</span><br>
        <span id="product{{ processor.id }}">
            Product: {{ processor.campaign.product.name}}</span><br>
        <span id="client{{ processor.id }}">
            Client: {{ processor.campaign.product.client.name}}</span><br>
        <span id="location{{ processor.id }}">
            Location: {{ processor.local_path }}</span><br>
        <span id="last_run{{ processor.id }}">
            Last Run: {{ moment(processor.last_run_time).fromNow() }}</span><br>
        <span id="description{{ processor.id }}">
            Description: {{ processor.description}}</span>
    </strong></p>
    <br>
    {% if processor.tableau_workbook %}
    <center>
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
        <div class='tableauPlaceholder' style='width: 1350px; height: 897px;'>
            <object class='tableauViz' width='1350' height='897' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='&#47;t&#47;liquidadvertising' />
                <param name='name' value='{{ processor.tableau_workbook }}&#47;{{ processor.tableau_view }}' />
                <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                <param name='showAppBanner' value='false' />
                <param name='filter' value='iframeSizedToWindow=true' />
            </object>
        </div>
    </center>
    {% endif %}
</div>