<button id="modalRawFileButton" type="button" class="btn btn-primary"
        data-toggle="modal" data-target="#modalRawFile" style="display: none;">
    Launch demo modal
</button>
<div class="modal fade bd-example-modal-xl" id="modalRawFile" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl mw-100 w-90" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col card-header">
                    <h3>Raw File Check<i class="fas fa-file-export btn btn-secondary"
                                       style="float:right;"></i></h3>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Automated checks between the file you just supplied and the
                        one currently in the processor are below.  Your new file will
                        not be saved unless you click save at the bottom of this modal.
                    </h6>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="rawFileBody" class="col">
                        <table id="rawFileTable"
                               class="table table-striped table-responsive-sm small">
                            <thead class="fs-7 text-gray-400 text-uppercase">
                            <tr>
                                <th>CHECK TYPE</th>
                                <th>NEW FILE</th>
                                <th>OLD FILE</th>
                            </tr>
                            </thead>
                            <tbody class="fs-5" id="rawFileTableBody">

                            </tbody>
                        </table>
                    </div>
                    <div id="rawFileGraphBody" class="col">
                        <div class="row">
                            <div class="col mb-3">
                                <select id="dashSelect" class="form-control form-control-sm">
                                    <option value="">Select Dashboard...
                                    </option>
                                    {% for dash in ['Date', 'mpCampaign', 'mpVendor', 'mpKpi', 'mpEnvironment'] %}
                                        <option value="{{ dash }}">{{ dash }}</option>
                                    {% endfor %}
                                </select>
                                <select id="metricSelect" class="form-control form-control-sm">
                                    <option value="">Select Metric...
                                    {% for dash in ['Impressions', 'Clicks', 'Net Cost'] %}
                                        <option value="{{ dash }}">{{ dash }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="dashFooter" style="display: none;">
                            <div id="" class="row">
                                <div class="col">
                                    {% for dash in ['newFilePlot', 'oldFilePlot', 'deltaFilePlot'] %}
                                        <div class="card-header">
                                            <h7 class="mb-3">{{ dash }}</h7>
                                            <select id="{{ dash }}MetricsChartPlaceholderSelect"
                                                    class="form-control form-control-sm">
                                                <option>Select Metric</option>
                                            </select>
                                        </div>
                                        <div class="shadow outer">
                                            <div id="{{ dash }}MetricsProgress">
                                            </div>
                                            <div id="{{ dash }}Metrics"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-lg btn-block" role="group"
                     aria-label="Basic example">
                    <button type="button" class="btn btn-success"
                            id="modalRawFileSaveButton"
                            onclick="SendDataTable('modalRawFile')">Save
                    </button>
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if (("{{ edit_name }}" === 'Clean') || ("{{ edit_name }}" === 'Import')) {
        document.addEventListener('FilePond:processfile', (e) => {
            showModalTable('modalRawFileButton');
            let rawFileTableBodyId = 'rawFileTableBody';
            let elem = document.getElementById(rawFileTableBodyId);
            if ("{{ edit_name }}" === 'Clean') {
                var vendorKey = $('#data_source_clean').val();
            } else {
                try {
                    vendorKey = e.target.parentElement.parentElement.parentElement.querySelectorAll("[id*='vendor_key']")[0].value
                } catch (err) {
                    vendorKey = 'None';
                }
            }
            let base_table_html = `<table id="rawFileTable"
                               class="table table-striped table-responsive-sm small">
                            <thead class="fs-7 text-gray-400 text-uppercase">
                            <tr>
                                <th>CHECK TYPE</th>
                                <th>NEW FILE</th>
                                <th>OLD FILE</th>
                            </tr>
                            </thead>
                            <tbody class="fs-5" id="rawFileTableBody">

                            </tbody>
                        </table>`;
            document.getElementById('rawFileBody').innerHTML = base_table_html;
            $('#rawFileBody').attr('data-vk', vendorKey);
            getTable('raw_file_comparison', rawFileTableBodyId, 'None', vendorKey, 'None', false);
            changeMetrics();
        });
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function parseRawComp(fullData){
        $('#dashSelect')[0].selectize.setValue('Date');
        let elem = $('#rawFileTableBody');
        let data = fullData['data']['data'];
        let curEl = document.getElementById('rawFileTable');
        curEl.id = fullData['data']['name'];
        Object.keys(data).forEach(function (key, index) {
            setTimeout(function () {
                let idName = key.split('|')[0]
                let checkType = key.split('|')[1].replace(/\s/g, '');
                elem.append('<tr id="' + idName + '"><td>' + checkType + '</td></tr>');
                let newElem = $('#' + idName);
                let newRow = false;
                Object.keys(data[key]).forEach(function (newKey) {
                    if (!newRow && newKey === 'Old'){
                        let cellName = idName + 'New';
                        newElem.append('<td id=' + cellName + '></td>');
                    }
                    let cellName = idName + newKey;
                    newElem.append('<td id=' + cellName + '>' +
                        data[key][newKey][1] + '</td>');
                    let color = (data[key][newKey][0] === true) ? "#90EE90" : "#FF7F7F";
                    $('#' + cellName).animate({
                        backgroundColor: color
                    }, 500);
                    newRow = newKey === 'New';
                });
            }, 500 * index);
        });
    }

    function changeMetrics(){
        $('#metricSelect').unbind().on('change', function (e) {
            let selectedText = this.options[e.target.selectedIndex].text;
            $('#newFilePlotMetricsSelect')[0].selectize.setValue(selectedText);
            $('#oldFilePlotMetricsSelect')[0].selectize.setValue(selectedText);
            $('#deltaFilePlotMetricsSelect')[0].selectize.setValue(selectedText);
        });
    }

    function getSelectedDashboard() {
        $('[id^=dashSelect]').unbind().on('change', function (e) {
            let selectedText = this.options[e.target.selectedIndex].text;
            let procName = this.id.replace('dashSelect', '');
            $('#dashFooter' + procName).removeAttr('style');
            let metrics = ['kpi'];
            let filterDict = {};
            let chartFunction = (selectedText === 'Date') ? 'generateAreaChart'
                : 'generateBarChart';
            let vendorKey = $('#rawFileBody').data('vk');
            let new_file_args = getDataTableArgsDict(
                chartFunction, [selectedText], metrics, filterDict);
            getTable('newFilePlotMetrics', 'newFilePlotMetricsProgress', 'None', vendorKey,
                'None', true, 'None', false, new_file_args);
            getTable('oldFilePlotMetrics', 'oldFilePlotMetricsProgress', 'None', vendorKey,
                'None', true, 'None', false, new_file_args);
            getTable('deltaFilePlotMetrics', 'deltaFilePlotMetricsProgress', 'None', vendorKey,
                'None', true, 'None', false, new_file_args);
        });
        $('#select_plot').on('change', function (e) {
            let selectedText = this.options[e.target.selectedIndex].text
            let vendorKey = $('#data_source_clean').val();
            let metrics = ['kpi'];
            let filterDict = {};
            let chartFunction = (selectedText === 'Date') ? 'generateAreaChart' :
                'generateBarChart';
            let file_args = getDataTableArgsDict(
                chartFunction, [selectedText], metrics, filterDict);
            getTable('dash_placeholderMetrics', 'dash_placeholderMetricsProgress', 'None', vendorKey,
                'None', true, 'None', false, file_args);
        });
    }
</script>