<style>
    .h2 {
        min-height: 46px;
    }

    .checkbox {
        vertical-align: middle;
    }

    .hover {
        opacity: .5;
    }

    .d-none {
        display: none !important;
    }

    .bi-grip-vertical {
        align-self: center !important;
        vertical-align: middle;
        cursor: move;
        transform: scale(1.5);
    }

    .btn:focus {
        outline: none;
        box-shadow: none;
    }
</style>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js_utils.js') }}"></script>
<script>
    function toggleCheckbox(elem, checkbox, hover = false, leave = false) {
        if (hover && checkbox.checked) return;
        if ((!checkbox.checked && !hover) || (!checkbox.checked && leave)) {
            if (!hover) elem.dataset.selected = "false";
            elem.parentNode.childNodes.forEach(child => {
                child.childNodes.forEach(grandchild => {
                    if (grandchild.classList &&
                        grandchild.type !== "checkbox") {
                        grandchild.classList.add("d-none");
                        if (!hover) grandchild.dataset.selected = "false";
                    }
                });
            });
        } else {
            elem.dataset.selected = "true";
            elem.parentNode.childNodes.forEach(child => {
                child.childNodes.forEach(grandchild => {
                    if (grandchild.classList) {
                        grandchild.classList.remove("d-none");
                        if (hover) {
                            grandchild.classList.add("hover");
                            let checkbox = grandchild.querySelector('input[type="checkbox"]');
                            if (checkbox) checkbox.checked = false;
                        } else {
                            grandchild.classList.remove("hover");
                            let checkbox = grandchild.querySelector('input[type="checkbox"]');
                            let analysis = grandchild.querySelector('span');
                            if (checkbox && !analysis.classList.contains("d-none")) {
                                checkbox.checked = true;
                                grandchild.dataset.selected = "true";
                            }
                        }
                    }
                });
            });
        }
    }

    function addCheckBox(elem) {
        const checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.classList.add("checkbox");
        checkbox.checked = true;
        checkbox.addEventListener("change", () => {
            toggleCheckbox(elem, checkbox)
        });
        checkbox.addEventListener("mouseover", () => {
            toggleCheckbox(elem, checkbox, true)
        });
        checkbox.addEventListener("mouseleave", () => {
            toggleCheckbox(elem, checkbox, true, true)
        });
        elem.appendChild(checkbox);
        return checkbox
    }


    function findPos(event) {
        let id = JSON.parse(event.dataTransfer.types[0]);
        let draggableElement = document.getElementById(id);
        let dropzone = event.currentTarget;
        if (id.includes("header")) {
            draggableElement = draggableElement.parentNode;
            id = draggableElement.id.toString().toLowerCase();
            dropzone = dropzone.closest("[id*='section']");
        }
        let children = dropzone.parentNode.childNodes;
        for (let i = 0; i < children.length; i++) {
            if (children[i].id.toString().toLowerCase() === id) {
                return [draggableElement, dropzone, "afterend"];
            }
            if (children[i].id.toString().toLowerCase() === dropzone.id) {
                return [draggableElement, dropzone, "beforebegin"];
            }
        }
    }

    function onDrop(event) {
        event.currentTarget.classList.remove("border-top");
        event.currentTarget.classList.remove("border-bottom");
        const position = findPos(event);
        position[1].insertAdjacentElement(position[2], position[0]);
        event.dataTransfer.clearData();
    }

    function onDragLeave(event) {
        event.currentTarget.classList.remove("border-top");
        event.currentTarget.classList.remove("border-bottom");
    }

    function preventDrag(event) {
        event.preventDefault();
    }

    function onDragOver(event) {
        preventDrag(event);
        const position = findPos(event);
        let border = (position[2] === "beforebegin") ?
            "border-top" : "border-bottom";
        event.currentTarget.classList.add(border);
    }

    function onDrag(event) {
        let scrollThreshold = 30;
        let headerHeight = document.getElementById('navbar').offsetHeight;
        if (event.clientY < (scrollThreshold + headerHeight)) {
            window.scrollBy(0, -15);
        }
    }

    function onDragEnd(event) {
        window.addEventListener('scroll', getReportCharts);
        event.currentTarget.classList.remove('bg-light');
    }

    function onDragStart(event) {
        window.removeEventListener('scroll', getReportCharts);
        event.currentTarget.childNodes.forEach(child => {
            if (!child.draggable === true) {
                child.ondragstart = "preventDrag(event)"
            }
        });
        event.dataTransfer.setData(JSON.stringify(event.currentTarget.id),
            event.currentTarget.id);
        event.currentTarget.classList.add('bg-light');
        event.currentTarget.opacity = '1';
    }

    function addGrip(elem) {
        const grip = document.createElement('i');
        grip.classList = "bi bi-grip-vertical m-1";
        elem.appendChild(grip);
    }

    function addDragDrop(elem) {
        elem.draggable = true;
        elem.addEventListener('dragstart', function (e) {
            onDragStart(e)
        }, false);
        elem.addEventListener('dragend', function (e) {
            onDragEnd(e)
        }, false);
        elem.addEventListener('drag', function(e) {
            onDrag(e)
        });
        elem.addEventListener('dragover', function (e) {
            onDragOver(e)
        }, false);
        elem.addEventListener('dragleave', function (e) {
            onDragLeave(e)
        }, false);
        elem.addEventListener('drop', function (e) {
            onDrop(e)
        }, false);
    }

    function storeJsonAsDataAttr(data, elem) {
        for (let key in data) {
            if (!(['data', 'message'].includes(key))) {
                elem.setAttribute('data-' + key, data[key]);
            }
        }
        if (!('selected' in data)) elem.setAttribute('data-selected', 'true');
    }

    function checkHideHeaders(elem) {
        elem.childNodes.forEach(child => {
            if (child.id === 'saveRow') return;
            if (child.firstChild.dataset.selected === 'false') {
                let checkbox = child.firstChild.firstChild;
                checkbox.checked = false;
                toggleCheckbox(child.firstChild, checkbox);
            }
        });
    }

    function buildSection(data) {
        let newSection = document.createElement('div');
        newSection.id = ('section' + data['key']).toLowerCase();
        newSection.classList.add('mb-3');
        let newHeader = document.createElement('div');
        newHeader.id = ("header" + data['key']).toLowerCase();
        newHeader.classList.add('d-flex');
        newHeader.classList.add('align-items-center"');
        let checkbox = addCheckBox(newHeader);
        checkbox.classList.add('mt-3');
        checkbox.classList.add('mb-3');
        addGrip(newHeader);
        addDragDrop(newHeader);
        newSection.appendChild(newHeader);
        let header = document.createElement('h2');
        header.classList.add('pl-2');
        header.classList.add('m-0');
        header.contentEditable = 'true';
        header.style.display = "inline";
        header.innerHTML = data['message'];
        header.id = (data['key'] + 'text').toLowerCase();
        newHeader.appendChild(header);
        storeJsonAsDataAttr(data, newHeader);
        let reportElem = document.getElementById("reportBuilder");
        reportElem.appendChild(newSection);
        if (newHeader.dataset.selected === 'false') {
            checkbox.checked = false;
            toggleCheckbox(newHeader, checkbox);
        }
    }

    function getTagType(format){
        let tags = {
            'HEADING_1': 'h2',
            'HEADING_2': 'h4',
            'HEADING_3': 'h5',
            'HEADING_4': 'h6',
        };
        return tags.hasOwnProperty(format) ? tags[format] : 'span';
    }

    function buildReportElem(data) {
        if (data['format'] === "HEADING_1") {
            buildSection(data);
        } else {
            let key = data["key"];
            let dataId = (data['key'] + data['parameter'] + data['parameter_2']
                + data['split_col']).toLowerCase();
            let header = document.querySelector('[id*="' + key + '"]');
            let newBullet = document.createElement('div');
            newBullet.id = dataId;
            let newAnalysis = document.createElement('div');
            let checkbox = addCheckBox(newAnalysis);
            addGrip(newAnalysis);
            addDragDrop(newBullet);
            newBullet.appendChild(newAnalysis);
            let tag_type = getTagType(data['format']);
            let text = document.createElement(tag_type);
            text.classList.add('pl-2');
            text.classList.add('pr-2');
            text.classList.add('align-middle');
            text.classList.add('d-inline');
            text.contentEditable = 'true';
            text.innerHTML += data['message'];
            text.id = (data['key'] + data['parameter'] + data['parameter_2']
                + data['split_col'] + 'text').toLowerCase();
            newAnalysis.appendChild(text);
            header.appendChild(newBullet);
            if (data['data']) {
                let tableId = dataId + 'data';
                let tableDiv = document.createElement('div');
                tableDiv.id = tableId;
                newBullet.append(tableDiv);
                tableDiv.innerHTML = "";
                createLiquidTable(data, {'tableName': tableId});
                let table = newBullet.querySelector(".card");
                table.classList.remove("shadow");
                table.classList.add("m-4");
                table.style.lineHeight = .9;
            }
            storeJsonAsDataAttr(data, newAnalysis);
            if (newAnalysis.dataset.selected === 'false') {
                checkbox.checked = false;
                toggleCheckbox(newAnalysis, checkbox);
            }
        }
    }

    function getReportCharts() {
        let dateId = "report_date";
        let date = document.getElementById(dateId);
        if (date) {
            date = date.value;
            let chartFuncs = getAllChartFunctions();
            date = convertDateToISO(date);
            chartFuncs.forEach(function (func) {
                func([{
                    'eventdate': ['0001-01-01T00:00:00.000Z',
                        date.toString()]
                }], null, null, false, true)
            });
            buildCustomCharts('All', false)
        }
    }

    async function buildCustomReportCharts() {
        let customCharts = await getCustomCharts(true);
        let charts = [];
        customCharts.forEach(function (customChart) {
            charts.push({
                'key': `dash${customChart['id']}Metrics`,
                'name': `${customChart['name']}`,
                'selected': 'true'
            })
        });
        if (charts.length !== 0) {
            buildReportCharts(charts)
        }
    }

    function getDefaultCharts() {
        let charts = ['dailyMetrics', 'deliveryMetrics', 'partnerBarMetrics',
            'partnerSummaryMetrics', 'partnerTreeMetrics', 'pacingMetrics',
            'countryBarMetrics', 'countrySummaryMetrics',
            'targetingSummaryMetrics', 'placementBarMetrics',
            'placementSummaryMetrics', 'creativeSummaryMetrics'];
        let chart_args = [];
        charts.forEach(chart => {
            chart_args.push({
                'key': chart,
                'name': chart,
                'selected': 'true'
            });
        });
        return chart_args
    }

    function buildReportCharts(reportCharts) {
        let data = {'key': 'Charts', 'message': 'Charts'};
        buildSection(data);
        reportCharts = (reportCharts.length > 0) ? reportCharts : getDefaultCharts();
        let header = document.getElementById('section' + data['key'].toLowerCase());
        reportCharts.forEach(function (chart) {
            let id = `${chart.key.toLowerCase()}bullet`;
            let newBullet = document.createElement('div');
            newBullet.id = id;
            let newAnalysis = document.createElement('div');
            let checkbox = addCheckBox(newAnalysis);
            checkbox.onclick = getReportCharts;
            addGrip(newAnalysis);
            addDragDrop(newBullet);
            newBullet.appendChild(newAnalysis);
            let text = document.createElement('span');
            text.classList.add('pl-2');
            text.classList.add('pr-2');
            text.classList.add('align-middle');
            text.contentEditable = 'true';
            let chartName = chart.name.charAt(0).toUpperCase() + chart.name.slice(1);
            chartName = chartName.split(/(?=[A-Z])|\s+/).join(' ');
            text.innerHTML += chartName;
            text.id = (id + 'text').toLowerCase();
            newAnalysis.appendChild(text);
            let html =
                `<div class="card container-fluid shadow-sm outer p-0 remove-items-shadow">
                    <div id="${chart.key}"></div>
                    <div id="${chart.key}Progress"></div>
                </div>`;
            newBullet.insertAdjacentHTML('beforeend', html);
            header.appendChild(newBullet);
            storeJsonAsDataAttr(chart, newAnalysis);
            if (newAnalysis.dataset.selected === 'false') {
                checkbox.checked = false;
                toggleCheckbox(newAnalysis, checkbox);
            }
        });
    }

    async function getAnalysisJson(elem, name, date) {
        let analysisJson = {};
        for (let key in elem.firstChild.dataset) {
            analysisJson[key] = elem.firstChild.dataset[key];
        }
        let tableDiv = elem.querySelector('#' + elem.id + "data");
        let tableElem = elem.querySelector('#' + elem.id + "dataTable");
        let chartElem = elem.querySelector(`[id$='Metrics']`);
        let textElem = elem.querySelector('#' + elem.id + "text");
        analysisJson['message'] = (textElem) ? textElem.textContent : '';
        if (tableDiv) {
            if (tableElem) {
                let data = getTableAsArray(elem.id + "dataTable");
                let cols = Object.keys(data[0]);
                analysisJson['data'] = {'data': data, 'cols': cols};
            }
        } else if (chartElem) {
            let jinjaValues = document.getElementById('jinjaValues').dataset;
            name = name + date + jinjaValues['title'] + "_" +
                jinjaValues['object_name'] + "_" + chartElem.id + ".png";
            let data = await downloadLiquidTable(chartElem.id, true, name, true);
            let cols = Object.keys(data[0]);
            analysisJson['data'] = {'data': data, 'cols': cols};
        } else {
            analysisJson['message'] = elem.textContent;
        }
        return analysisJson
    }

    async function buildSectionJson(child, name, date) {
        let bulletJson = {};
        for (let key in child.dataset) {
            bulletJson[key] = child.dataset[key];
        }
        if (Object.keys(bulletJson).length === 0) {
            bulletJson = await getAnalysisJson(child, name, date);
        } else bulletJson['message'] = child.textContent;
        return bulletJson;
    }

    async function getSectionJson(elem, name, date) {
        let sectionJson = [];
        const children = elem.childNodes;
        for (const child of children) {
            let bulletJson = await buildSectionJson(child, name, date);
            sectionJson.push(bulletJson)
        }
        return sectionJson
    }

    async function saveReportBuilder() {
        let name = document.getElementById("name").value;
        let date = document.getElementById("report_date").value;
        let report = [];
        let reportBuilder = document.getElementById("reportBuilder");
        const children = reportBuilder.childNodes;
        for (const child of children) {
            if (child.id === "saveRow") continue;
            report = report.concat(await getSectionJson(child, name, date));
        }
        let results = {
            'report': [report], 'name': name, 'report_date': date,
            'saveOptions': []
        };
        let saveRow = document.getElementById("saveRow");
        saveRow.childNodes.forEach(child => {
            if (child.dataset) {
                if (child.dataset['selected'] === "true") {
                    results['saveOptions'].push(child.dataset['saveopt'])
                }
            }
        });
        SendDataTable('reportBuilder', null, '', '', results);
    }

    function toggleSaveOption(e) {
        let selected = e.currentTarget.dataset['selected'];
        e.currentTarget.classList = (selected === "true") ? "btn btn-outline-primary rounded-pill" :
            "btn btn-primary rounded-pill";
        selected = (selected === "true") ? "false" : "true";
        e.currentTarget.classList.add("ml-1");
        e.currentTarget.classList.add("mr-1");
        e.currentTarget.setAttribute('data-selected', selected);
    }

    function addSaveOption(elem, id, text, saveOpt, selected = "false") {
        let saveBtn = document.createElement('button');
        let saveId = id;
        let classList = (selected === "true") ? "btn btn-primary rounded-pill" :
            "btn btn-outline-primary rounded-pill";
        saveBtn.type = "button";
        saveBtn.classList = classList;
        saveBtn.classList.add("ml-1");
        saveBtn.classList.add("mr-1");
        saveBtn.id = saveId;
        saveBtn.innerText = text;
        saveBtn.setAttribute('data-selected', selected);
        saveBtn.setAttribute('data-saveopt', saveOpt);
        elem.appendChild(saveBtn);
        addOnClickEvent("#" + id, toggleSaveOption);
    }

    function addSaveOptions(elem) {
        addSaveOption(elem, "saveDocBtn", "Save As Google Doc", "saveGoogleDoc", "true");
        addSaveOption(elem, "saveEmailBtn", "Send As Email", "sendEmail");
    }

    function addSaveButton(elem) {
        let id = "reportBuilderSaveButton";
        let saveBtn = document.createElement('button');
        saveBtn.type = "button";
        saveBtn.classList = "btn btn-success ml-auto";
        saveBtn.id = id;
        saveBtn.innerText = "Save Selected Options";
        elem.appendChild(saveBtn);
        addOnClickEvent("#" + id, saveReportBuilder);
    }

    function addSaveRow(elem) {
        let saveRow = document.createElement("div");
        saveRow.classList = "d-flex pt-3 pb-3";
        saveRow.id = "saveRow";
        elem.appendChild(saveRow);
        addSaveOptions(saveRow);
        addSaveButton(saveRow);
    }

    function updateNames(id, names) {
        let nameField = document.getElementById('name');
        delete nameField.dataset.options;
        nameField.selectize.clearOptions();
        names.forEach(function (name) {
            nameField.selectize.addOption(
                {
                    value: name,
                    text: name
                });
            nameField.dataset.options += ('-' + name)
        });
        nameField.selectize.setValue('Auto', true);
    }

    function checkNames(id, val) {
        let select = document.getElementById(id);
        if (select.dataset.options) {
            let options = select.dataset.options.split('-');
            for (let i = 0; i < options.length; i++) {
                if (val === options[i]) return true
            }
            return false
        }
        return true
    }

    function updateDate(id, date) {
        let dateField = document.getElementById(id);
        delete dateField.dataset.prev;
        dateField.dataset.prev = date;
    }

    function buildReportElems(data, kwargs) {
        addElemRemoveLoadingBtn(kwargs['clickElem']);
        let nameId = "name";
        let dateId = "report_date";
        let nameQuery = "select[id*='" + nameId + "']";
        let dateQuery = "input[id*='" + dateId + "']";
        let date = document.getElementById(dateId);
        if (date.dataset.prev !== date.value) {
            updateNames(nameId, data['report_names']);
            updateDate(dateId, date.value)
        }
        let analysis = data['data']['report'][0];
        let reportBuilder = document.createElement('div');
        reportBuilder.id = 'reportBuilder';
        reportBuilder.classList.add('p-3');
        reportBuilder.classList.add('col-md-12');
        let rowZero = document.getElementById("rowZero");
        rowZero.appendChild(reportBuilder);
        addSaveRow(reportBuilder);
        let charts = [];
        for (let i = 0; i < analysis.length; i++) {
            const item = analysis[i];
            if (item.hasOwnProperty('key') && item['key'] === 'Charts') {
                charts = analysis.slice(i+1);
                break;
            }
            buildReportElem(item);
        }
        buildReportCharts(charts);
        buildCustomReportCharts();
        checkHideHeaders(reportBuilder);
        loadJS();
        addOnClickEvent(nameQuery, getReportBuilder, 'change');
        addOnClickEvent(dateQuery, getReportBuilder, 'change');
    }

    function getReportBuilder() {
        let nameId = "name";
        let dateId = "report_date";
        let name = document.getElementById(nameId).value;
        let date = document.getElementById(dateId).value;
        if (!(checkNames(nameId, name)) || !name) return;
        let baseRow = document.getElementById("baseRow");
        if (baseRow) baseRow.innerHTML = "";
        appendRows();
        let clickElem = 'rowZero';
        let kwargs = {'clickElem': clickElem};
        setDownloadBarAndLoadingBtn(clickElem);
        let url = '/get_report_builder';
        let jv = document.getElementById('jinjaValues');
        let requestData = {
            object_name: jv.dataset['object_name'],
            object_type: jv.dataset['title'],
            object_level: jv.dataset['edit_name'],
            date: date,
            name: name
        };
        makeRequest(url, 'POST', requestData, buildReportElems, 'json', kwargs);
        window.addEventListener('scroll', function () {
            getReportCharts();
        });
        window.addEventListener('resize', function () {
            getReportCharts();
        });
    }
</script>
