<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/ddffae10e4.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/sl-1.3.1/af-2.3.4/kt-2.5.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/sl-1.3.1/af-2.3.4/kt-2.5.1/datatables.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Editor/css/editor.dataTables.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='Editor/js/dataTables.editor.js') }}"></script>


<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="{{ url_for('static', filename='papaparse/papaparse.js') }}"></script>

<title>
{% block title %}
    {% if title %}Liquid App | {{ title }}{% else %}
        {{ _('Welcome to the  Liquid App') }}{% endif %}
{% endblock %}
</title>
</head>

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('main.index') }}">
      <img alt="Brand" src={{ url_for('static', filename='logo-light.png') }}>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item"><a class="nav-link" title={{ _('Explore') }}
                  href="{{ url_for('main.explore') }}">
              <i class="fas fa-rocket btn btn-dark btn-lg" href="#"
                 role="button"></i></a></li>
          <li class="nav-item"><a class="nav-link" title={{ _('Processor') }}
                  href="{{ url_for('main.processor') }}">
              <i class="fas fa-chart-bar btn btn-dark btn-lg" href="#"
                 role="button"></i></a></li>
      </ul>
        {% if g.search_form %}
        <form class="form-inline my-2 my-lg-0" method="get" action="{{ url_for('main.search') }}">
            <div class="form-group">
                {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
            </div>
        </form>
        {% endif %}
        <ul class="navbar-nav ml-auto order-3">
            {% if current_user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">
                    {{ _('Login') }}</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" title={{ _('Clients') }}
                    href="{{ url_for('main.clients') }}">
                <i class="fas fa-gamepad btn btn-dark btn-lg" href="#"
                   role="button"></i></a></li>
            <li class="nav-item"><a class="nav-link" title={{ _('Messages') }}
                    href="{{ url_for('main.messages') }}">
                <i class="fas fa-envelope btn btn-dark btn-lg" href="#" role="button"> </i>
                    {% set new_messages = current_user.new_messages() %}
                    <span id="message_count" class="badge badge-light"
                          style="visibility: {% if new_messages %}visible
                                             {% else %}hidden{% endif %};">
                        {{ new_messages }}
                    </span>
                </a>
            </li>

            <li class="nav-item"><a class="nav-link" title={{ _('Profile') }}
                    href="{{ url_for('main.user', username=current_user.username) }}">
                <i class="fas fa-user btn btn-dark btn-lg" href="#"
                   role="button"></i></a></li>
            <li class="nav-item"><a class="nav-link" title={{ _('Logout') }}
                    href="{{ url_for('auth.logout') }}">
                <i class="fas fa-sign-out-alt btn-dark btn-lg" href="#"
                   role="button"></i></a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}


<div class="row">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar bg-light">
        <div class="sidebar-sticky">
            {% block vertical_navbar %}{% endblock %}
        </div>
    </div>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
        <div class="jumbotron text-center">
            <div class="container-fluid">
                {% if current_user.is_authenticated %}
                {% with tasks = current_user.get_tasks_in_progress() %}
                {% if tasks %}
                    {% for task in tasks %}
                      <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 1px;">
                          <div id="toast" role="alert" aria-live="assertive"
                               class="toast" data-autohide="false" style="position: absolute; top: 0; right: 0; z-index: 999">
                            <div class="toast-header">
                              <i class="fas fa-envelope btn btn-dark"></i>
                              <strong class="mr-auto">Task Complete!</strong>
                              <small> <span id="toast-small"></span></small>
                              <button type="button" class="ml-2 mb-1 close"
                                      data-dismiss="toast" aria-label="Close"
                                      onclick="destroyToast()">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div id="toast-body" class="toast-body">
                              {{ task.description }}
                            </div>
                          </div>
                        </div>
                    <div class="alert alert-success" role="alert">
                        {{ task.description }}
                        <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                {% endif %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {# application content needs to be provided in the app_content block #}
                {% block app_header %}{% endblock %}
            </div>
        </div>
        <div class="container-fluid">
            {% block app_content %}{% endblock %}
        </div>
    </main>
</div>



{% block scripts %}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
        function showToast(timestamp, text){
            var offset = moment().utcOffset();
            var localText = moment.utc(timestamp).utcOffset(offset).fromNow();
            $('#toast-body').text(text);
            $('#toast-small').text('\xa0\xa0\xa0\xa0\xa0\xa0\xa0' + localText);
            $('#toast').toast('show');
        }
        function destroyToast(){
            $('#toast').toast('dispose');
        }
        function translate(sourceElem, destElem, sourceLang, destLang) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                $(destElem).text(response['text'])
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
        $(function () {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'hover',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });
        $(function () {
            var timer = null;
            var xhr = null;
            $('.processor_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/processor/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'hover',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
        function set_task_progress(task_id, progress) {
            $('#' + task_id + '-progress').text(progress);
        }
        {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            switch (notifications[i].name) {
                                case 'unread_message_count':
                                    set_message_count(notifications[i].data);
                                    break;
                                case 'task_progress':
                                    set_task_progress(notifications[i].data.task_id,
                                        notifications[i].data.progress);
                                    break;
                                case 'task_complete':
                                    showToast(notifications[i].data.timestamp,
                                              notifications[i].data.text);
                                    break;
                            }
                            since = notifications[i].timestamp;
                        }
                    }
                );
            }, 10000);
        });
        {% endif %}
    </script>
{% endblock %}