{% extends "base.html" %}
{% block app_header %}
<style>
.chat-container {
  position: relative;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.chat-input {
  position: fixed;
  bottom: 0;
  width: 72.5%;
  height: 60px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Optional: Add margin to the bottom of the chat messages container to make room for the chat input */
.chat-container {
  margin-bottom: 70px;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}
</style>
<div id="chatJinja" {% if initial_chat %}data-initialchat="{{ initial_chat }}"{% endif %}></div>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2 class="">{{ _('{}'.format(title)) }}</h2>
{% endblock %}

{% block vertical_navbar %}
    <div class="card shadow outer">
    <div class="card-header">
        <h3>Conversations<i class="fas fa-comments btn btn-secondary"
                           style="float:right;"></i></h3>
        <h6 class="card-subtitle mb-2 text-muted">
            Previous conversations you have had with ALI can be accessed here.
        </h6>
    </div>
    <div class="card-body" id="conversationButtons">
        <a class="btn btn-outline-success btn-block" href="">
            <i class="fas fa-plus" href="#" role="button" aria-hidden="true"></i>
            New Conversation
        </a>
        {% for conversation in conversations %}
            <btn class="btn btn-outline-primary btn-block" id="conversationBtn{{ conversation.id }}"
               data-cid="{{ conversation.id }}" onclick="getConversation({{ conversation.id }})">
                <i class="fas fa-message" href="#" role="button" aria-hidden="true"></i>
                {{ conversation.name }}
            </btn>
        {% endfor %}
    </div>
    </div>
{% endblock %}

{% block app_content %}
    <div class="row justify-content-center">
        <div class="col">
            <div class="card">
                <div class="card-header">ALI</div>
                <div id="chatContainer" class="card-body chat-container">
                </div>
                <div class="card-footer chat-input">
                    <div id="chatInputGroup" class="input-group">
                        <input id="chatInput" type="text"
                               class="form-control"
                               placeholder="Type your message">
                        <div class="input-group-append">
                            <button id="chatInputBtn"
                                    class="btn btn-outline-primary"
                                    type="button">Send
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js_utils.js') }}"></script>
    <script>
        function createMessageHtml(message, owner='mine', htmlResponse='') {
            console.log(message)
            let d = new Date();
            let timeSaid = d.getHours() + ':' + d.getMinutes();
            let speaker = (owner === 'mine') ? document.getElementById('jinjaValues').dataset['username'] : 'ALI';
            return `
                <div id="latestMessage" class="${owner} messages">
                    <div class="message last">
                        <p class="meta">${speaker} - <span>${timeSaid}</span></p>
                        <p class="text">${message}${htmlResponse}</p>
                    </div>
                </div>`
        }

        function addMessageToChat(message, owner='mine', htmlResponse='') {
            let chatContainer = document.getElementById('chatContainer');
            let messageHtml = createMessageHtml(message, owner, htmlResponse);
            chatContainer.insertAdjacentHTML('beforeend', messageHtml);
            let latestMessage = document.getElementById('latestMessage');
            latestMessage.scrollIntoView();
            latestMessage.id = '';
        }

        function addConversationToChat(data) {
            document.getElementById('chatContainer').innerHTML = '';
            let conversationId = data['id'];
            let convElem = document.getElementById('conversationBtn' + conversationId);
            addElemRemoveLoadingBtn(convElem.id);
            convElem.classList.remove('btn-outline-primary');
            convElem.classList.add('btn-primary');
            convElem.id = 'currentConv';
            let chats = data['chats'];
            chats.forEach(chat => {
                addMessageToChat(chat['text']);
                addMessageToChat(chat['response'], 'yours', chat['html_response']);
            });
        }

        function getConversation(conversationId) {
            let curConvId = 'currentConv';
            let convButtonIdPre = 'conversationBtn';
            let oldConv = document.getElementById(curConvId);
            if (oldConv) {
                oldConv.classList.remove('btn-primary');
                oldConv.classList.add('btn-outline-primary');
                oldConv.id = convButtonIdPre + oldConv.dataset['cid'];
            }
            let convElemId = `${convButtonIdPre}${conversationId}`;
            let convElem = document.getElementById(convElemId);
            loadingBtn(convElem);
            let data = {
                'conversation_id': conversationId,
            }
            makeRequest('/get_conversation', 'POST', data, addConversationToChat);
        }

        function addConversationToCard(data) {
            let conversationId = data['id'];
            let conversationName = data['name'];
            let convButtonsElem = document.getElementById('conversationButtons');
            let elemToAdd = `
                <btn id="currentConv" class="btn btn-primary btn-block"
                        data-cid="${conversationId}"
                        onclick="getConversation(${conversationId})">
                    <i class="fas fa-message" href="#" role="button" aria-hidden="true"></i>
                    ${conversationName}
                </btn>`;
            convButtonsElem.insertAdjacentHTML('beforeend', elemToAdd);
            postChatRequest(conversationName, conversationId);
        }

        function postConversation(message) {
            let data = {
                'message': message,
            }
            makeRequest('/post_conversation', 'POST', data, addConversationToCard);
        }

        function postChatResponse(data, kwargs) {
            let response = data['response'];
            let htmlResponse = data['html_response'];
            let message = document.getElementById('chatInput');
            message.value = '';
            let clickElem = kwargs['clickElem'];
            addElemRemoveLoadingBtn(clickElem.id);
            addMessageToChat(response, 'yours', htmlResponse);
        }

        function postChatRequest(message, conversationId) {
            let chatInputGroup = document.getElementById('chatInputGroup');
            let data = {
                'message': message,
                'conversation_id': conversationId
            }
            let kwargs = {
                'clickElem': chatInputGroup
            }
            makeRequest('/post_chat', 'POST', data, postChatResponse, 'json', kwargs);
        }

        function postChat(addMessage='') {
            let chatInput = document.getElementById('chatInput');
            if (addMessage) {
                chatInput.value = addMessage;
            }
            let chatInputGroup = document.getElementById('chatInputGroup');
            loadingBtn(chatInputGroup);
            let message = chatInput.value;
            addMessageToChat(message, 'mine');
            let conversation = document.getElementById('currentConv');
            if (conversation) {
                postChatRequest(message, conversation.dataset['cid']);
            } else {
                postConversation(message);
            }
        }

        function postChatOnEnter(e) {
            if (e.keyCode === 13) {
                postChat();
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            let introMsg = 'Hello I am ALI (Artificial Liquid Interface) what can I help you with today?';
            addMessageToChat(introMsg, 'yours');
            addOnClickEvent('#chatInputBtn', postChat);
            addOnClickEvent('#chatInput', postChatOnEnter, 'keyup');
            let initialChat = document.getElementById('chatJinja').dataset['initialchat'];
            if (initialChat) {
                postChat(initialChat);
            }
        });
    </script>
{% endblock %}