{% extends "base.html" %}

{% block app_header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='liquid_table.css') }}">
    <h1 class="text-muted font-weight-bolder">{{ _('Client Calendar') }}</h1>
    {% include '_view_selector.html' %}
{% endblock %}

{% block vertical_navbar %}
<div class="card shadow outer">
    <div class="card-header">
        <h3>Filters<i class="fas fa-filter btn btn-secondary"
                           style="float:right;"></i></h3>
        <h6 class="card-subtitle mb-2 text-muted">Use the filters below to quickly find a processor instance.</h6>
    </div>
    <div class="card-body">
    <div class="custom-control custom-switch" id="customSwitchDiv">
        <input type="checkbox" class="custom-control-input" id="liveProcessorsSwitch"
               checked>
        <label class="custom-control-label" for="liveProcessorsSwitch">
            {{ _("Live Processors") }}</label>
    </div>
    <div class="col mb-3">
        <select id="usernameSelect" multiple=""
                class="form-control form-control-sm">
            <option value="">Select Users...</option>
            {% for user_opt in current_users %}
                <option value="{{ user_opt.username }}">{{ user_opt.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col mb-3">
        <select id="clientSelect" multiple=""
                class="form-control form-control-sm">
            <option value="">Select Clients...</option>
            {% for p in clients %}
                <option value="{{ p.name }}">{{ p.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col mb-3">
        <select id="productSelect" multiple=""
                class="form-control form-control-sm">
            <option value="">Select Products...</option>
            {% for p in current_products %}
                <option value="{{ p.name }}">{{ p.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col mb-3">
        <select id="campaignSelect" multiple=""
                class="form-control form-control-sm">
            <option value="">Select Campaigns...</option>
            {% for p in current_campaigns %}
                <option value="{{ p.name }}">{{ p.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col mb-3">
        <select id="processorSelect" multiple=""
                class="form-control form-control-sm">
            <option value="">Select Processors...</option>
            {% for p in current_processors %}
                <option value="{{ p.name }}">{{ p.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col mb-3">
        <select id="projectSelect" multiple=""
                class="form-control form-control-sm">
            <option value="">Select Project Numbers...</option>
            {% for p in current_projects %}
                <option value="{{ p.project_number }}_{{ p.project_name }}">
                    {{ p.project_number }}-{{ p.project_name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <button id="applyFilter" type="button"
                class="btn btn-block btn-outline-primary btn-sm">
            Apply Filter
        </button>
    </div>
    </div>
</div>
<div id="clientDirectory"></div>
{% endblock %}

{% block app_content %}
    <div id="processors"></div>
    <div id='calendar'></div>
    <link href="{{ url_for('static', filename='fullcalendar/main.css') }}" rel='stylesheet' />
    <script src="{{ url_for('static', filename='fullcalendar/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js_utils.js') }}"></script>
    <script src="{{ url_for('static', filename='get_table.js') }}"></script>
    <script src="{{ url_for('static', filename='liquid_table.js') }}"></script>
    <script>
        function addCalendar() {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                    events: '/get_processor_by_date',
                    themeSystem: 'bootstrap',
                    initialView: 'timeGridWeek',
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    },
                },
            );
            calendar.render();
        }

        function parseClientDir(data, kwargs) {
            let clientDir = document.getElementById('clientDirectory');
            clientDir.innerHTML = data['client_directory'];
        }

        function parseProcessorUserMap(data, kwargs) {
            let proc = document.getElementById('processors');
            proc.innerHTML = data['items'];
            addSelectize();
            ownerSelectChange();
            projectNumberSelectChange();
            getSelectedDashboard();
            getProcessorBody();
        }

        function getProcessorUserMap(filterDict, clickElem, oldHtml) {
            let proc = document.getElementById('processors');
            let jinjaValues = document.getElementById('jinjaValues').dataset;
            let elemId = jinjaValues['title'].replace(' ', '');
            let tableElem = document.getElementById(elemId);
            if (!(tableElem)) {
                let newDiv = document.createElement('div');
                newDiv.id = elemId;
                proc.appendChild(newDiv)
            }
            if (elemId === 'Clients') {
                let destUrl = "/get_processor_by_user";
                let data = {
                    title: elemId,
                    filter_dict: JSON.stringify(filterDict),
                }
                makeRequest(destUrl, 'POST', data, parseClientDir);
                data['user_map'] = true;
                makeRequest(destUrl, 'POST', data, parseProcessorUserMap);
            } else {
                getTable(elemId, elemId);
            }
        }

        function ownerSelectChange(){
           $('[id^=ownerSelect]').unbind().on('change', function(e){
               let selectedText = this.options[e.target.selectedIndex].text;
               let procName = this.id.replace('ownerSelect', '')
               changeProcessorOwner(procName, selectedText);
           })
        }

        function changeProcessorOwner(processorName, newOwner) {
            $.post('/processor_change_owner',
                {
                    title: '{{ title }}',
                    object_name: processorName,
                    new_owner: newOwner
                }).done(function (data) {
                    displayAlert(data['message'], data['level'])
                    let filterDict = [{'live': $('#liveProcessorsSwitch')[0].checked}];
                    let cols = ['username', 'client', 'product', 'campaign', 'processor', 'project'];
                    filterDict = getMultipleFilters(cols, filterDict, 'Select');
                    getProcessorUserMap(filterDict)
            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);
                displayAlert('Owner change failed, please try again later.', 'danger')
            }).always(function () {

            });
        }

        function projectNumberSelectChange() {
            $('[id^=projectSelectSave]').unbind().click(function () {
                let dropdownButton = "#" + $(this)[0].id;
                $(dropdownButton).prop("disabled", true);
                let oldHtml = $(dropdownButton).html();
                $(dropdownButton).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                      aria-hidden="true"></span> Loading...`
                );
                let procName = this.id.replace('projectSelectSave', '')
                let selectedText = $("#projectSelect" + procName)[0].selectize.items
                changeProcessorProjectNumber(procName, selectedText,
                    dropdownButton, oldHtml);
            })
        }

        function changeProcessorProjectNumber(processorName, projectNumbers,
                                              clickElem, oldHtml) {
            $.post('/processor_change_project_number',
                {
                    title: '{{ title }}',
                    object_name: processorName,
                    project_numbers: JSON.stringify(projectNumbers)
                }).done(function (data) {
                    displayAlert(data['message'], data['level'])

            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);
                displayAlert('Could not assign project number.', 'danger')
            }).always(function () {
                if (oldHtml) {
                    $(clickElem).prop("disabled", false);
                    $(clickElem).html(oldHtml);
                }
            });
        }

        function addApplyFilterBtn(){
            $('button[id*="applyFilter"]').unbind().click(function () {
                let dropdownButton = "#" + $(this)[0].id;
                $(dropdownButton).prop("disabled", true);
                let oldHtml = $(dropdownButton).html();
                $(dropdownButton).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                      aria-hidden="true"></span> Loading...`
                  );
                let filterDict = [{'live': $('#liveProcessorsSwitch')[0].checked}];
                let cols = ['username', 'client', 'product', 'campaign', 'processor', 'project'];
                filterDict = getMultipleFilters(cols, filterDict);
                getProcessorUserMap(filterDict, dropdownButton, oldHtml);
            });
        }

        function getProcessorBody(){
            $('div[id*="headingProcessor"]').unbind().click(function () {
                let processorId = $(this)[0].id.replace('headingProcessor', '');
                $.post('/get_processor_body',
                    {
                        title: '{{ title }}',
                        processor_id: processorId
                    }).done(function (data) {
                        let proc = $('#processorBody' + processorId);
                        proc.html(data['processor_body']);
                        addSelectize();
                        ownerSelectChange();
                        projectNumberSelectChange();
                        getSelectedDashboard();
                        getProcessorBody();
                        addOnClickEvent('button[id*="createPlan"]', addCreatePlanEvent);
                }).fail(function (jqXHR, textStatus) {
                    console.log("Request failed: " + textStatus);
                });
            });
        }

        function getSelectedDashboard(){
            $('[id^=dashSelect]').unbind().on('change', function(e){
                let selectedText = this.options[e.target.selectedIndex].text;
                let procName = this.id.replace('dashSelect', '');
                $('#dashFooter' + procName).removeAttr('style');
                let dashName = 'dash_placeholderMetrics' + procName;
                document.getElementById('dashFooter' + procName).removeAttribute('style');
                let metrics = ['kpi'];
                let filterDict = {};
                let chartFunction = (selectedText === 'Date') ? 'generateAreaChart' :
                    'generateBarChart';
                let dash_metric_args = getDataTableArgsDict(chartFunction, [selectedText],
                    metrics, filterDict, true, procName);
                getTable(dashName, dashName + 'Progress', 'None', 'None', 'None', true,
                    'None', false, dash_metric_args);
            });
        }

        function createPlan(processorId) {
            let data = {
                processor_id: processorId,
            }
            let formData = convertDictToFormData(data);
            fetch('/create_plan_from_processor', {
              method: 'POST',
              body: formData,
            }).then(response => response.json()).then((data) => {
                window.location.href = data['url'];
            }).catch(error => {
                console.log("Request failed: " + error);
                displayAlert('An unexpected error occurred.', 'warning');
                window.location.reload(true)
            });
        }

        function addCreatePlanEvent() {
            loadingBtn(this);
            let processorId = this.id.replace('createPlan', '');
            createPlan(processorId);
        }

        document.addEventListener("DOMContentLoaded", function() {
            addCalendar();
            let filterDict = [{'live': $('#liveProcessorsSwitch')[0].checked}];
            getProcessorUserMap(filterDict);
            addSelectize();
            addApplyFilterBtn();
            addOnClickEvent('[id^="viewSelector"]', viewSelectorChangeEvent, 'change');
        });

    </script>
    {% include "_dash_builder.html" %}
    {% include "_table_builder.html" %}
    {% include "_select_builder.html" %}
{% endblock %}
