{% extends "base.html" %}

{% block app_header %}
    <div id="alertContainer">
        <div id="alertPlaceholder"></div>
    </div>
    <h4>{{ _('Client Calendar') }}</h4>
    <div class="form-group">
        <select class="form-control" id="viewSelector">
            {% for view_select in view_selector %}
                <option {% if view_select['active'] == True %} selected{% endif %}
                 value="{{ url_for(view_select['value']) }}">
                    {{ view_select['view'] }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

{% block vertical_navbar %}
<div class="card shadow outer">
    <div class="card-header">
        <h3>Filters<i class="fas fa-filter btn btn-secondary"
                           style="float:right;"></i></h3>
        <h6 class="card-subtitle mb-2 text-muted">Use the filters below to quickly find a processor instance.</h6>
    </div>
    <div class="card-body">
    <div class="custom-control custom-switch" id="customSwitchDiv">
        <input type="checkbox" class="custom-control-input" id="liveProcessorsSwitch"
               checked>
        <label class="custom-control-label" for="liveProcessorsSwitch">
            {{ _("Live Processors") }}</label>
    </div>
    <div class="col mb-3">
        <select id="usernameSelect" multiple=""
                class="form-control form-control-sm">
            <option value="">Select Users...</option>
            {% for user_opt in current_users %}
                <option value="{{ user_opt.username }}">{{ user_opt.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col mb-3">
        <select id="clientSelect" multiple=""
                class="form-control form-control-sm">
            <option value="">Select Clients...</option>
            {% for p in clients %}
                <option value="{{ p.name }}">{{ p.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col mb-3">
        <select id="productSelect" multiple=""
                class="form-control form-control-sm">
            <option value="">Select Products...</option>
            {% for p in current_products %}
                <option value="{{ p.name }}">{{ p.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col mb-3">
        <select id="campaignSelect" multiple=""
                class="form-control form-control-sm">
            <option value="">Select Campaigns...</option>
            {% for p in current_campaigns %}
                <option value="{{ p.name }}">{{ p.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col mb-3">
        <select id="processorSelect" multiple=""
                class="form-control form-control-sm">
            <option value="">Select Processors...</option>
            {% for p in current_processors %}
                <option value="{{ p.name }}">{{ p.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col mb-3">
        <select id="projectSelect" multiple=""
                class="form-control form-control-sm">
            <option value="">Select Project Numbers...</option>
            {% for p in current_projects %}
                <option value="{{ p.project_number }}_{{ p.project_name }}">
                    {{ p.project_number }}-{{ p.project_name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <button id="applyFilter" type="button"
                class="btn btn-block btn-outline-primary btn-sm">
            Apply Filter
        </button>
    </div>
    </div>
</div>
<div id="clientDirectory"></div>
{% endblock %}

{% block app_content %}
    <div id="processors"></div>

    <div id='calendar'></div>

    <link href="{{ url_for('static', filename='fullcalendar/main.css') }}" rel='stylesheet' />

    <script src="{{ url_for('static', filename='fullcalendar/main.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                    events: '/get_processor_by_date',
                    themeSystem: 'bootstrap',
                    initialView: 'timeGridWeek',
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    },
                },
            );
            calendar.render();
        });
        function addSelectize() {
            $('select').selectize({
                duplicates: true,
                persist: false,
                dropdownParent: "body",
                plugins: ['drag_drop', 'remove_button', 'restore_on_backspace'],
                create: function (input) {
                    return {
                        value: input,
                        text: input
                    }
                }
            });
        }
        function getProcessorUserMap(filterDict, clickElem, oldHtml) {
            let proc = $('#processors');
            let clientDir = $('#clientDirectory');
            proc.html('' +
                '<button class="btn btn-primary btn-block btn-lg" type="button" disabled>' +
                '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>' +
                'Loading Live Processors...' +
                '</button>');
            let destUrl = ('{{ title }}' === 'Clients') ?
                "/get_processor_by_user" : "/get_project_numbers";
            $.post(destUrl,
                {
                    title: '{{ title }}',
                    filter_dict: JSON.stringify(filterDict),
                    user_map: true
                }).done(function (data) {
                    if ('{{ title }}' === 'Clients') {
                        proc.html(data['items']);
                    }
                    else {
                        proc.html('<div id="projectNumberTableElem"></div>');
                        createTable(data['items']['cols'], data['items']['data'],
                                    'projectNumberTable', 'projectNumberTableElem')}
                    addSelectize()
                    ownerSelectChange()
                    projectNumberSelectChange()
                    getSelectedDashboard()
                    getProcessorBody()
            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);

            }).always(function () {
                if (oldHtml) {
                    $(clickElem).prop("disabled", false);
                    $(clickElem).html(oldHtml);
                }
            });
            if (destUrl === "/get_processor_by_user") {
                $.post(destUrl,
                    {
                        title: '{{ title }}',
                        filter_dict: JSON.stringify(filterDict)
                    }).done(function (responseData) {
                        clientDir.html(responseData['client_directory']);
                }).fail(function (jqXHR, textStatus) {
                    console.log("Request failed: " + textStatus);
                });
            }
        }
        function ownerSelectChange(){
           $('[id^=ownerSelect]').unbind().on('change', function(e){
               let selectedText = this.options[e.target.selectedIndex].text;
               let procName = this.id.replace('ownerSelect', '')
               changeProcessorOwner(procName, selectedText);
           })
        }

        function changeProcessorOwner(processorName, newOwner) {
            $.post('/processor_change_owner',
                {
                    title: '{{ title }}',
                    processor_name: processorName,
                    new_owner: newOwner
                }).done(function (data) {
                    displayAlert(data['message'], data['level'])
                    let filterDict = [{'live': $('#liveProcessorsSwitch')[0].checked}];
                    filterDict = getFilters('username', filterDict);
                    filterDict = getFilters('client', filterDict);
                    filterDict = getFilters('product', filterDict);
                    filterDict = getFilters('campaign', filterDict);
                    filterDict = getFilters('processor', filterDict);
                    filterDict = getFilters('project', filterDict);
                    getProcessorUserMap(filterDict)
            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);
                displayAlert('Owner change failed, please try again later.', 'danger')
            }).always(function () {

            });
        }


        function projectNumberSelectChange() {
            $('[id^=projectSelectSave]').unbind().click(function () {
                let dropdownButton = "#" + $(this)[0].id;
                $(dropdownButton).prop("disabled", true);
                let oldHtml = $(dropdownButton).html();
                $(dropdownButton).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                      aria-hidden="true"></span> Loading...`
                );
                let procName = this.id.replace('projectSelectSave', '')
                let selectedText = $("#projectSelect" + procName)[0].selectize.items
                changeProcessorProjectNumber(procName, selectedText,
                    dropdownButton, oldHtml);
            })
        }

        function changeProcessorProjectNumber(processorName, projectNumbers,
                                              clickElem, oldHtml) {
            $.post('/processor_change_project_number',
                {
                    title: '{{ title }}',
                    processor_name: processorName,
                    project_numbers: JSON.stringify(projectNumbers)
                }).done(function (data) {
                    displayAlert(data['message'], data['level'])

            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);
                displayAlert('Could not assign project number.', 'danger')
            }).always(function () {
                if (oldHtml) {
                    $(clickElem).prop("disabled", false);
                    $(clickElem).html(oldHtml);
                }
            });
        }

        function displayAlert(message, level) {
            let alertPlaceholderId = '#alertPlaceholder'
            if ($(alertPlaceholderId).length === 0) {
                $('#alertContainer').append('<div id="alertPlaceholder"></div>')
            }
            let alertPlaceholder = $(alertPlaceholderId)
            alertPlaceholder.addClass('alert alert-' + level);
            alertPlaceholder.html(message);
            alertPlaceholder.append('' +
                '<button type="button" class="close" data-dismiss="alert"' +
                ' aria-label="Close">\n' +
                '    <span aria-hidden="true">&times;</span>\n' +
                '  </button>')
            alertPlaceholder.fadeIn('slow');
        }

        function getFilters(colName, filterDict) {
            let newFilter = {};
            newFilter[colName] = $('#' + colName + 'Select')[0].selectize.items
            filterDict = filterDict.concat(newFilter)
            return filterDict
        }

        function addApplyFilterBtn(){
            $('button[id*="applyFilter"]').unbind().click(function () {
                let dropdownButton = "#" + $(this)[0].id;
                $(dropdownButton).prop("disabled", true);
                let oldHtml = $(dropdownButton).html();
                $(dropdownButton).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                      aria-hidden="true"></span> Loading...`
                  );
                let filterDict = [{'live': $('#liveProcessorsSwitch')[0].checked}];
                filterDict = getFilters('username', filterDict);
                filterDict = getFilters('client', filterDict);
                filterDict = getFilters('product', filterDict);
                filterDict = getFilters('campaign', filterDict);
                filterDict = getFilters('processor', filterDict);
                filterDict = getFilters('project', filterDict);
                getProcessorUserMap(filterDict, dropdownButton, oldHtml);
            });
        }

        function getProcessorBody(){
            $('div[id*="headingProcessor"]').unbind().click(function () {
                let processorId = $(this)[0].id.replace('headingProcessor', '');
                $.post('/get_processor_body',
                    {
                        title: '{{ title }}',
                        processor_id: processorId
                    }).done(function (data) {
                        let proc = $('#processorBody' + processorId)
                        proc.html(data['processor_body'])
                        addSelectize()
                        ownerSelectChange()
                        projectNumberSelectChange()
                        getSelectedDashboard()
                        getProcessorBody()
                }).fail(function (jqXHR, textStatus) {
                    console.log("Request failed: " + textStatus);
                });
            });
        }

        function getSelectedDashboard(){
            $('[id^=dashSelect]').unbind().on('change', function(e){
                let selectedText = this.options[e.target.selectedIndex].text
                let procName = this.id.replace('dashSelect', '')
                $('#dashFooter' + procName).removeAttr('style')
                let metrics = ['kpi']
                let filterDict = {}
                let chartFunction = (function () {
                    if (selectedText === 'Date') {
                        return generateAreaChart;
                    } else {
                        return generateBarChart;
                    }
                })
                getMetrics('#dash_placeholderMetrics' + procName, chartFunction(),
                    selectedText, metrics,
                    filterDict, "", 250, null, null, null, null, null, procName);
            });
        }

        $(document).ready(function () {
            $('#viewSelector').on('change', function (e) {
                window.location = this.selectize.getValue()
            });
        });

        $(document).ready(function () {
            let filterDict = [{'live': $('#liveProcessorsSwitch')[0].checked}];

            getProcessorUserMap(filterDict);
            addSelectize()
            addApplyFilterBtn()
        });
    </script>
    {% include "_dash_builder.html" %}
    {% include "_table_builder.html" %}
    {% include "_select_builder.html" %}
{% endblock %}
