{% extends "base.html" %}

{% block app_header %}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <h3>{{ _('Processor - {}'.format(processor_name)) }}</h3>
    <div class="progress mx-auto" style="height: 20px; width: 50%;">
        <div id="progressBar"
             class="progress-bar progress-bar-striped bg-info"
             role="progressbar" style="width: {{ edit_progress }}%;"
             aria-valuenow={{ edit_progress }} aria-valuemin="0"
             aria-valuemax="100">{{ edit_name }}</div>
    </div><br>
    <nav aria-label="...">
        <ul id='listTabs' class="pagination pagination justify-content-center">
            <li class="page-item{% if not form %} page-item disabled{% endif %}">
                <button id=loadRefresh type="submit" class="page-link" href=""
                        onclick="SubmitForm('', 'form_continue')">
                    <i class="fas fa-sync-alt" href="#" role="button"></i>
                    {{ _('Save & Refresh') }}
                </button>
            </li>
            {% for button in buttons %}
                {% for button_name, button_link in button.items() %}
                    <li class="page-item{% if edit_name == button_name %} active{% endif %}">
                        <a class="page-link"
                           href="{{ url_for(button_link, processor_name=processor_name) }}">
                            {{ button_name }}
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
            <li class="page-item{% if not form %} page-item disabled{% endif %}"
                value="continue">
                <button id="loadContinue" type="submit" class="page-link"
                        name="continue" onclick="SubmitForm('continue', 'form_continue')">
                    {{ _('Save & Continue') }}
                    <i class="fas fa-arrow-circle-right" href="#" role="button"></i>
                </button>
            </li>
        </ul>
    </nav>
    <!-- Modal -->
    <button id="logModalButton" type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#logModal" style="display: none;">
      Launch demo modal
    </button>
    <div class="modal hide fade" id="logModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl mw-100 w-90" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Logfile - {{processor_name }}</h5>
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <button id="importRunButton" type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#importModal"
        style="display: none;">
      Launch demo modal
    </button>
    <div class="modal fade bd-example-modal-xl" id="importModal"
         tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-xl mw-100 w-90" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Import - {{ processor_name }}</h5>
            <button type="button" class="close"
                    data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="list-group" id="list-tab" role="tablist">
                {% for api in api_imports %}
                  {% for api_name, api_arg in api_imports[api].items() %}
                     <a class="list-group-item list-group-item-action
                         list-group-item-linkable"
                         id="list-all" data-toggle="list"
                         href="{{ url_for('main.run_processor',
                         processor_name=processor_name, redirect_dest=edit_name,
                         processor_args=api_arg) }}"
                         role="tab" aria-controls="home">{{ api_name }}</a>
                  {% endfor %}
                {% endfor %}
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <button id="tableModalButton" type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#tableModal" style="display: none;">
      Launch demo modal
    </button>
    <div class="modal fade bd-example-modal-xl" id="tableModal" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-xl mw-100 w-90" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Data Tables - {{ processor_name }}</h5>
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div id="modal-body-table"></div>
          </div>
          <div class="modal-footer">
            <div class="btn-group btn-group-lg btn-block" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success"
                        id="tableModalSaveButton"
                        onclick="SendDataTable()">Save</button>
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
        function show_modal_table(destElem) {
            document.getElementById(destElem).click();
        }
    </script>
{% endblock %}
{% block vertical_navbar %}
    {% if processor %}
        {% with processor=processor %}
            {% include 'processor_popup.html' %}
        {% endwith %}
    {% endif %}
    <div class="accordion" id="accordionExample">
        <div class="card">
            <button class="btn btn-outline-success btn-block
                           dropdown-toggle text-left"
                    type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="false"
                    aria-controls="collapseOne">
                <i class="fas fa-play-circle" href="#" role="button"></i>
                {{ _('Run Processor') }}
                <span class="caret"></span>
            </button>
            <div id="collapseOne" class="collapse"
                 aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <a class="dropdown-item"
                           href="{{ url_for('main.run_processor',
                           processor_name=processor_name,
                           redirect_dest=edit_name, processor_args='full') }}">
                        {{ _('Full') }}</a>
                    <a class="dropdown-item"
                           href="javascript: show_modal_table('importRunButton');">
                        {{ _('Import') }}</a>
                    <a class="dropdown-item"
                           href="{{ url_for('main.run_processor',
                           processor_name=processor_name,
                           redirect_dest=edit_name, processor_args='basic') }}">
                        {{ _('Basic') }}</a>
                    <a class="dropdown-item"
                           href="{{ url_for('main.run_processor',
                           processor_name=processor_name,
                           redirect_dest=edit_name, processor_args='export') }}">
                        {{ _('Export') }}</a>
                    <a class="dropdown-item"
                           href="{{ url_for('main.run_processor',
                           processor_name=processor_name,
                           redirect_dest=edit_name, processor_args='update') }}">
                        {{ _('Update') }}</a>
                </div>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-outline-info btn-block
                           dropdown-toggle text-left"
                    type="button" data-toggle="collapse"
                    id="editTableDropdownButton"
                    data-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo">
                <i class="fas fa-edit" href="#" role="button"></i>
                {{ _('Edit Processor Files') }}
                <span class="caret"></span>
            </button>
            <div id="collapseTwo" class="collapse"
                 aria-labelledby="headingTwo"
                 data-parent="#accordionExample">
                <div class="card-body">
                    <a class="dropdown-item" id="editTableVendormatrix" href="#">
                        {{ _('Vendormatrix') }}</a>
                    <a class="dropdown-item" id="editTableTranslate" href="#">
                        {{ _('Translate') }}</a>
                    <a class="dropdown-item" id="editTableConstant" href="#">
                        {{ _('Constant') }}</a>
                    <a class="dropdown-item" id="editTableRelation" href="#">
                        {{ _('Relation') }}</a>
                    <div class="card">
                        <button class="btn btn-outline-info btn-block
                                       dropdown-toggle text-left"
                                type="button" data-toggle="collapse"
                                id="editTableRelationDropdownButton"
                                data-target="#collapseTwoOne" aria-expanded="true"
                                aria-controls="collapseTwoOne">
                            <i class="fas fa-ellipsis-v" href="#" role="button"></i>
                            {{ _('Edit Relational Dictionaries') }}
                            <span class="caret"></span>
                        </button>
                        <div id="collapseTwoOne" class="collapse"
                             aria-labelledby="headingTwoOne"
                             data-parent="#editTableRelationDropdownButton">
                            <div class="card-body">
                                <a class="dropdown-item" id="editTableRelationCampaign" href="#">
                                    {{ _('Relation - Campaign') }}</a>
                                <a class="dropdown-item" id="editTableRelationTargeting" href="#">
                                    {{ _('Relation - Targeting') }}</a>
                                <a class="dropdown-item" id="editTableRelationCreative" href="#">
                                    {{ _('Relation - Creative') }}</a>
                                <a class="dropdown-item" id="editTableRelationVendor" href="#">
                                    {{ _('Relation - Vendor') }}</a>
                                <a class="dropdown-item" id="editTableRelationCountry" href="#">
                                    {{ _('Relation - Country') }}</a>
                                <a class="dropdown-item" id="editTableRelationServing" href="#">
                                    {{ _('Relation - Serving') }}</a>
                                <a class="dropdown-item" id="editTableRelationCopy" href="#">
                                    {{ _('Relation - Copy') }}</a>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-outline-primary btn-block
                           dropdown-toggle text-left"
                    type="button" data-toggle="collapse"
                    id="editTableDropdownButtonView"
                    data-target="#collapseThree" aria-expanded="true"
                    aria-controls="collapseThree">
                <i class="fas fa-table" href="#" role="button"></i>
                {{ _('View Output Data') }}
                <span class="caret"></span>
            </button>
            <div id="collapseThree" class="collapse"
                 aria-labelledby="headingThree"
                 data-parent="#accordionExample">
                <div class="card-body">
                    <a class="dropdown-item" id="editTableOutputDataFullOutput">
                        {{ _('Raw Data Output') }}</a>
                    <a class="dropdown-item" id="editTableOutputDataVendor">
                        {{ _('Campaign & Vendor') }}</a>
                    <a class="dropdown-item" id="editTableOutputDataTarget">
                        {{ _('Campaign & Vendor & Targeting') }}</a>
                    <a class="dropdown-item" id="editTableOutputDataCreative">
                        {{ _('Campaign & Vendor & Creative') }}</a>
                    <a class="dropdown-item" id="editTableOutputDataCopy">
                        {{ _('Campaign & Vendor & Copy') }}</a>
                    <a class="dropdown-item" id="editTableOutputDataBuyModel">
                        {{ _('Campaign & Vendor & Buy Model') }}</a>
                </div>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-outline-danger btn-block
                           dropdown-toggle text-left"
                    type="button" data-toggle="collapse"
                    id="editTableDropdownButtonView"
                    data-target="#collapseFour" aria-expanded="true"
                    aria-controls="collapseFour">
                <i class="fas fa-blender-phone" href="#" role="button"></i>
                {{ _('Requests') }}
                <span class="caret"></span>
            </button>
            <div id="collapseFour" class="collapse"
                 aria-labelledby="headingFour"
                 data-parent="#accordionExample">
                <div class="card-body">
                    <a class="dropdown-item" id=""
                     href="{{ url_for('main.edit_request_processor',
                        processor_name=processor_name) }}">
                        {{ _('View Initial Request') }}</a>
                    <a class="dropdown-item" id=""
                        href="{{ url_for('main.edit_processor_request_fix',
                        processor_name=processor_name) }}">
                        {{ _('Request Data Fix') }}</a>
                </div>
            </div>
        </div>
        <div class="card">
            <button type="button"
                    class="btn btn-outline-secondary btn-block text-left"
                    id="getLog"
                    data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-file-alt" href="#" role="button"></i>
              {{ _('Show Logs') }}
            </button>
        </div>
    </div>
    <br>
    <h3 class="sidebar-heading d-flex justify-content-between align-items-center
               text-dark text-center">
                  <span>{{ _('Posts') }}</span>
    </h3>
    <table class="table table-hover">
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
        <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item{% if not prev_url %} page-item disabled{% endif %}">
                <a class="page-link" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="page-item{% if not next_url %} page-item disabled{% endif %}">
                <a class="page-link" href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
        </nav>
    </table>
{% endblock %}

{% block app_content %}
    {% if form %}
        {% include '_form.html' %}
    {% endif %}
    {% if fixes %}
        {% for fix in fixes %}
            {% include '_fix.html' %}
        {% endfor %}
    {% endif %}
    {% if tables %}
        <script type="text/javascript">
            $(document).ready(function() {
                show_modal_table('tableModalButton');
            });</script>
    {% endif %}
    {% if tableau_workbook %}
        <script type='text/javascript'
                src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'>
        </script>
        <div class='tableauPlaceholder' style='width: 1350px; height: 897px;'>
            <object class='tableauViz' width='1350' height='897' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='&#47;t&#47;liquidadvertising' />
                <param name='name' value='{{ processor.tableau_workbook }}&#47;{{ processor.tableau_view }}' />
                <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                <param name='showAppBanner' value='false' />
                <param name='filter' value='iframeSizedToWindow=true' />
            </object>
        </div>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/sl-1.3.1/af-2.3.4/kt-2.5.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/sl-1.3.1/af-2.3.4/kt-2.5.1/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Editor/css/editor.dataTables.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='Editor/js/dataTables.editor.js') }}"></script>
    <script src="{{ url_for('static', filename='papaparse/papaparse.js') }}"></script>
    <script>
        function SubmitForm(form_continue, elemId) {
             document.getElementById(elemId).setAttribute("value", form_continue);
             document.getElementById("base_form_id").submit();
        }
        function selectColumns ( editor, csv, header ) {
            let selectEditor = new $.fn.dataTable.Editor();
            let fields = editor.order();

            for ( let i=0 ; i<fields.length ; i++ ) {
                let field = editor.field( fields[i] );

                selectEditor.add( {
                    label: field.label(),
                    name: field.name(),
                    type: 'select',
                    options: header,
                    def: header[i]
                } );
            }
            selectEditor.create({
                title: 'Map CSV fields',
                buttons: 'Import '+csv.length+' records',
                message: 'Select the CSV column you want to use the data from for each field.'
            });
            selectEditor.on('submitComplete', function (e, json, data, action) {
                // Use the host Editor instance to show a multi-row create form allowing the user to submit the data.
                editor.create( csv.length, {
                    title: 'Confirm import',
                    buttons: 'Submit',
                    message: 'Click the <i>Submit</i> button to confirm the import of '+csv.length+' rows of data. Optionally, override the value for a field to set a common value by clicking on the field below.'
                } );
                editor.on( 'close', function () {
                  $('#tableModal').modal('show');
                } );

                for ( let i=0 ; i<fields.length ; i++ ) {
                    let field = editor.field( fields[i] );
                    let mapped = data[ field.name() ];

                    for ( let j=0 ; j<csv.length ; j++ ) {
                        field.multiSet( j, csv[j][mapped] );
                    }
                }

            });
        }
        function createTable(colData, rawData, tableName) {
            let cols = JSON.parse(colData);
            let tableFields = cols.map(function(e) {
              return {label: e, name: e}
            });
            let tableCols = cols.map(function(e) {
              return {data: e}
            });
            let tableJquery = '#' + tableName;
            document.getElementById("modal-body-table").innerHTML = rawData;
            $(document).ready( function () {
                let editor = new $.fn.dataTable.Editor({
                    table: tableJquery,
                    idSrc: 'index',
                    fields: tableFields
                });
                editor.on( 'open', function ( e, type, mode, action ) {
                    if (type === "main") {
                      $('#tableModal').modal('hide');
                    }
                } );
                 editor.on( 'close', function () {
                  $('#tableModal').modal('show');
                } );
                let uploadEditor = new $.fn.dataTable.Editor( {
                    fields: [ {
                        label: 'CSV file:',
                        name: 'csv',
                        type: 'upload',
                        ajax: function ( files ) {
                            // Ajax override of the upload so we can handle the file locally. Here we use Papa
                            // to parse the CSV.
                            Papa.parse(files[0], {
                                header: true,
                                skipEmptyLines: true,
                                complete: function (results) {
                                    if ( results.errors.length ) {
                                        uploadEditor.field('csv').error( 'CSV parsing error: '+ results.errors[0].message );
                                    }
                                    else {
                                        uploadEditor.close();
                                        selectColumns( editor, results.data, results.meta.fields );
                                    }
                                }
                            });
                        }
                    } ]
                } );
                var table = $(tableJquery).DataTable({
                    dom: "Bfrtip",
                    columns: tableCols,
                    "deferRender": true,
                    "orderClasses": false,
                    "scrollX": true,
                    autoFill: true,
                    responsive: true,
                    keys: {
                        columns: ':not(:first-child)',
                        editor:  editor
                    },
                    select: {
                        style:    'os',
                        selector: 'td:first-child',
                        blurable: true
                    },
                    buttons: [
                        {
                            extend: 'collection',
                            text: 'Export',
                            buttons: [
                                'copy',
                                'excel',
                                'csv',
                                'pdf'
                            ]
                        },
                        { extend: 'create', editor: editor },
                        { extend: 'edit',   editor: editor },
                        {
                            extend: "selected",
                            text: 'Duplicate',
                            action: function ( e, dt, node, config ) {
                                // Start in edit mode, and then change to create
                                editor
                                    .edit(table.rows( {selected: true} ).indexes(), {
                                        title: 'Duplicate record',
                                        buttons: 'Create from existing'
                                    } )
                                    .mode( 'create' );
                            }
                        },
                        { extend: 'remove', editor: editor },
                        {
                        text: 'Import CSV',
                        action: function () {
                            uploadEditor.create( {
                                title: 'CSV file import'
                            } );
                            $('#tableModal').modal('hide');
                        }
                    },
                    {
                        extend: 'selectAll',
                        className: 'btn-space'
                    },
                    ]
                });
                table.columns.adjust().draw();
            });
        }
        function reloadPage(){
             try {
                 $('#listTabs').find('li.active')[0].children[0].click();
             }
             catch(err) {
                 location.reload()
             }
        }
        function SendDataTable() {
            let sourceElem = $('table[id^="modalTable"]')[0].id;
            let sendTable = $('#' + sourceElem).DataTable();
            let sendTableName = sourceElem.replace('modalTable', '');
            let data = sendTable
                .data().toArray();
            let json = JSON.stringify(data);
            if (sendTableName === 'Vendormatrix'){
                $('#refresh_data_sources').parent().html('' +
                    '<button class="btn btn-primary btn-block" type="button" disabled>' +
                      '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>' +
                      'Loading...' +
                    '</button>');
                $('#refresh_imports').parent().html('' +
                    '<button class="btn btn-primary btn-block" type="button" disabled>' +
                      '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>' +
                      'Loading...' +
                    '</button>');
            };
            $('#tableModalSaveButton').parent().html('' +
                    '<button class="btn btn-success btn-lg btn-block" type="button" disabled>' +
                      '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>' +
                      'Loading...' +
                    '</button>');
            $.post('/post_table',
                {
                    data: json,
                    processor:  "{{ processor_name }}",
                    table: sendTableName
                }).done(function(data, status) {
                    reloadPage();
            });
        }
        $(document).ready(function() {
            $('a[id^="editTable"]').click(function () {
                let tableName = this.id.replace('editTable', '');
                let dropdownButton = "#" + $(this).parents()[2].children[0].id;
                $(dropdownButton).prop("disabled", true);
                let oldHtml = $(dropdownButton).html();
                $(dropdownButton).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                      aria-hidden="true"></span> Loading...`
                  );
                animateBar();
                getTable(tableName, dropdownButton, oldHtml);
            });
        });
        function getTable(tableName, clickElem, oldHtml, vendorKey='None'){
            $.post('/get_table',
                {
                    table: tableName,
                    processor:  "{{ processor_name }}",
                    vendorkey: vendorKey
            }).done(function(data, status) {
                if (tableName === 'OutputDataFullOutput') {
                  let blob = new Blob([data], {type: 'text/csv'});
                  let link = document.createElement('a');
                  link.href = window.URL.createObjectURL(blob);
                  link.download = 'Raw Data Output.csv';
                  link.click();
                }
                else {
                    show_modal_table('tableModalButton');
                    let newTableName = data['data']['name'];
                    createTable(data['data']['cols'], data['data']['data'],
                        newTableName);}
            }).fail(function(jqXHR, textStatus ) {
                console.log("Request failed: " + textStatus)
                location.reload()
            }).always(function(){
                $(clickElem).prop("disabled", false);
                $(clickElem).html(oldHtml);
                unanimateBar();
            });
        }
        $(document).ready(function() {
            $('button[id^="getLog"]').click(function () {
                let dropdownButton = "#" + $(this)[0].id;
                $(dropdownButton).prop("disabled", true);
                let oldHtml = $(dropdownButton).html();
                $(dropdownButton).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                      aria-hidden="true"></span> Loading...`
                  );
                animateBar();
                getLog(dropdownButton, oldHtml);
            });
        });
        function parseLog(data){
            let logFile = JSON.parse(data['data']);
            let htmlLog = "<p align=\"left\" style='white-space: pre; " +
                "font-family: Consolas;'>" +
                logFile.join("</p><p align=\"left\" style='white-space: " +
                    "pre; font-family: Consolas;'>")  + "</p>";
            $('#logModal > div:nth-child(1) > div:nth-child(1) > div:nth-child(2)'
            )[0].innerHTML = htmlLog;
        }
        function getLog(clickElem, oldHtml){
            $.post('/get_log',
                {
                    processor:  "{{ processor_name }}"
            }).done(function(data, status) {
                show_modal_table('logModalButton');
                parseLog(data);
            }).fail(function() {
                console.log('fail')
            }).always(function(){
                $(clickElem).prop("disabled", false);
                $(clickElem).html(oldHtml);
                unanimateBar();
            });
        }
        var logRefresh = null;
        $('#logModal').on({
            'shown.bs.modal': function () {
                logRefresh = setInterval(function () {
                    $.post('/get_log',
                        {
                            processor: "{{ processor_name }}"
                        }).done(function (data, status) {
                        parseLog(data);
                    });
                }, 30000)},
            'hidden.bs.modal': function(){
                clearInterval(logRefresh);
            }
        });
        $(document).ready(function() {
            $('.list-group-item-linkable').on('click', function () {
                // same window/tab:
                // let clickedHref = $(this).attr('href');
                window.location.href = $(this).attr('href');
            });
        });
        function animateBar(){
          let d = document.getElementById("progressBar");
          d.className += " progress-bar-animated";
        }
        function unanimateBar(){
          let d = document.getElementById("progressBar");
          d.className = d.className.replace( /(?:^|\s)progress-bar-animated(?!\S)/g , '' );
        }
        $(document).ready(function() {
            $('button[id^="load"]').click(function() {
              animateBar();
              $(this).prop("disabled", true);
              $(this).html(
                `<span class="spinner-grow spinner-grow-sm"
                    role="status" aria-hidden="true"></span> Loading...`
              );
            });
        });
        $(document).ready(function() {
            $('input[id*="refresh_"]').click(function() {
              let tableName = $(this)[0].id.split('refresh_')[1];
              if (tableName === 'rate_card') {
                  var vendorKey = $('#' + tableName)[0].value;
              }
              else {
                  try {
                    vendorKey = $(this).parent().parent()[0].elements[0].value;
                  }
                  catch(err) {
                    vendorKey = 'None';
                  }}
              let oldHtml = $(this).parent().html();
              getTable(tableName, $(this).parent(), oldHtml, vendorKey);
              animateBar();
              $(this).parent().html('' +
                '<button class="btn btn-primary btn-block" type="button" disabled>' +
                  '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>' +
                  'Loading...' +
                '</button>');
            });
        });
        $(document).ready(function() {
            $('#tableModal').on('hidden.bs.modal', function () {
                let sourceElem = $('table[id^="modalTable"]')[0].id;
                if ((sourceElem === "modalTableimports") ||
                    (sourceElem === "modalTabledata_sources")) {
                    reloadPage();
                } else {
                    if (!$("[class*='DTED DTED_Lightbox_Wrapper']")[0]){
                        location.reload()}
                }
            })
        });
        $(document).ready(function() {
            $('#tableModal').on('shown.bs.modal', function () {
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust();
            })
        });
        $(document).ready(function () {
            bsCustomFileInput.init()
        });
    </script>
{% endblock %}