{% extends "base.html" %}

{% block app_header %}
    <script>
        function SubmitForm(form_continue, elemId) {
         console.log('submitting form');
         console.log(form_continue);
         console.log(elemId);
         document.getElementById(elemId).setAttribute("value", form_continue);
         document.getElementById("base_form_id").submit();
        }
    </script>
    <h1>{{ _('Processor - {}'.format(processor_name)) }}</h1>
    <div class="progress mx-auto" style="height: 30px; width: 50%;">
        <div id="progressBar"
             class="progress-bar progress-bar-striped bg-info"
             role="progressbar" style="width: {{ edit_progress }}%;"
             aria-valuenow={{ edit_progress }} aria-valuemin="0"
             aria-valuemax="100">{{ edit_name }}</div>
    </div><br>
    <nav aria-label="...">
        <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item">
                <button id=loadRefresh type="submit" class="page-link" href=""
                        onclick="SubmitForm('', 'form_continue')">
                    <i class="fas fa-sync-alt" href="#" role="button"></i>
                    {{ _('Save & Refresh') }}
                </button>
            </li>
            <li class="page-item{% if edit_name == 'Basic' %} active{% endif %}">
                <a class="page-link" href="{{ url_for('main.edit_processor',
                processor_name=processor_name) }}">
                    {{ _('Basic') }}
                </a>
            </li>
            <li class="page-item{% if edit_name == 'Import' %} active{% endif %}">
                <a class="page-link" href="{{ url_for('main.edit_processor_import',
                 processor_name=processor_name) }}">
                    {{ _('Import') }}
                </a>
            </li>
            <li class="page-item{% if edit_name == 'Clean' %} active{% endif %}">
                <a class="page-link" href="{{ url_for('main.edit_processor_clean',
                processor_name=processor_name) }}">
                    {{ _('Clean') }}
                </a>
            </li>
            <li class="page-item{% if edit_name == 'Export' %} active{% endif %}">
                <a class="page-link" href="{{ url_for('main.edit_processor_export',
                processor_name=processor_name) }}">
                    {{ _('Export') }}
                </a>
            </li>
            <li class="page-item" value="continue">
                <button id="loadContinue" type="submit" class="page-link"
                        name="continue" onclick="SubmitForm('continue', 'form_continue')">
                    {{ _('Save & Continue') }}
                    <i class="fas fa-arrow-circle-right" href="#" role="button"></i>
                </button>
            </li>
        </ul>
    </nav>
    <!-- Modal -->
    <div class="modal hide fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Logfile - {{processor_name }}</h5>
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <span class="form-control-static pull-left">
                <pre id="output"></pre>
                <script>
                    var output = document.getElementById('output');

                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', '{{ url_for('main.get_processor_logfile',
                     processor_name=processor_name) }}');
                    xhr.send();

                    setInterval(function() {
                        output.textContent = xhr.responseText;
                    }, 1000);
                </script>
              </span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="dropdown">
            <button class="btn btn-success btn-lg btn-block dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                <i class="fas fa-play-circle" href="#" role="button"></i>
                {{ _('Run Processor') }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="dropdown-item"
                       href="{{ url_for('main.run_processor',
                       processor_name=processor_name,
                       redirect_dest=edit_name, processor_args='full') }}">
                    {{ _('Full') }}</a></li>
                <li><a class="dropdown-item"
                       href="javascript: show_modal_table('importRunButton');">
                    {{ _('Import') }}</a></li>
                <li><a class="dropdown-item"
                       href="{{ url_for('main.run_processor',
                       processor_name=processor_name,
                       redirect_dest=edit_name, processor_args='basic') }}">
                    {{ _('Basic') }}</a></li>
                <li><a class="dropdown-item"
                       href="{{ url_for('main.run_processor',
                       processor_name=processor_name,
                       redirect_dest=edit_name, processor_args='export') }}">
                    {{ _('Export') }}</a></li>
            </ul>
        </div>
    </div>
    <br><br>
    <button type="button" class="btn btn-secondary"
            data-toggle="modal" data-target="#exampleModal">
      Show Logs
    </button>
    <button id="importRunButton" type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#importModal"
        style="display: none;">
      Launch demo modal
    </button>
    <div class="modal fade bd-example-modal-lg" id="importModal"
         tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Import - {{ processor_name }}</h5>
            <button type="button" class="close"
                    data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action list-group-item-linkable active"
                     id="list-all" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                     processor_name=processor_name, redirect_dest=edit_name,
                     processor_args='import') }}"
                     role="tab" aria-controls="home">All</a>
                  <a class="list-group-item list-group-item-action list-group-item-linkable"
                     id="list-fb" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                     processor_name=processor_name, redirect_dest=edit_name,
                     processor_args='fb') }}"
                     role="tab" aria-controls="profile">Facebook</a>
                  <a class="list-group-item list-group-item-action list-group-item-linkable"
                     id="list-aw" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                     processor_name=processor_name, redirect_dest=edit_name,
                     processor_args='aw') }}"
                     role="tab" aria-controls="profile">Adwords</a>
                  <a class="list-group-item list-group-item-action list-group-item-linkable"
                     id="list-dc" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                     processor_name=processor_name,
                     redirect_dest=edit_name, processor_args='dc') }}"
                     role="tab" aria-controls="profile">DCM</a>
                  <a class="list-group-item list-group-item-action list-group-item-linkable"
                     id="list-szk" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                      processor_name=processor_name, redirect_dest=edit_name,
                      processor_args='szk') }}"
                     role="tab" aria-controls="profile">Sizmek</a>
                  <a class="list-group-item list-group-item-action list-group-item-linkable"
                     id="list-tw" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                     processor_name=processor_name, redirect_dest=edit_name,
                     processor_args='tw') }}"
                     role="tab" aria-controls="profile">Twitter</a>
                  <a class="list-group-item list-group-item-action list-group-item-linkable"
                     id="list-dc" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                     processor_name=processor_name, redirect_dest=edit_name,
                     processor_args='db') }}"
                     role="tab" aria-controls="profile">DBM</a>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    {% if tables %}
        <button id="tableModalButton" type="button" class="btn btn-primary"
                data-toggle="modal" data-target="#tableModal" style="display: none;">
          Launch demo modal
        </button>
        <div class="modal fade bd-example-modal-xl" id="tableModal" tabindex="-1"
             role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Data Tables - {{ processor_name }}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  {% for table in tables %}
                    {{ table.reset_index().to_html(index=False,
                    table_id=loop.index, classes="table table-dark")|safe }}
                        <script>
                            var cols = {{ table.reset_index().columns.tolist()|tojson }};
                            var tableFields = cols.map(function(e) {
                              return {label: e, name: e}
                            });
                            var tableCols = cols.map(function(e) {
                              return {data: e}
                            });
                            $(document).ready( function () {
                                var editor = new $.fn.dataTable.Editor({
                                    table: '#1',
                                    idSrc: 'index',
                                    fields: tableFields
                                });
                                    // Activate an inline edit on click of a table cell
                                $('#1').on( 'click', 'tbody td', function () {
                                    editor.inline( this, {
                                        buttons: { label:
                                                '<i class="fas fa-greater-than text-error style="color:red""></i>',
                                            fn: function () { this.submit(); } }
                                    });
                                });
                                editor.on( 'open', function ( e, type, mode, action ) {
                                    if (type === "main") {
                                      $('#tableModal').modal('hide');
                                    }
                                } );
                                 editor.on( 'close', function () {
                                  $('#tableModal').modal('show');
                                } );
                                $('#1').DataTable({
                                    dom: "Bfrtip",
                                    columns: tableCols,
                                    select: true,
                                    buttons: [
                                        { extend: 'create', editor: editor },
                                        { extend: 'edit',   editor: editor },
                                        {
                                            extend: "selected",
                                            text: 'Duplicate',
                                            action: function ( e, dt, node, config ) {
                                                // Start in edit mode, and then change to create
                                                editor
                                                    .edit( table.rows( {selected: true} ).indexes(), {
                                                        title: 'Duplicate record',
                                                        buttons: 'Create from existing'
                                                    } )
                                                    .mode( 'create' );
                                            }
                                        },
                                        { extend: 'remove', editor: editor }
                                    ]
                                });
                            });
                        </script>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success"
                        data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {% endif %}
    <script>
        function show_modal_table(destElem) {
            document.getElementById(destElem).click();
        }
    </script>
{% endblock %}

{% block app_content %}
    {% with forms=forms %}
        {% include '_form.html' %}
    {% endwith %}
    {% if tables %}
        <script type="text/javascript">
            $(document).ready(function() {
                show_modal_table('tableModalButton');
            });</script>
    {% endif %}
    <script>
        $(document).ready(function() {
            $('.list-group-item-linkable').on('click', function () {
                // same window/tab:
                var clickedHref = $(this).attr('href');
                window.location.href = clickedHref;
            });
        });
        function animateBar(){
          var d = document.getElementById("progressBar");
          d.className += " progress-bar-animated";
        }
        $(document).ready(function() {
            $('button[id^="load"]').click(function() {
              // disable button
              animateBar();
              $(this).prop("disabled", true);
              // add spinner to button
              $(this).html(
                `<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Loading...`
              );
            });
        });
        $(document).ready(function() {
            $('input[id*="refresh_"]').click(function() {
              // disable button
              animateBar();
              $(this).wrapAll('' +
                        '<button class="btn btn-primary" type="button" disabled>' +
                          '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>' +
                          'Loading...' +
                        '</button>');
        });
        });
    </script>
{% endblock %}