{% extends "base.html" %}

{% block app_header %}
    <script>
        function SubmitForm(form_continue, elemId) {
         console.log('submitting form');
         console.log(form_continue);
         console.log(elemId);
         document.getElementById(elemId).setAttribute("value", form_continue);
         document.getElementById("base_form_id").submit();
        }
    </script>
    <h1>{{ _('Processor - {}'.format(processor_name)) }}</h1>
    <div class="progress mx-auto" style="height: 30px; width: 50%;">
        <div id="progressBar"
             class="progress-bar progress-bar-striped bg-info"
             role="progressbar" style="width: {{ edit_progress }}%;"
             aria-valuenow={{ edit_progress }} aria-valuemin="0"
             aria-valuemax="100">{{ edit_name }}</div>
    </div><br>
    <nav aria-label="...">
        <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item{% if not form %} page-item disabled{% endif %}">
                <button id=loadRefresh type="submit" class="page-link" href=""
                        onclick="SubmitForm('', 'form_continue')">
                    <i class="fas fa-sync-alt" href="#" role="button"></i>
                    {{ _('Save & Refresh') }}
                </button>
            </li>
            <li class="page-item{% if edit_name == 'Basic' %} active{% endif %}">
                <a class="page-link" href="{{ url_for('main.edit_processor',
                processor_name=processor_name) }}">
                    {{ _('Basic') }}
                </a>
            </li>
            <li class="page-item{% if edit_name == 'Import' %} active{% endif %}">
                <a class="page-link" href="{{ url_for('main.edit_processor_import',
                 processor_name=processor_name) }}">
                    {{ _('Import') }}
                </a>
            </li>
            <li class="page-item{% if edit_name == 'Clean' %} active{% endif %}">
                <a class="page-link" href="{{ url_for('main.edit_processor_clean',
                processor_name=processor_name) }}">
                    {{ _('Clean') }}
                </a>
            </li>
            <li class="page-item{% if edit_name == 'Export' %} active{% endif %}">
                <a class="page-link" href="{{ url_for('main.edit_processor_export',
                processor_name=processor_name) }}">
                    {{ _('Export') }}
                </a>
            </li>
            <li class="page-item{% if not form %} page-item disabled{% endif %}"
                value="continue">
                <button id="loadContinue" type="submit" class="page-link"
                        name="continue" onclick="SubmitForm('continue', 'form_continue')">
                    {{ _('Save & Continue') }}
                    <i class="fas fa-arrow-circle-right" href="#" role="button"></i>
                </button>
            </li>
        </ul>
    </nav>
    <!-- Modal -->
    <button id="logModalButton" type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#logModal" style="display: none;">
      Launch demo modal
    </button>
    <div class="modal hide fade" id="logModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Logfile - {{processor_name }}</h5>
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <button id="importRunButton" type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#importModal"
        style="display: none;">
      Launch demo modal
    </button>
    <div class="modal fade bd-example-modal-lg" id="importModal"
         tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Import - {{ processor_name }}</h5>
            <button type="button" class="close"
                    data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action
                            list-group-item-linkable active"
                     id="list-all" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                     processor_name=processor_name, redirect_dest=edit_name,
                     processor_args='import') }}"
                     role="tab" aria-controls="home">All</a>
                  <a class="list-group-item list-group-item-action list-group-item-linkable"
                     id="list-fb" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                     processor_name=processor_name, redirect_dest=edit_name,
                     processor_args='fb') }}"
                     role="tab" aria-controls="profile">Facebook</a>
                  <a class="list-group-item list-group-item-action list-group-item-linkable"
                     id="list-aw" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                     processor_name=processor_name, redirect_dest=edit_name,
                     processor_args='aw') }}"
                     role="tab" aria-controls="profile">Adwords</a>
                  <a class="list-group-item list-group-item-action list-group-item-linkable"
                     id="list-dc" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                     processor_name=processor_name,
                     redirect_dest=edit_name, processor_args='dc') }}"
                     role="tab" aria-controls="profile">DCM</a>
                  <a class="list-group-item list-group-item-action list-group-item-linkable"
                     id="list-szk" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                      processor_name=processor_name, redirect_dest=edit_name,
                      processor_args='szk') }}"
                     role="tab" aria-controls="profile">Sizmek</a>
                  <a class="list-group-item list-group-item-action list-group-item-linkable"
                     id="list-tw" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                     processor_name=processor_name, redirect_dest=edit_name,
                     processor_args='tw') }}"
                     role="tab" aria-controls="profile">Twitter</a>
                  <a class="list-group-item list-group-item-action list-group-item-linkable"
                     id="list-dc" data-toggle="list"
                     href="{{ url_for('main.run_processor',
                     processor_name=processor_name, redirect_dest=edit_name,
                     processor_args='db') }}"
                     role="tab" aria-controls="profile">DBM</a>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <button id="tableModalButton" type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#tableModal" style="display: none;">
      Launch demo modal
    </button>
    <div class="modal fade bd-example-modal-xl" id="tableModal" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Data Tables - {{ processor_name }}</h5>
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div id="modal-body-table"></div>
                <script>
                function createTable(colData, rawData, tableName) {
                    let cols = JSON.parse(colData);
                    let tableFields = cols.map(function(e) {
                      return {label: e, name: e}
                    });
                    let tableCols = cols.map(function(e) {
                      return {data: e}
                    });
                    let tableJquery = '#' + tableName;
                    document.getElementById("modal-body-table").innerHTML = rawData;
                    $(document).ready( function () {
                        let editor = new $.fn.dataTable.Editor({
                            table: tableJquery,
                            idSrc: 'index',
                            fields: tableFields
                        });
                            // Activate an inline edit on click of a table cell
                        $(tableJquery).on( 'click', 'tbody td', function () {
                            editor.inline( this, {
                                buttons: { label:
                                        '<i class="fas fa-greater-than text-error style="color:red""></i>',
                                    fn: function () { this.submit(); } }
                            });
                        });
                        editor.on( 'open', function ( e, type, mode, action ) {
                            if (type === "main") {
                              $('#tableModal').modal('hide');
                            }
                        } );
                         editor.on( 'close', function () {
                          $('#tableModal').modal('show');
                        } );
                        var table = $(tableJquery).DataTable({
                            dom: "Bfrtip",
                            columns: tableCols,
                            "scrollX": true,
                            select: true,
                            buttons: [
                                { extend: 'create', editor: editor },
                                { extend: 'edit',   editor: editor },
                                {
                                    extend: "selected",
                                    text: 'Duplicate',
                                    action: function ( e, dt, node, config ) {
                                        // Start in edit mode, and then change to create
                                        editor
                                            .edit(table.rows( {selected: true} ).indexes(), {
                                                title: 'Duplicate record',
                                                buttons: 'Create from existing'
                                            } )
                                            .mode( 'create' );
                                    }
                                },
                                { extend: 'remove', editor: editor }
                            ]
                        });
                        table.columns.adjust().draw();
                    });
                }
                </script>
          </div>
          <div class="modal-footer">
             <script type="text/javascript">
                function SendDataTable() {
                    let sourceElem = $('table[id^="modalTable"]')[0].id;
                    let sendTable = $('#' + sourceElem).DataTable();
                    let sendTableName = sourceElem.replace('modalTable', '');
                    let data = sendTable
                        .data().toArray();
                    let json = JSON.stringify( data );
                    $.post('/post_table',
                        {
                            data: json,
                            processor:  "{{ processor_name }}",
                            table: sendTableName
                        });
                }
            </script>
            <button type="button" class="btn btn-success"
                    data-dismiss="modal"
                    onclick="SendDataTable()">Save</button>
            <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script>
        function show_modal_table(destElem) {
            document.getElementById(destElem).click();
        }
    </script>
{% endblock %}
{% block vertical_navbar %}
    <br>
    {% if processor %}
        {% with processor=processor %}
            {% include 'processor_popup.html' %}
        {% endwith %}
    {% endif %}
    <div class="accordion" id="accordionExample">
        <div class="card">
            <button class="btn btn-outline-success btn-lg btn-block
                           dropdown-toggle text-left"
                    type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="false"
                    aria-controls="collapseOne">
                <i class="fas fa-play-circle" href="#" role="button"></i>
                {{ _('Run Processor') }}
                <span class="caret"></span>
            </button>
            <div id="collapseOne" class="collapse"
                 aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <a class="dropdown-item"
                           href="{{ url_for('main.run_processor',
                           processor_name=processor_name,
                           redirect_dest=edit_name, processor_args='full') }}">
                        {{ _('Full') }}</a>
                    <a class="dropdown-item"
                           href="javascript: show_modal_table('importRunButton');">
                        {{ _('Import') }}</a>
                    <a class="dropdown-item"
                           href="{{ url_for('main.run_processor',
                           processor_name=processor_name,
                           redirect_dest=edit_name, processor_args='basic') }}">
                        {{ _('Basic') }}</a>
                    <a class="dropdown-item"
                           href="{{ url_for('main.run_processor',
                           processor_name=processor_name,
                           redirect_dest=edit_name, processor_args='export') }}">
                        {{ _('Export') }}</a>
                </div>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-outline-info btn-lg btn-block
                           dropdown-toggle text-left"
                    type="button" data-toggle="collapse"
                    id="editTableDropdownButton"
                    data-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo">
                <i class="fas fa-edit" href="#" role="button"></i>
                {{ _('Edit Processor Files') }}
                <span class="caret"></span>
            </button>
            <div id="collapseTwo" class="collapse"
                 aria-labelledby="headingTwo"
                 data-parent="#accordionExample">
                <div class="card-body">
                    <a class="dropdown-item" id="editTableVendormatrix" href="#">
                        {{ _('Vendormatrix') }}</a>
                    <a class="dropdown-item" id="editTableTranslate" href="#">
                        {{ _('Translate') }}</a>
                    <a class="dropdown-item" id="editTableConstant" href="#">
                        {{ _('Constant') }}</a>
                    <a class="dropdown-item" id="editTableRelation" href="#">
                        {{ _('Relation') }}</a>
                 </div>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-outline-secondary btn-lg btn-block
                           dropdown-toggle text-left"
                    type="button" data-toggle="collapse"
                    id="editTableDropdownButtonView"
                    data-target="#collapseThree" aria-expanded="true"
                    aria-controls="collapseThree">
                <i class="fas fa-table" href="#" role="button"></i>
                {{ _('View Output Data') }}
                <span class="caret"></span>
            </button>
            <div id="collapseThree" class="collapse"
                 aria-labelledby="headingThree"
                 data-parent="#accordionExample">
                <div class="card-body">
                    <a class="dropdown-item" id="editTableOutputData">
                        {{ _('Campaign & Vendor') }}</a>
                </div>
            </div>
        </div>
        <div class="card">
            <button type="button"
                    class="btn btn-outline-secondary btn-lg btn-block text-left"
                    id="getLog"
                    data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-file-alt" href="#" role="button"></i>
              {{ _('Show Logs') }}
            </button>
        </div>
    </div>
    <br>
    <h3 class="sidebar-heading d-flex justify-content-between align-items-center
               text-dark text-center">
                  <span>{{ _('Posts') }}</span>
    </h3>
    <table class="table table-hover">
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
        <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item{% if not prev_url %} page-item disabled{% endif %}">
                <a class="page-link" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="page-item{% if not next_url %} page-item disabled{% endif %}">
                <a class="page-link" href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
        </nav>
    </table>
{% endblock %}

{% block app_content %}
    {% if form %}
        {% include '_form.html' %}
    {% endif %}
    {% if tables %}
        <script type="text/javascript">
            $(document).ready(function() {
                show_modal_table('tableModalButton');
            });</script>
    {% endif %}
    {% if tableau_workbook %}
        <script type='text/javascript'
                src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'>
        </script>
        <div class='tableauPlaceholder' style='width: 1350px; height: 897px;'>
            <object class='tableauViz' width='1350' height='897' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='site_root' value='&#47;t&#47;liquidadvertising' />
                <param name='name' value='{{ processor.tableau_workbook }}&#47;{{ processor.tableau_view }}' />
                <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                <param name='showAppBanner' value='false' />
                <param name='filter' value='iframeSizedToWindow=true' />
            </object>
        </div>
    {% endif %}
    <script>
        $(document).ready(function() {
            $('a[id^="editTable"]').click(function () {
                let tableName = this.id.replace('editTable', '');
                let dropdownButton = "#" + $(this).parents()[2].children[0].id;
                $(dropdownButton).prop("disabled", true);
                let oldHtml = $(dropdownButton).html();
                $(dropdownButton).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                      aria-hidden="true"></span> Loading...`
                  );
                animateBar();
                getTable(tableName, dropdownButton, oldHtml);
            });
        });
        function getTable(tableName, clickElem, oldHtml, vendorKey='None'){
            $.post('/get_table',
                {
                    table: tableName,
                    processor:  "{{ processor_name }}",
                    vendorkey: vendorKey
            }).done(function(data, status) {
                show_modal_table('tableModalButton');
                let newTableName = data['data']['name'];
                createTable(data['data']['cols'], data['data']['data'],
                    newTableName);
            }).fail(function() {
                console.log('fail')
            }).always(function(){
                $(clickElem).prop("disabled", false);
                $(clickElem).html(oldHtml);
                unanimateBar();
            });
        }
        $(document).ready(function() {
            $('button[id^="getLog"]').click(function () {
                let dropdownButton = "#" + $(this)[0].id;
                $(dropdownButton).prop("disabled", true);
                let oldHtml = $(dropdownButton).html();
                $(dropdownButton).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                      aria-hidden="true"></span> Loading...`
                  );
                animateBar();
                getLog(dropdownButton, oldHtml);
            });
        });
        function parseLog(data){
            let logFile = JSON.parse(data['data']);
            let htmlLog = "<p align=\"left\" style='white-space: pre; " +
                "font-family: Consolas;'>" +
                logFile.join("</p><p align=\"left\" style='white-space: " +
                    "pre; font-family: Consolas;'>")  + "</p>";
            $('#logModal > div:nth-child(1) > div:nth-child(1) > div:nth-child(2)'
            )[0].innerHTML = htmlLog;
        }
        function getLog(clickElem, oldHtml){
            $.post('/get_log',
                {
                    processor:  "{{ processor_name }}"
            }).done(function(data, status) {
                show_modal_table('logModalButton');
                parseLog(data);
            }).fail(function() {
                console.log('fail')
            }).always(function(){
                $(clickElem).prop("disabled", false);
                $(clickElem).html(oldHtml);
                unanimateBar();
            });
        }
        var logRefresh = null;
        $('#logModal').on({
            'shown.bs.modal': function () {
                logRefresh = setInterval(function () {
                    $.post('/get_log',
                        {
                            processor: "{{ processor_name }}"
                        }).done(function (data, status) {
                        parseLog(data);
                    });
                }, 30000)},
            'hidden.bs.modal': function(){
                clearInterval(logRefresh);
            }
        });
        $(document).ready(function() {
            $('.list-group-item-linkable').on('click', function () {
                // same window/tab:
                var clickedHref = $(this).attr('href');
                window.location.href = clickedHref;
            });
        });
        function animateBar(){
          let d = document.getElementById("progressBar");
          d.className += " progress-bar-animated";
        }
        function unanimateBar(){
          let d = document.getElementById("progressBar");
          d.className = d.className.replace( /(?:^|\s)progress-bar-animated(?!\S)/g , '' );
        }
        $(document).ready(function() {
            $('button[id^="load"]').click(function() {
              // disable button
              animateBar();
              $(this).prop("disabled", true);
              // add spinner to button
              $(this).html(
                `<span class="spinner-grow spinner-grow-sm"
                    role="status" aria-hidden="true"></span> Loading...`
              );
            });
        });
        $(document).ready(function() {
            $('input[id*="refresh_"]').click(function() {
              let vendorKey = $(this).parent().parent()[0].elements[0].value;
              let oldHtml = $(this).parent().html();
              console.log($(this));
              let tableName = $(this)[0].id.split('refresh_')[1];
              console.log(tableName);
              getTable(tableName, $(this).parent(), oldHtml, vendorKey);
              animateBar();
              $(this).parent().html('' +
                '<button class="btn btn-primary" type="button" disabled>' +
                  '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>' +
                  'Loading...' +
                '</button>');
            });
        });
    </script>
{% endblock %}