{% extends "create_processor.html" %}

{% block app_content %}
    <style type="text/css">
        .widget {
            height: 20vh !important;
            width: 175px;
            margin-left: auto;
            margin-right: auto;
        }

        .overlay {
            fill: none;
            pointer-events: all;
        }

        .radial-progress-bar {
            fill: #ddd;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
        }

        .radial-progress-bar-bg {
            fill: #3f3f3f;
        }

        .progress-label {
            fill: #aaa;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            text-anchor: middle;
            dominant-baseline: central;
        }

        .outer {
            overflow: auto;
        }

        .icon-badge-container {
            position: relative;
        }

        .icon-badge {
            display: inline-block;
            background-color: red;
            font-size: 12px;
            color: white;
            text-align: center;
            position: absolute;
            width: 35%;
            border-radius: 35%;
            top: -10%;
            left: 70%;
        }

        .color-square:before {
            content: "";
            display: block;
            padding-top: 100%; /* initial ratio of 1:1*/
        }

        div[class*='zoom-out'] div[class*='card'] {
            zoom: 0.9;
        }
    </style>
    <nav>
        {% include '_nav_and_progress.html' %}
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="card-header">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-dash-tab"
                           data-toggle="tab" href="#nav-dash" role="tab"
                           aria-controls="nav-dash" aria-selected="true">
                            <h4>
                                <i class="fas fa-solid fa-chart-column btn btn-secondary"
                                   style="float:right;" aria-hidden="true"></i>
                            </h4>
                        </a>
                        <a class="nav-link" id="nav-pacing-tab"
                           data-toggle="tab" href="#nav-pacing" role="tab"
                           aria-controls="nav-pacing" aria-selected="false"
                           onclick="setTimeout(getPartnerMetrics, 1000);
                                 this.onclick=null;">
                            <h4>
                                <div class="icon-badge-container">
                                    <i class="fas fa-solid fa-table-cells btn btn-secondary"
                                       style="float:right;"
                                       aria-hidden="true"></i>
                                    <div class="icon-badge"
                                         id="pacingAlertCount"></div>
                                </div>
                                <div hidden>
                                    <div id="pacingAlertCountProgress"></div>
                                </div>
                            </h4>
                        </a>
                        <a class="nav-link" id="nav-billing-tab"
                           data-toggle="tab" href="#nav-billing" role="tab"
                           aria-controls="nav-billing" aria-selected="true">
                            <h4>
                                <i class="fas fa-solid fa-money-bill btn btn-secondary"
                                   style="float:right;" aria-hidden="true"></i>
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="tab-content" id="nav-dash-tabContent">
        <div class="tab-pane fade show active" id="nav-dash"
             role="tabpanel" aria-labelledby="nav-dash-tab">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="card-header">
                        <div class="row" id="navRow">
                            <div class="btn-group btn-group-sm btn-block"
                                 role="group">
                                <button id="getAllCharts"
                                        class="btn btn-outline-primary"><i
                                        class="fas fa-chart-bar" href="#"
                                        role="button"
                                        aria-hidden="true"></i>Get All Charts
                                </button>
                            </div>
                        </div>
                        <div class="row" id="filterRow" hidden="">
                            <div class="col mb-3">
                                <select id="campaignnameSelect" multiple=""
                                        class="form-control form-control-sm">
                                    <option value="">Campaign</option>
                                </select>
                            </div>
                            <div class="col mb-3">
                                <select id="vendornameSelect" multiple=""
                                        class="form-control form-control-sm">
                                    <option value="">Vendor</option>
                                </select>
                            </div>
                            <div class="col mb-3">
                                <select id="countrynameSelect" multiple=""
                                        class="form-control form-control-sm">
                                    <option value="">Country</option>
                                </select>
                            </div>
                            <div class="col mb-3">
                                <select id="environmentnameSelect" multiple=""
                                        class="form-control form-control-sm">
                                    <option value="">Environment</option>
                                </select>
                            </div>
                            <div class="col mb-3">
                                <select id="kpinameSelect" multiple=""
                                        class="form-control form-control-sm">
                                    <option value="">KPI</option>
                                </select>
                            </div>
                            <div class="col mb-3">
                                <div class="row">
                                    <input id="datePicker"
                                           class="custom-select custom-select-sm
                                                  flatpickr flatpickr-input active"
                                           type="text" placeholder="Date"
                                           data-id="range"
                                           readonly="readonly" data-input>
                                </div>
                            </div>
                            <div class="col mb-3">
                                <button id="applyFilter" type="button"
                                        class="btn btn-block btn-outline-primary btn-sm">
                                    Apply Filter
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <button class="btn btn-success ml-3 text-right" id="add-dash">
                    <i class="fas fa-plus" style="color:white"></i>
                </button>
                <div class="col-md-12 h-50">
                    <div class="card-deck container-fluid text-center mx-auto mb-2 mt-2">
                        <div id="totalMetricsProgress"></div>
                        <div id="totalMetrics" class="row w-100 mx-auto"></div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row h-80">
                <div class="col-md-4 h-80">
                    <div id="toplineMetrics"
                         class="card shadow-sm outer remove-items-shadow zoom-out"
                         style="height:755px"></div>
                    <div class="d-none">
                        <div id="toplineMetricsProgress"></div>
                    </div>
                </div>
                <div class="col-md-8 h-80  vertical-center">
                    <div class="card-header d-flex flex-row rounded align-items-center">
                        <h7 class="pr-2 mr-5">Daily</h7>
                        <div class="col-sm d-flex align-center">
                            <div class="col-xs-4  color-square p-2 border"
                                 id="dailyMetricsChartPlaceholderSelect0Key"></div>
                        </div>
                        <select id="dailyMetricsChartPlaceholderSelect0"
                                class="form-control form-control-sm p-1 mr-4">
                        </select>
                        <div class="col-sm d-flex align-center">
                            <div class="col-xs-4  color-square pl-4 pt-1"
                                 id="dailyMetricsChartPlaceholderSelect1Key"></div>
                        </div>
                        <select id="dailyMetricsChartPlaceholderSelect1"
                                class="form-control form-control-sm p-1">
                        </select>
                    </div>
                    <div class="card container-fluid shadow-sm outer p-0 remove-items-shadow"
                         style="overflow-x: hidden">
                        <div id="dailyMetricsProgress"></div>
                        <div id="dailyMetrics"
                             style="height: 480px; width: 97%"></div>
                        <div class="card-body container-fluid p-0">
                            <div style="height: 205px" class="p-3">
                                <div id="dailyMetricsNotesProgress"></div>
                                <div id="dailyMetricsNotes">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 h-75">
                    <div class="card-header d-flex flex-row rounded"
                         style="height:61px">
                        <h7 class="pr-4">Delivery</h7>
                    </div>
                    <div class="card container-fluid shadow-sm outer p-0 remove-items-shadow">
                        <div id="deliveryMetricsProgress"></div>
                        <div id="deliveryMetrics" style="height:330px;"></div>
                    </div>
                </div>
                <div class="col-md-8 h-50">
                    <div class="card-header d-flex flex-row rounded">
                        <h7 class="pr-4">Partner</h7>
                        <select id="partnerMetricsChartPlaceholderSelect"
                                class="form-control form-control-sm">
                        </select>
                    </div>
                    <div class="card container-fluid shadow-sm outer p-0 remove-items-shadow">
                        <div id="partnerMetricsProgress"></div>
                        <div id="partnerMetrics"></div>
                    </div>
                </div>
                <br>
                <div id="customCharts" class="container-fluid"></div>
            </div>
            <br>
            <div class="row" id="thirdRow" hidden="">
                <div class="col-md-7 h-50">
                    <div class="card-header d-flex flex-row rounded">
                        <h7 class="pr-4">Country</h7>
                        <select id="countryMetricsChartPlaceholderSelect"
                                class="form-control form-control-sm">
                        </select>
                    </div>
                    <div class="card container-fluid shadow-sm outer p-0 remove-items-shadow">
                        <div id="countryMetricsProgress"></div>
                        <div id="countryMetrics"></div>
                    </div>
                </div>
                <div class="col-md-5 h-50">
                    <div class="card-header d-flex flex-row rounded">
                        <h7 class="pr-4">Campaign</h7>
                        <select id="campaignMetricsChartPlaceholderSelect"
                                class="form-control form-control-sm">
                        </select>
                    </div>
                    <div class="card container-fluid shadow-sm outer p-0 remove-items-shadow">
                        <div id="campaignMetricsProgress"></div>
                        <div id="campaignMetrics"></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" id="fourthRow" hidden="">
                <div class="col-md-5 h-50">
                    <div class="card-header d-flex flex-row rounded">
                        <h7 class="pr-4">Device</h7>
                        <select id="environmentMetricsChartPlaceholderSelect"
                                class="form-control form-control-sm">
                        </select>
                    </div>
                    <div class="card container-fluid shadow-sm outer p-0 remove-items-shadow">
                        <div id="environmentMetricsProgress"></div>
                        <div id="environmentMetrics"></div>
                    </div>
                </div>
                <div class="col-md-7 h-50">
                    <div class="card-header d-flex flex-row rounded">
                        <h7 class="pr-4">KPI</h7>
                        <select id="kpiMetricsChartPlaceholderSelect"
                                class="form-control form-control-sm">
                        </select>
                    </div>
                    <div class="card container-fluid shadow-sm outer p-0 remove-items-shadow">
                        <div id="kpiMetricsProgress"></div>
                        <div id="kpiMetrics"></div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'pacing.html' %}
        <div class="tab-pane fade show" id="nav-billing" role="tabpanel"
             aria-labelledby="nav-dash-tab"></div>
        <div class="row">
            <div id="billingTable"></div>
        </div>
    </div>

    <script>
        function getAllCharts(filterDict, clickElem = null, oldHtml = null,
                              allCharts = false) {
            let metrics = ['kpi'];
            filterDict = (filterDict) ? filterDict : [];
            let total_metric_args = getDataTableArgsDict(
                'generateTotalCards', ['mpProduct Name'], metrics, filterDict);
            getTable('totalMetrics', 'totalMetricsProgress', 'None', 'None',
                'None', true, 'None', false, total_metric_args, getMetricsComplete);
            let daily_metric_args = getDataTableArgsDict(
                'generateDualLineChart', ['eventdate'], metrics, filterDict, true);
            getTable('dailyMetrics', 'dailyMetricsProgress', 'None', 'None',
                'None', true, 'None', false, daily_metric_args);
            let kpi_notes_args = getDataTableArgsDict(
                'generateKpiNotes', ['mpProduct Name'], metrics, filterDict);
            getTable('dailyMetricsNotes', 'dailyMetricsNotesProgress', 'None', 'None',
                'None', true, 'None', false, kpi_notes_args, getMetricsComplete);
            getTable('toplineMetrics', 'toplineMetricsProgress', 'None', filterDict);
            let delivery_metric_args = getDataTableArgsDict(
                'generateProgressBars', ['vendorname'], ['netcost', 'plannednetcost'], filterDict, true);
            getTable('deliveryMetrics', 'deliveryMetricsProgress', 'None', 'None',
                'None', true, 'None', false, delivery_metric_args);
            buildCustomCharts();
            if (!allCharts) {
                let pacing_alert_args = getDataTableArgsDict(
                    'generateAlertCount', ['vendorname'], ['netcost', 'plannednetcost'], filterDict);
                getTable('pacingAlertCount', 'pacingAlertCountProgress', 'None', 'None',
                    'None', false, 'None', false, pacing_alert_args, getMetricsComplete);
                let partner_metric_args = getDataTableArgsDict(
                    'generateBarChart', ['vendorname'], metrics, filterDict, true);
                getTable('partnerMetrics', 'partnerMetricsProgress', 'None', 'None',
                    'None', true, 'None', false, partner_metric_args);
            }
            if (allCharts) {
                getSecondaryCharts(filterDict, clickElem);
            }
        }

        async function getCustomCharts() {
            let jv = document.getElementById('jinjaValues');
            let object_name = jv.dataset['object_name'].trim();
            let response = await fetch(
                `/processor/${object_name}/dashboard/get`);
            return await response.json();
        }

        async function buildCustomCharts() {
            let elem = document.getElementById("customCharts");
            let count = 0;
            let dashboards = await getCustomCharts();
            dashboards.forEach(function (dash) {
                let id = Math.floor(count / 2);
                let row_id = `row_${id}`;
                if (count % 2 === 0) {
                    let row_html = `<div class="row" id="${row_id}"></div>`;
                    elem.insertAdjacentHTML('beforeend', row_html);
                }
                let row = document.getElementById(row_id);
                let html = `<div class="col-md-6"><br>${dash['html']}</div>`;
                row.insertAdjacentHTML('beforeend', html);
                let dashId = dash['id'];
                let chartName = `dash${dashId}Metrics`;
                let chartType = dash['chart_type'];
                let chartFunction = getChartFunctionName(chartType);
                let defaultView = dash['default_view'] === 'Chart';
                let dash_metric_args = getDataTableArgsDict(
                    chartFunction, JSON.parse(dash['dimensions']),
                    JSON.parse(dash['metrics']), JSON.parse(dash['chart_filters']),
                    true, undefined, undefined, defaultView);
                getTable(chartName, chartName + 'Progress', 'None', 'None',
                    'None', true, 'None', false, dash_metric_args);
                count++
            });
        }

        function getSecondaryCharts(filterDict, clickElem = null) {
            let addSelect = !(clickElem);
            let metrics = ['kpi'];
            let rowIds = ['thirdRow', 'fourthRow', 'filterRow'];
            rowIds.forEach(elemId => {
                document.getElementById(elemId).removeAttribute('hidden');
            });
            let cols = ['partner', 'country', 'campaign', 'environment', 'kpi'];
            cols.forEach(function (col, i) {
                let chartId = `${col}Metrics`;
                let colName = (col === 'partner') ? 'vendorname' : `${col}name`;
                let chartType = (i > 1) ? 'generateLollipopChart' : 'generateBarChart';
                let secondary_metric_args = getDataTableArgsDict(
                    chartType, [colName], metrics, filterDict, true);
                getTable(chartId, `${chartId}Progress`, 'None', 'None',
                    'None', true, 'None', false, secondary_metric_args);
            })
        }

        function getPartnerMetrics(filterDict = null, clickElem = null, oldHtml = null,
                                   allCharts = false) {
            let metrics = ['kpi'];
            filterDict = (filterDict) ? filterDict : [];
            let pacing_alert_args = getDataTableArgsDict(
                'generateAlerts', ['vendorname', 'campaignname'],
                ['netcost', 'adservingcost'], filterDict);
            getTable('pacingAlerts', 'pacingAlertsProgress', 'None', 'None',
                'None', true, 'None', false, pacing_alert_args, getMetricsComplete);
            let partner_bar_args = getDataTableArgsDict(
                'generateDualBarChart', ['vendorname'],
                metrics, filterDict, true, undefined, undefined, true);
            getTable('partnerBarMetrics', 'partnerBarMetricsProgress',
                'None', 'None', 'None', true, 'None', false, partner_bar_args);
            let partner_metric_args = getDataTableArgsDict(
                'generateBarChart', ['campaignname', 'vendorname'],
                metrics, filterDict, true, undefined, undefined, false);
            getTable('partnerSummaryMetrics', 'partnerSummaryMetricsProgress',
                'None', 'None', 'None', true, 'None', false, partner_metric_args);
            let tree_metric_args = getDataTableArgsDict(
                'generateTreeMap', ['vendortypename', 'vendorname'],
                ['netcost'], filterDict, true);
            getTable('partnerTreeMap', 'partnerTreeMapProgress',
                'None', 'None', 'None', true, 'None', false, tree_metric_args);
            getTable('pacingMetrics', 'pacingMetricsProgress');
        }


        function getDates() {
            const fp = document.querySelector('#datePicker')._flatpickr;
            return [{eventdate: fp.selectedDates}]
        }

        function getAllFilters() {
            let filterDict = getDates();
            let cols = ['campaignname', 'vendorname', 'countryname',
                'environmentname', 'kpiname'];
            filterDict = getMultipleFilters(cols, filterDict, 'Select');
            return filterDict
        }

        function applyFilterEvent() {
            loadingBtn(this);
            animateBar();
            let filterDict = getAllFilters();
            getAllCharts(filterDict, this.id, 'None', true);
            addElemRemoveLoadingBtn(this.id);
        }

        function getAllChartsClickEvent() {
            loadingBtn(this);
            animateBar();
            let filterDict = getAllFilters();
            getSecondaryCharts(filterDict);
            addElemRemoveLoadingBtn(this.id);
            this.setAttribute('hidden', true);
        }

        function getBillingTable() {
            let billingTableId = 'billingTable';
            getTable(billingTableId, billingTableId);
        }

        function saveDash() {
            let jv = document.getElementById('jinjaValues');
            let object_name = jv.dataset['object_name'].trim();
            let url = `/processor/${object_name}/dashboard/create?render=false`;
            let form = document.getElementById('base_form_id');
            let formData = new FormData(form);
            makeRequest(url, 'POST', formData, reloadPage);
        }

        async function addDashModal() {
            let response = await fetch('/get_dash_form');
            let json_response = await response.json();
            let dash_form = json_response['form_html'];
            showModalTable('addDash');
            let modal = document.getElementById('addDashmodalTable');
            let saveButton = modal.querySelector('[id="modalTableSaveButton"]');
            saveButton.id = 'saveDashButton';
            saveButton.removeAttribute('onclick');
            let modalBody = modal.querySelector('[class="modal-body"]');
            modalBody.innerHTML += dash_form;
            addSelectize();
            addOnClickEvent('[id^="saveDashButton"]', saveDash);
        }

        document.addEventListener("DOMContentLoaded", function () {
            addOnClickEvent('button[id^="getAllCharts"]', getAllChartsClickEvent);
            addOnClickEvent('button[id^="applyFilter"]', applyFilterEvent);
            addOnClickEvent('[id^="nav-billing-tab"]', getBillingTable);
            addOnClickEvent('[id^="add-dash"]', addDashModal);
            addSelectize();
            $("#datePicker").flatpickr({
                mode: "range"
            });
            getAllCharts();
        });
    </script>
{% endblock %}