{% extends "create_processor.html" %}

{% block app_content %}
    <style type="text/css">
        .widget {
            height: 50vh;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
        }
        #delivery {
            overflow-y: auto
        }
        .progress-bar {
            fill: #ddd;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
        }

        .progress-bar-bg {
            fill: #3f3f3f;
        }

        .progress-label {
            fill: #aaa;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            text-anchor: middle;
            dominant-baseline: central;
        }
    </style>
    <div class="row">
        <div id="totalMetrics" class="card-deck container-fluid text-center">
            <div id="totalMetricsProgress" class='widget'></div>
        </div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3-scale-radial.js"></script>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card-header">
                <h5 class="mb-3">Delivery</h5>
                <select id="deliverySelect" class="form-control form-control-sm">
                    <option>Select Campaign</option>
                </select>
            </div>
            <div class="card container-fluid shadow">
                <div id="deliveryProgress" class='widget'></div>
                <div id="delivery"></div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card-header">
                <h5 class="mb-3">Daily Metrics</h5>
                <select id="dailyMetricsSelect" class="form-control form-control-sm">
                    <option>Select Metric</option>
                </select>
            </div>
            <div class="card container-fluid shadow">
                <div id="dailyMetricsProgress" class='widget'></div>
                <div id="dailyMetrics"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card-header">
                <h5 class="mb-3">Partner Metrics</h5>
                <select id="partnerMetricsSelect"
                        class="form-control form-control-sm">
                    <option>Select Metric</option>
                </select>
            </div>
            <div class="card container-fluid shadow">
                <div id="partnerMetricsProgress" class='widget'></div>
                <div id="partnerMetrics"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-header">
                <h5 class="mb-3">Country Metrics</h5>
                <select id="countryMetricsSelect"
                        class="form-control form-control-sm">
                    <option>Select Metric</option>
                </select>
            </div>
            <div class="card container-fluid shadow">
                <div id="countryMetricsProgress" class='widget'></div>
                <div id="countryMetrics"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-header">
                <h5 class="mb-3">Target Metrics</h5>
                <select id="targetMetricsSelect"
                        class="form-control form-control-sm">
                    <option>Select Metric</option>
                </select>
            </div>
            <div class="card container-fluid shadow">
                <div id="targetMetricsProgress" class='widget'></div>
                <div id="targetMetrics"></div>
            </div>
        </div>
    </div>
    <script>
        function autoMargin(elem, maxHeight, lMargin, bMargin) {
            const parent = d3.select(elem)
            const size = parent.node().getBoundingClientRect()
            let margin = {top: 10, right: 10, bottom: bMargin, left: lMargin},
                width = size.width - margin.left - margin.right,
                height = maxHeight - margin.top - margin.bottom;
            let svg = parent
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");
            return {margin: margin, width: width, height: height, svg: svg}
        }

        function generateSelect(elem, allGroup) {
            let buttonSelector = elem + 'Select';
            d3.select(buttonSelector)
                .selectAll('myOptions')
                .data(allGroup)
                .enter()
                .append('option')
                .text(function (d) {
                    return d;
                }) // text showed in the menu
                .attr("value", function (d) {
                    return d;
                }) // corresponding value returned by the button

        }

        function generateAxis(data, svg, xAxisType, yAxisType, width, height,
                              xCol, yCol, timeX=null) {

            let xDomain = function(xAxisType) {
                if (timeX) {
                    return d3.extent(data, function (d) {
                        return d[xCol];
                    })
                } else {
                    return data.map(function(d) { return d[xCol]; })
                }
            }
            let x = xAxisType
                .domain(xDomain(xAxisType))
                .range([0, width])
            if (!timeX) {
                x.padding(1)
            }
            let xAxis = d3.axisBottom(x)
            svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            let yScale = yAxisType
                .domain([0, d3.max(data, function (d) {
                    return +d[yCol];
                })])
                .range([height, 0]);
            let yAxis = d3.axisLeft(yScale);
            svg.append("g")
                .attr('class', 'yaxis')
                .call(yAxis);
            return {x: x, yScale: yScale, yAxis: yAxis, xAxis: xAxis}
        }

        function getColorPal(allGroup) {
            let myColor = d3.scaleOrdinal()
                .domain(allGroup)
                .range(d3.schemeSet2);
            return myColor
        }

        function sortData(data, col) {
            return data.sort((a, b) => b[col] - a[col])
        }

        function generateHistogram() {
            // set the dimensions and margins of the graph
            var margin = {top: 10, right: 30, bottom: 30, left: 40},
                width = 460 - margin.left - margin.right,
                height = 400 - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var svg = d3.select("#my_dataviz")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            // get the data
            d3.json("/get_metrics").then(function (data) {

                // X axis: scale and draw:
                var x = d3.scaleLinear()
                    .domain([0, 1000])     // can use this instead of 1000 to have the max of data: d3.max(data, function(d) { return +d.price })
                    .range([0, width]);
                svg.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));

                // set the parameters for the histogram
                var histogram = d3.histogram()
                    .value(function (d) {
                        return d.price;
                    })   // I need to give the vector of value
                    .domain(x.domain())  // then the domain of the graphic
                    .thresholds(x.ticks(70)); // then the numbers of bins

                // And apply this function to data to get the bins
                var bins = histogram(data);

                // Y axis: scale and draw:
                var y = d3.scaleLinear()
                    .range([height, 0]);
                y.domain([0, d3.max(bins, function (d) {
                    return d.length;
                })]);   // d3.hist has to be called before the Y axis obviously
                svg.append("g")
                    .call(d3.axisLeft(y));

                // append the bar rectangles to the svg element
                svg.selectAll("rect")
                    .data(bins)
                    .enter()
                    .append("rect")
                    .attr("x", 1)
                    .attr("transform", function (d) {
                        return "translate(" + x(d.x0) + "," + y(d.length) + ")";
                    })
                    .attr("width", function (d) {
                        return x(d.x1) - x(d.x0) - 1;
                    })
                    .attr("height", function (d) {
                        return height - y(d.length);
                    })
                    .style("fill", "#69b3a2")

            });
        }

        function generateLineChart(elem, data, xCol, yCol) {
            let am = autoMargin(elem, 500, 60, 30);
            let svg = am.svg
            let parseDate = d3.timeParse("%Y-%m-%d");
            data.forEach(function (d) {
                d[xCol] = parseDate(d[xCol]);
            });
            generateSelect(elem, yCol)
            // A color scale: one color for each group
            let myColor = getColorPal(yCol)
            let axes = generateAxis(
                data, svg, d3.scaleTime(), d3.scaleLinear(), am.width, am.height,
                xCol, yCol[0], true
            )
            let line = svg
                .append('g')
                .append("path")
                .datum(data)
                .attr("d", d3.line()
                    .x(function (d) {
                        return axes.x(+d[xCol])
                    })
                    .y(function (d) {
                        return axes.yScale(+d[yCol[0]])
                    })
                )
                .attr("stroke", function () {
                    return myColor(yCol[0])
                })
                .style("stroke-width", 4)
                .style("fill", "none")
            // A function that update the chart
            function update(selectedGroup) {

                // Create new data with the selection?
                let dataFilter = data.map(function (d) {
                    return {xCol: d[xCol], value: d[selectedGroup]}
                })
                // Give these new data to update line
                axes.yScale.domain([0, d3.max(dataFilter, function (d) {
                    return +d.value;
                })])
                svg.selectAll(".yaxis")
                    .transition().duration(500)
                    .call(axes.yAxis)
                line
                    .datum(dataFilter)
                    .transition()
                    .duration(1000)
                    .attr("d", d3.line()
                        .x(function (d) {
                            return axes.x(+d.xCol)
                        })
                        .y(function (d) {
                            return axes.yScale(+d.value)
                        })
                    )
                    .attr("stroke", function (d) {
                        return myColor(selectedGroup)
                    })
            }

            // When the button is changed, run the updateChart function
            d3.select(elem + 'Select').on("change", function (d) {
                // recover the option that has been chosen
                let selectedOption = d3.select(this).property("value")
                // run the updateChart function with this selected option
                update(selectedOption)
            })
        }

        function generateLollipopChart(elem, data, xCol, yCol) {
            data = sortData(data, yCol[0])
            let am = autoMargin(elem, 500, 60, 30);
            let svg = am.svg
            generateSelect(elem, yCol)
            // A color scale: one color for each group
            let myColor = getColorPal(yCol)
            let axes = generateAxis(
                data, svg, d3.scaleBand(), d3.scaleLinear(), am.width, am.height,
                xCol, yCol[0], false
            )

            function update(selectedVar) {
                // Add Y axis
                axes.yScale.domain([0, d3.max(data, function (d) {
                    return +d[selectedVar]
                })]);
                svg.selectAll(".yaxis")
                    .transition().duration(500)
                    .call(axes.yAxis)
                // variable u: map data to existing circle
                var j = svg.selectAll(".myLine")
                    .data(data)
                // update lines
                j
                    .enter()
                    .append("line")
                    .attr("class", "myLine")
                    .merge(j)
                    .transition()
                    .duration(1000)
                    .attr("x1", function (d) {
                        return axes.x(d[xCol]);
                    })
                    .attr("x2", function (d) {
                        return axes.x(d[xCol]);
                    })
                    .attr("y1", axes.yScale(0))
                    .attr("y2", function (d) {
                        return axes.yScale(d[selectedVar]);
                    })
                    .attr("stroke", "grey")


                // variable u: map data to existing circle
                var u = svg.selectAll("circle")
                    .data(data)
                // update bars
                u
                    .enter()
                    .append("circle")
                    .merge(u)
                    .transition()
                    .duration(1000)
                    .attr("cx", function (d) {
                        return axes.x(d[xCol]);
                    })
                    .attr("cy", function (d) {
                        return axes.yScale(d[selectedVar]);
                    })
                    .attr("r", 8)
                    .attr("fill", "#69b3a2");

            }

            // When the button is changed, run the updateChart function
            d3.select(elem + 'Select').on("change", function (d) {
                // recover the option that has been chosen
                let selectedOption = d3.select(this).property("value")
                // run the updateChart function with this selected option
                update(selectedOption)
            })
            update(yCol[0])
        }

        function generateCircularBarplot(elem, data, xCol, yCol) {
            data = sortData(data, yCol[0])
            const parent = d3.select(elem)
            const size = parent.node().getBoundingClientRect()
            const svg = parent.append('svg')
                .attr('width', size.width)
                .attr('height', 500)
                .append("g")
                .attr("transform", "translate(" + (size.width / 2) + "," + (250) + ")");

            let innerRadius = 10;
            let outerRadius = Math.min(size.width, 250) / 2;

            var x = d3.scaleBand()
                .range([0, 2 * Math.PI])    // X axis goes from 0 to 2pi = all around the circle. If I stop at 1Pi, it will be around a half circle
                .align(0)                  // This does nothing
                .domain(data.map(function (d) {
                    return d[xCol];
                })); // The domain of the X axis is the list of states.
            var y = d3.scaleRadial()
                .range([innerRadius, outerRadius])   // Domain will be define later.
                .domain([0, 100000]); // Domain of Y is from 0 to the max seen in the data

            var ybis = d3.scaleRadial()
                .range([innerRadius, 5])   // Domain will be defined later.
                .domain([0, 100000]);

            // Add the bars
            svg.append("g")
                .selectAll("path")
                .data(data)
                .enter()
                .append("path")
                .attr("fill", "#69b3a2")
                .attr("d", d3.arc()     // imagine your doing a part of a donut plot
                    .innerRadius(innerRadius)
                    .outerRadius(function (d) {
                        return y(d[yCol[1]] - d[yCol[0]]);
                    })
                    .startAngle(function (d) {
                        return x(d[xCol]);
                    })
                    .endAngle(function (d) {
                        return x(d[xCol]) + x.bandwidth();
                    })
                    .padAngle(0.01)
                    .padRadius(innerRadius))

            svg.append("g")
                .selectAll("g")
                .data(data)
                .enter()
                .append("g")
                .attr("text-anchor", function (d) {
                    return (x(d[xCol]) + x.bandwidth() / 2 + Math.PI) % (2 * Math.PI) < Math.PI ? "end" : "start";
                })
                .attr("transform", function (d) {
                    return "rotate(" + ((x(d[xCol]) + x.bandwidth() / 2) * 180 / Math.PI - 90) + ")" + "translate(" + (y(d[yCol[0]]) + 10) + ",0)";
                })
                .append("text")
                .text(function (d) {
                    return (d[xCol])
                })
                .attr("transform", function (d) {
                    return (x(d[xCol]) + x.bandwidth() / 2 + Math.PI) % (2 * Math.PI) < Math.PI ? "rotate(180)" : "rotate(0)";
                })
                .style("font-size", "11px")
                .attr("alignment-baseline", "middle")
            svg.append("g")
                .selectAll("path")
                .data(data)
                .enter()
                .append("path")
                .attr("fill", "red")
                .attr("d", d3.arc()     // imagine your doing a part of a donut plot
                    .innerRadius(function (d) {
                        return ybis(0)
                    })
                    .outerRadius(function (d) {
                        return ybis(d[yCol[0]]);
                    })
                    .startAngle(function (d) {
                        return x(d[xCol]);
                    })
                    .endAngle(function (d) {
                        return x(d[xCol]) + x.bandwidth();
                    })
                    .padAngle(0.01)
                    .padRadius(innerRadius))
        }

        function generateProgressBars(elem, data, xCol, yCol) {
            data.sort((a, b) => b[yCol[0]] - a[yCol[0]])
            generateSelect(elem, yCol)
            let am = autoMargin(elem, 500, 10, 10)
            let xVal = 10
            let barHeight = 20
            let spacing = 50
            let scale = d3.scaleLinear()
                .domain([0, 1])
                .range([0, am.width]);
            am.svg.selectAll("g")
                .data(data)
                .enter()
                .append("rect")
                .attr("x", xVal)
                .attr("y", function (d, i) {
                    return barHeight + i * spacing
                })
                .attr("height", barHeight)
                .attr("width", function (d) {
                    return scale(scale.domain()[1])
                })
                .attr("rx", 5)
                .attr("ry", 5)
                .style("fill", "#ddd");

            am.svg.selectAll("g")
                .data(data)
                .enter()
                .append("rect")
                .attr("x", xVal)
                .attr("y", function (d, i) {
                    return barHeight + i * spacing
                })
                .attr("height", barHeight)
                .attr("width", function (d) {
                    return scale(d[yCol[0]] / d[yCol[1]])
                })
                .attr("rx", 5)
                .attr("ry", 5)
                .style("fill", "#5bc0de");

            am.svg.selectAll("g")
                .data(data)
                .enter()
                .append("text")
                .attr("x", am.width - (4 * xVal))
                .attr("y", function (d, i) {
                    return barHeight + i * spacing
                })
                .attr("height", barHeight)
                .text(function (d) {
                    return Math.round((d[yCol[0]] / d[yCol[1]]) * 100) + "%"
                })
            am.svg.selectAll("g")
                .data(data)
                .enter()
                .append("text")
                .attr("x", xVal)
                .attr("y", function (d, i) {
                    return barHeight + i * spacing
                })
                .attr("height", barHeight)
                .text(function (d) {
                    return d[xCol]
                })
        }

        function generateTotalCards(elem, data, xCol, yCol) {
            data.forEach(function (d) {
                $(elem).append(
                '<div class="card mb-3 shadow-lg">' +
                    '<div class="card-body">' +
                        '<h6 class="card-title mb-0">'+ d['name'] +'</h6>' +
                        '<div class="row">' +
                            '<div class="col">' +
                                '<h3 style="text-align:center">' + d['current_value'] + '</h3>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div class="card-footer">' +
                        '<p class="mb-0">' +
                        '<span class="text-danger mr-2">' +
                            '<i class="mdi mdi-arrow-up-bold"></i>' +
                                 (d['change'] * 100) + '%</span>' +
                            '<span class="text-nowrap">Since last week</span>' +
                        '</p>' +
                    '</div>' +
                '</div>'
                )
            });
        }

        function getDownloadProgress(tableName, chart, downloadingProgress) {
            downloadingProgress = setInterval(function() {
                $.post('/get_task_progress',
                {
                    object_type: "{{ title }}",
                    object_name:  "{{ object_name }}",
                    object_level: "{{ edit_name }}",
                    task_name: tableName,
                }).done(function(data, status) {
                    let newPercent = data['percent'];
                    chart.update(parseInt(newPercent))
            });
        }, 750);
            return downloadingProgress
        }

        function getMetrics(elem, createVisualFunction, xCol, yCol) {
            $.ajax({
                type: "POST",
                url: "/get_metrics",
                data: {
                    object_name: "{{ object_name }}",
                    object_type: "{{ title }}",
                    object_level: "{{ edit_name }}",
                    elem: elem,
                    x_col: xCol,
                    y_col: yCol.join('|')
                },
            }).done(function (data, status) {
                chart.update(100);
                createVisualFunction(elem, data, xCol, yCol);
            }).fail(function (jqXHR, textStatus) {
                console.log("Request failed: " + textStatus);
            }).always(function () {
                $(elem + 'Progress').remove()
                clearInterval(downloadingProgress);
            });
            let chart = radialProgress(elem + 'Progress')
            let downloadingProgress = null
            downloadingProgress = getDownloadProgress('OutputData', chart, downloadingProgress)
        }

        function radialProgress(selector) {
            const parent = d3.select(selector)
            const size = parent.node().getBoundingClientRect()
            const svg = parent.append('svg')
                .attr('width', size.width)
                .attr('height', size.height);
            const outerRadius = Math.min(size.width, size.height) * 0.45;
            const thickness = 10;
            let value = 0;

            const mainArc = d3.arc()
                .startAngle(0)
                .endAngle(Math.PI * 2)
                .innerRadius(outerRadius - thickness)
                .outerRadius(outerRadius)

            svg.append("path")
                .attr('class', 'progress-bar-bg')
                .attr('transform', `translate(${size.width / 2},${size.height / 2})`)
                .attr('d', mainArc())

            const mainArcPath = svg.append("path")
                .attr('class', 'progress-bar')
                .attr('transform', `translate(${size.width / 2},${size.height / 2})`)

            svg.append("circle")
                .attr('class', 'progress-bar')
                .attr('transform', `translate(${size.width / 2},${size.height / 2 - outerRadius + thickness / 2})`)
                .attr('width', thickness)
                .attr('height', thickness)
                .attr('r', thickness / 2)

            const end = svg.append("circle")
                .attr('class', 'progress-bar')
                .attr('transform', `translate(${size.width / 2},${size.height / 2 - outerRadius + thickness / 2})`)
                .attr('width', thickness)
                .attr('height', thickness)
                .attr('r', thickness / 2)

            let percentLabel = svg.append("text")
                .attr('class', 'progress-label')
                .attr('transform', `translate(${size.width / 2},${size.height / 2})`)
                .text('0')

            return {
                update: function (progressPercent) {
                    const startValue = value
                    const startAngle = Math.PI * startValue / 50
                    const angleDiff = Math.PI * progressPercent / 50 - startAngle;
                    const startAngleDeg = startAngle / Math.PI * 180
                    const angleDiffDeg = angleDiff / Math.PI * 180
                    const transitionDuration = 1500

                    mainArcPath.transition().duration(transitionDuration).attrTween('d', function () {
                        return function (t) {
                            mainArc.endAngle(startAngle + angleDiff * t)
                            return mainArc();
                        }
                    })
                    end.transition().duration(transitionDuration).attrTween('transform', function () {
                        return function (t) {
                            return `translate(${size.width / 2},${size.height / 2})` +
                                `rotate(${(startAngleDeg + angleDiffDeg * t)})` +
                                `translate(0,-${outerRadius - thickness / 2})`
                        }
                    })
                    percentLabel.transition().duration(transitionDuration).tween('bla', function () {
                        return function (t) {
                            percentLabel.text(Math.round(startValue + (progressPercent - startValue) * t));
                        }
                    })
                    value = progressPercent
                }
            }
        }

        $(document).ready(function () {
            let metrics = ['Impressions', 'Clicks', 'Net Cost']
            getMetrics('#totalMetrics', generateTotalCards, 'mpProduct Name', metrics);
            getMetrics('#dailyMetrics', generateLineChart, 'Date', metrics);
            getMetrics('#delivery', generateProgressBars, 'mpVendor',
                ['Net Cost', 'Planned Net Cost']);
            getMetrics('#partnerMetrics', generateLollipopChart, 'mpVendor', metrics)
            getMetrics('#countryMetrics', generateLollipopChart, 'mpCountry/Region', metrics)
            getMetrics('#targetMetrics', generateLollipopChart, 'mpTargeting', metrics)
        });

    </script>

{% endblock %}