{% extends "base.html" %}

{% block app_header %}
    <h1 class="">{{ _('Help!') }}</h1>
    <h6 class="card-subtitle mb-2 text-muted">
        This is the help section which contains walkthroughs on FAQs as
        well as slides from the processor tutorials.  The search bar here will
        filter both.  Try it out!
    </h6>
{% endblock %}

{% block vertical_navbar %}
    <div class="col">
        <a class="nav-link" id="nav-profile-tab" data-toggle="tab"
           href="#nav-profile" role="tab"
           aria-controls="nav-profile"
           aria-selected="false">
            <h4><i class="fas fa-question-circle btn btn-secondary"
                   style="float:right;"></i></h4>
        </a>
        {% include 'walkthrough.html' %}
    </div>
    <div id="list-example" class="list-group bd-sidebar">
        <a class="navbar-brand" href="#">Navigate Help</a>
        {% for k, v in tutorial_stages.items() %}
            <a class="list-group-item list-group-item-action"
               href="#{{ k }}">
                {{ k }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block app_content %}
    <style>
        .carousel-control-next,
        .carousel-control-prev,
        .carousel-indicators {
            filter: invert(100%);
        }

        .carousel-inner {
            padding: 15px;
        }
    </style>
    <div class="bd-example">
        <nav id="navbar-example2" class="navbar navbar-light row">

            <div class="col">
                <ul class="nav nav-pills">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn-outline-primary btn"
                           data-toggle="dropdown"
                           href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">Slide Select</a>
                        <div class="dropdown-menu">
                            {% for k, v in tutorial_stages.items() %}
                                <a class="dropdown-item" href="#{{ k }}">{{ k }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                <span class="input-group-text"><i
                        class="fa-solid fa-magnifying-glass"
                        href="#"
                        role="button"></i></span>
                    </div>
                    <input id="tableSearchInput" type="text"
                           class="form-control"
                           placeholder="Search"
                           aria-label="Username"
                           aria-describedby="basic-addon1"
                           onkeyup="searchTable('', '.carousel')">
                </div>
            </div>

        </nav>
        <div data-spy="scroll" data-target="#navbar-example2 #list-example"
             data-offset="0" class="scrollspy-example">
            {% for k, v in tutorial_stages.items() %}
                <div id="carouselHelp{{ loop.index }}" class="carousel slide"
                     data-ride="carousel" data-interval="false"
                     style="">
                    <div id="{{ k }}" class="carousel-inner">
                        <ol class="carousel-indicators">
                            {% if v|length > 1 %}
                                {% for tutorial_stage in v %}
                                    <li data-target="#carouselExampleIndicators"
                                        data-slide-to="{{ loop.index }}"
                                        class="{% if loop.index == 1 %}active{% endif %}"></li>
                                {% endfor %}
                            {% endif %}
                        </ol>
                        {% for tutorial_stage in v %}
                            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                {% include 'tutorials/_tutorial.html' %}
                            </div>
                        {% endfor %}
                    </div>
                    {% if v|length > 1 %}
                        <a class="carousel-control-prev"
                           href="#carouselHelp{{ loop.index }}"
                           role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"
                          aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next"
                           href="#carouselHelp{{ loop.index }}"
                           role="button" data-slide="next">
                    <span class="carousel-control-next-icon"
                          aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js_utils.js') }}"></script>
    {% include "_select_builder.html" %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
           addSelectize();
           addWalkthrough();
           document.getElementById('nav-profile-tab').click();
        });
    </script>
{% endblock %}