{% extends "base.html" %}

{% block app_header %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
{% endblock %}

{% block vertical_navbar %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}

{% block app_content %}
    <div class="card-deck">
      <div class="card">
          <a class="fas fa-chart-bar btn btn-dark btn-lg"
             title={{ _('Processor') }} href="{{ url_for('main.processor') }}">
                </a>
        <div class="card-body">
          <h5 class="card-title">Processor</h5>
          <p class="card-text">Create, view and update live campaigns using the data processor.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <a class="fas fa-paper-plane btn btn-dark btn-lg" href="#" role="button"> </a>
        <div class="card-body">
          <h5 class="card-title">Uploader</h5>
          <p class="card-text">Create and upload new campaigns to Facebook, AdWords and DCM.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <a class="fas fa-gamepad btn btn-dark btn-lg" href="#" role="button"> </a>
        <div class="card-body">
          <h5 class="card-title">Clients</h5>
          <p class="card-text">View and explore current clients.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <br><br><br>
    {% if form %}
        {% include '_form.html' %}
    <br>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} page-item disabled{% endif %}">
                <a class="page-link"  href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
        </ul>
        <ul class="pagination justify-content-end">
            <li class="page-item{% if not next_url %} page-item disabled{% endif %}">
                <a class="page-link"  href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}