<div class="tab-pane fade" id="nav-pacing"
     role="tabpanel" aria-labelledby="nav-home-tab">
    <br>
    <div class="row">
        <div class="col-md-12 h-50">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h7 class="mb-3">Pacing</h7>
                <button class="btn btn-primary float-right" id="_refresh_download_pacing_data" type="button">
                    <i class="fa-solid fa-download" style="color:white" aria-hidden="true"></i>
                </button>
            </div>
            <div class="card container-fluid shadow outer">
                <div id="pacingMetricsProgress" style="height:50px; width:100px;"></div>
                <div id="pacingMetrics" style="height:325px; spellcheck='false'"></div>
            </div>
            <div class="card-footer d-flex">
                <button type="button" class="btn btn-secondary" id="pacingTableSaveButton"
                disabled>Save Planned Spends</button>
                <small class="ml-auto">*Pacing metrics and visuals updated after runs.
                    Start Dates based on when spend started. End Dates on VendorMatrix
                    (or Basic Tab when empty).</small>
            </div>
        </div>
    </div>
</div>
<br>
<br>