<div class="card shadow outer">
    <div class="card-header">
        <h5>
            <a href="{{ processor.get_url() }}">
            {{ processor.name }}
        </a>
            {% if not current_user.is_following_processor(processor) %}
                <a class="btn btn-outline-primary btn-sm rounded-pill"
                   href="{{ url_for('main.follow_processor',
                   processor_name=processor.name) }}"
                style="float: right;">Follow</a>
             {% else %}
                <a class="btn btn-primary btn-sm rounded-pill"
                   href="{{ url_for('main.unfollow_processor',
                   processor_name=processor.name) }}"
                style="float: right;">Following</a>
            {% endif %}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ processor.campaign.product.client.name}} - {{ processor.campaign.product.name}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ processor.description }}</h6>
    </div>
    {% if processor.local_path %}
    <div class="card-body">
        <ul id="listTabs" class="pagination pagination justify-content-center">
            {% for button in processor.get_current_buttons() %}
                {% for button_name, button_link in button.items() %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for(button_link, processor_name=processor.name) }}">
                            {{ button_name }}
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    <div class="row">
        <div class="col mb-3">
            <select id="dashSelect{{ processor.id }}"
                    class="form-control form-control-sm">
                <option value="">Select Dashboard...
                </option>
                {% for dash in ['eventdate', 'campaignname', 'vendorname', 'countryname', 'kpiname', 'environmentname'] %}
                    <option value="{{ dash }}">{{ dash }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
        <div id="dashFooter{{ processor.id }}" style="display: none;">
            <div id="" class="row">
                <div class="col">
                    <div class="card-header">
                        <h7 class="mb-3"></h7>
                        <select id="dash_placeholderMetrics{{ processor.id }}Select"
                                class="form-control form-control-sm">
                            <option>Select Metric
                            </option>
                        </select>
                    </div>
                    <div class="shadow outer">
                        <div id="dash_placeholderMetricsProgress{{ processor.id }}"
                             class="widget">
                        </div>
                        <div id="dash_placeholderMetrics{{ processor.id }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="card-footer">
        {% include 'processor_requests_button.html' %}
        {% with post = processor.get_last_post() %}
            {% if post %}
                {% include '_post.html' %}
            {% endif %}
        {% endwith %}
    </div>
</div>