<div class="card shadow outer">
    <div class="card-header">
        <h3>Processors by User<i class="fas fa-chart-bar btn btn-info"
                           style="float:right;"></i></h3>
        <h6 class="card-subtitle mb-2 text-muted">Processor instances organized by owner.</h6>
    </div>
    <div class="card-body">
<div class="accordion" id="accordionClient">
    {% for processor_list in processors %}
        {% set outer_loop = loop %}
        <div class="card">
            <button class="btn {% if  processor_list[0].user.data%}
            btn-secondary{% else %}btn-danger{% endif %} btn-block btn-secondary collapsed text-left"
                    id="heading{{ loop.index }}"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseUser{{ loop.index }}"
                    aria-expanded="false"
                    aria-controls="collapseUser{{ loop.index }}">
                <a href="{{ url_for('main.user', username=processor_list[0].user.username) }}">
                    <img class="mr-3"
                         src="{{ processor_list[0].user.avatar(40) }}"
                         alt="Generic placeholder image"></a>
                {{ processor_list|length }} Processors owned - {{ processor_list[0].user.username }}
            </button>
            <div id="collapseUser{{ loop.index }}" class="collapse"
                 aria-labelledby="heading{{ loop.index }}"
                 data-parent="#accordionClient">
                <div class="card-body">
                    <div class="accordion" id="accordionProcessor">
                    {% for processor in processor_list %}
                        <div class="card">
                            <div class="card-header form-inline collapsed"
                                 id="headingProcessor{{ processor.id }}"
                                 type="button"
                                 data-toggle="collapse"
                                 data-target="#collapseProcessor{{ processor.id }}"
                                 aria-expanded="false"
                                 aria-controls="collapseProcessor{{ processor.id }}">
                                <div class="col">
                                    <a href="{{ processor.get_url() }}">
                                        {{ processor.name }}
                                    </a>
                                    <span class="badge badge-pill
                                        {% if processor_status == 'Live' %} badge-success
                                        {% elif processor_status == 'Completed' %} badge-secondary
                                        {% else %} badge-info{% endif %}">{{ processor.status }}</span>
                                </div>
                                <div class="col">
                                    <div class="btn-group"
                                         role="group"
                                         style="float: right;">
                                        {% include 'processor_requests_button.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapseProcessor{{ processor.id }}" class="collapse"
                             aria-labelledby="headingProcessor{{ processor.id }}"
                             data-parent="#accordionProcessor">
                            <div id="processorBody{{ processor.id }}" class="card-body"></div>
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
</div>