{% extends "create_processor.html" %}

{% block vertical_navbar %}
    <h4 class="sidebar-heading d-flex justify-content-between align-items-center">
                  <span>{{ _('Data Processor') }}</span>
    </h4>
        <button id="requestProcessor"
            class="btn btn-outline-info btn-block text-left"
            type="button" href="">
                <i class="fas fa-blender-phone"
                   role="button"></i>
                {{ _('Request Processor') }}
    </button><br>
    <div class="col mb-3">
        <div class="row">
            <input id="datePicker"
                   class="custom-select custom-select-sm
                                          flatpickr flatpickr-input active"
                   type="text" placeholder="Date"
                   data-id="range"
                   readonly="readonly" data-input>
        </div>
    </div>
{% endblock %}

{% block app_header %}
    <h1 class="text-muted font-weight-bolder">{{ _('Reporting Data') }}</h1>
    <div class="progress mx-auto" style="height: 20px; width: 50%;">
        <div id="progressBar"
             class="progress-bar progress-bar-striped bg-info"
             role="progressbar" style="width:{{ edit_progress }}%;"
             aria-valuenow={{ edit_progress }} aria-valuemin="0"
             aria-valuemax="100">{{ edit_name }}</div>
    </div><br>
{% endblock %}
{% block app_content %}

    <button id="modalTableButton" type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#modalTable"
            style="display: none;">
        Launch demo modal
    </button>
    <div class="modal fade bd-example-modal-xl" id="modalTable" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-xl mw-100 w-90" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Data Tables - {{ object_name }}</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div>You may not need to request a brand new processor
                 if it has been automatically created from project numbers below.
                    Instead search for the instance and click on the link in the table.
                    If you really need a completely new request the button at the end of
                    this modal can be clicked.
                </div>
                <div class="modal-body">
                    <div id="modal-body-table"></div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-lg btn-block" role="group"
                         aria-label="Basic example">
                        <a id=""
                                class="btn btn-outline-info btn-block text-left"
                                type="button"
                                href="{{ url_for('main.request_processor') }}">
                            <i class="fas fa-blender-phone"
                               role="button"></i>
                            {{ _('Request Processor') }}
                        </a>
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-header">
                <div class="row" id="navRow">
                    <div class="btn-group btn-group-sm btn-block" role="group">
                        <button id="getAllCharts"
                                class="btn btn-outline-primary"><i
                                class="fas fa-chart-bar" href="#" role="button"
                                aria-hidden="true"></i>Get All Charts
                        </button>
                    </div>
                </div>
                <div class="row" id="filterRow" hidden="">
                    <div class="col mb-3">
                        <select id="productnameSelect" multiple=""
                                class="form-control form-control-sm">
                            <option value="">Product</option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <select id="campaignnameSelect" multiple=""
                                class="form-control form-control-sm">
                            <option value="">Campaign</option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <select id="vendornameSelect" multiple=""
                                class="form-control form-control-sm">
                            <option value="">Vendor</option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <select id="countrynameSelect" multiple=""
                                class="form-control form-control-sm">
                            <option value="">Country</option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <select id="environmentnameSelect" multiple=""
                                class="form-control form-control-sm">
                            <option value="">Environment</option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <select id="kpinameSelect" multiple=""
                                class="form-control form-control-sm">
                            <option value="">KPI</option>
                        </select>
                    </div>
                    <div class="col mb-3">
                        <div class="row">
                            <input id="datePicker"
                                   class="custom-select custom-select-sm
                                          flatpickr flatpickr-input active"
                                   type="text" placeholder="Date"
                                   data-id="range"
                                   readonly="readonly" data-input>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <button id="applyFilter" type="button"
                                class="btn btn-block btn-outline-primary btn-sm">
                            Apply Filter
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12 h-50">
            <div class="card-deck container-fluid text-center">
                <div id="totalMetricsProgress" class='widget'></div>
                <div id="totalMetrics" class="row w-100"></div>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col h-50">
            <div class="card-header">
                <h7 class="mb-3">Products</h7>
                <select id="productMetricsSelect"
                        class="form-control form-control-sm">
                    <option>Select Metric</option>
                </select>
            </div>
            <div class="card container-fluid shadow outer">
                <div id="productMetricsProgress" class='widget'></div>
                <div id="productMetrics" style="height:250px;"></div>
            </div>
        </div>
        <div class="col h-50">
            <div class="card-header">
                <h7 class="mb-3">Daily</h7>
                <select id="dailyMetricsSelect" class="form-control form-control-sm">
                    <option>Select Metric</option>
                </select>
            </div>
            <div class="card container-fluid shadow outer">
                <div id="dailyMetricsProgress" class='widget'></div>
                <div id="dailyMetrics"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="thirdRow" hidden="">
        <div class="col-md-6 h-50">
            <div class="card-header">
                <h7 class="mb-3">Partner</h7>
                <select id="partnerMetricsSelect"
                        class="form-control form-control-sm">
                    <option>Select Metric</option>
                </select>
            </div>
            <div class="card container-fluid shadow outer">
                <div id="partnerMetricsProgress" class='widget'></div>
                <div id="partnerMetrics"></div>
            </div>
        </div>
        <div class="col-md-6 h-50">
            <div class="card-header">
                <h7 class="mb-3">Country</h7>
                <select id="countryMetricsSelect"
                        class="form-control form-control-sm">
                    <option>Select Metric</option>
                </select>
            </div>
            <div class="card container-fluid shadow outer">
                <div id="countryMetricsProgress" class='widget'></div>
                <div id="countryMetrics"></div>
            </div>
        </div>
    </div><br>
    <div class="row" id="fourthRow" hidden="">
        <div class="col-md-4 h-50">
            <div class="card-header">
                <h7 class="mb-3">Campaign</h7>
                <select id="campaignMetricsSelect"
                        class="form-control form-control-sm">
                    <option>Select Metric</option>
                </select>
            </div>
            <div class="card container-fluid shadow outer">
                <div id="campaignMetricsProgress" class='widget'></div>
                <div id="campaignMetrics"></div>
            </div>
        </div>
        <div class="col-md-4 h-50">
            <div class="card-header">
                <h7 class="mb-3">Device</h7>
                <select id="environmentMetricsSelect"
                        class="form-control form-control-sm">
                    <option>Select Metric</option>
                </select>
            </div>
            <div class="card container-fluid shadow outer">
                <div id="environmentMetricsProgress" class='widget'></div>
                <div id="environmentMetrics"></div>
            </div>
        </div>
        <div class="col-md-4 h-50">
            <div class="card-header">
                <h7 class="mb-3">KPI</h7>
                <select id="kpiMetricsSelect"
                        class="form-control form-control-sm">
                    <option>Select Metric</option>
                </select>
            </div>
            <div class="card container-fluid shadow outer">
                <div id="kpiMetricsProgress" class='widget'></div>
                <div id="kpiMetrics"></div>
            </div>
        </div>
    </div>


    <script>
        function requestProcessor() {
            $('[id^=requestProcessor]').click(function () {
                let dropdownButton = "#" + $(this)[0].id;
                $(dropdownButton).prop("disabled", true);
                let oldHtml = $(dropdownButton).html();
                $(dropdownButton).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                      aria-hidden="true"></span> Loading...`
                );
                setDownloadBar(this, this.textContent, false);
                getTable('all_processors', dropdownButton, oldHtml);
            })
        }

        function show_modal_table(destElem) {
            document.getElementById(destElem).click();
        }

        function getAllCharts(filterDict, clickElem=null, oldHtml=null,
                              allCharts=false) {
            let metrics = ['kpi']
            let addSelect = !(clickElem)
            getMetrics('#totalMetrics', generateTotalCards, 'mpProduct Name',
                 metrics, filterDict, "row w-100", 125, clickElem, oldHtml,
                 null, null, null, null, false);
            getMetrics('#dailyMetrics', generateAreaChart, 'eventdate',
                metrics, filterDict, null, null, null, null, null, null,
                null, null, false);
            getMetrics('#productMetrics', generateBarChart, 'productname',
                metrics, filterDict, null, null, null, null, addSelect, null,
                null, null, false);
            if (allCharts) {
                getSecondaryCharts(filterDict, clickElem)
            }
        }

        function getSecondaryCharts(filterDict, clickElem=null) {
            let addSelect = !(clickElem)
            let metrics = ['kpi']
            $('#thirdRow').removeAttr('hidden')
            $('#fourthRow').removeAttr('hidden')
            $('#filterRow').removeAttr('hidden')
            getMetrics('#partnerMetrics', generateBarChart, 'vendorname',
                metrics, filterDict, null, null, null, null, addSelect,
                null, null, null, false);
            getMetrics('#countryMetrics', generateBarChart, 'countryname',
                metrics, filterDict, null, null, null, null, addSelect,
                null, null, null, false);
            getMetrics('#campaignMetrics', generateLollipopChart, 'campaignname',
                metrics, filterDict, null, null, null, null, addSelect,
                null, null, null, false);
            getMetrics('#environmentMetrics', generateLollipopChart, 'environmentname',
                metrics, filterDict, null, null, null, null, addSelect,
                null, null, null, false);
            getMetrics('#kpiMetrics', generateLollipopChart, 'kpiname',
                metrics, filterDict, null, null, null, null, addSelect,
                null, null, null, false);
        }

        function getDates() {
            const fp = document.querySelector('#datePicker')._flatpickr;
            return [{eventdate: fp.selectedDates}]
        }

        function getFilters(colName, filterDict) {
            let newFilter = {};
            newFilter[colName] = $('#' + colName + 'Select')[0].selectize.items
            filterDict = filterDict.concat(newFilter)
            return filterDict
        }

        $(document).ready(function() {
            $('button[id^="applyFilter"]').unbind('click').click(function () {
                let dropdownButton = "#" + $(this)[0].id;
                $(dropdownButton).prop("disabled", true);
                let oldHtml = $(dropdownButton).html();
                $(dropdownButton).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                      aria-hidden="true"></span> Loading...`
                  );
                animateBar();
                let filterDict = getDates();
                filterDict = getFilters('productname', filterDict);
                filterDict = getFilters('campaignname', filterDict);
                filterDict = getFilters('vendorname', filterDict);
                filterDict = getFilters('countryname', filterDict);
                filterDict = getFilters('environmentname', filterDict);
                filterDict = getFilters('kpiname', filterDict);
                getAllCharts(filterDict, dropdownButton, oldHtml, true);
            });
        });

        $(document).ready(function() {
            $('button[id^="getAllCharts"]').unbind('click').click(function () {
                let dropdownButton = "#" + $(this)[0].id;
                $(dropdownButton).prop("disabled", true);
                $(dropdownButton).html(
                    `<span class="spinner-grow spinner-grow-sm" role="status"
                      aria-hidden="true"></span> Loading...`
                  );
                animateBar();
                let filterDict = getDates();
                filterDict = getFilters('productname', filterDict)
                filterDict = getFilters('campaignname', filterDict);
                filterDict = getFilters('vendorname', filterDict);
                filterDict = getFilters('countryname', filterDict);
                filterDict = getFilters('environmentname', filterDict);
                filterDict = getFilters('kpiname', filterDict);
                getSecondaryCharts(filterDict);
                $(dropdownButton).attr("hidden",true);
            });
        });

        $(document).ready(function () {
            $("select[id$='MetricsSelect']").selectize();
            let today = new Date();
            let priorDate = new Date(new Date().setDate(today.getDate() - 30));
            $("#datePicker").flatpickr({
                mode: "range",
                defaultDate: [priorDate, today],
                inline: true
            });
            let filterDict = getDates();
            requestProcessor();
            getAllCharts(filterDict);
        });
    </script>
{% endblock %}