{% extends "base.html" %}

{% block app_header %}
    <h1><small>{{ _('Processor') }}: {{ processor.name}}</small><br>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ _('Run Processor') }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a class="dropdown-item" href="{{ url_for('main.run_processor', processor_name=processor.name, redirect_dest='Page', processor_args='full') }}">{{ _('Full') }}</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('main.run_processor', processor_name=processor.name, redirect_dest='Page', processor_args='import') }}">{{ _('Import') }}</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('main.run_processor', processor_name=processor.name, redirect_dest='Page', processor_args='basic') }}">{{ _('Basic') }}</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('main.run_processor', processor_name=processor.name, redirect_dest='Page', processor_args='export') }}">{{ _('Export') }}</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ _('Edit Processor') }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a class="dropdown-item" href="{{ url_for('main.edit_processor', processor_name=processor.name, processor_args='full') }}">{{ _('Basic') }}</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('main.edit_processor_import', processor_name=processor.name, processor_args='import') }}">{{ _('Import') }}</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('main.edit_processor_clean', processor_name=processor.name, processor_args='basic') }}">{{ _('Clean') }}</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('main.run_processor', processor_name=processor.name, redirect_dest='Page', processor_args='export') }}">{{ _('Export') }}</a></li>
                </ul>
            </div>
        </div>
    </h1>
{% endblock %}

{% block app_content %}
    {% if processor.tableau_workbook %}
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'>
    </script>
    <div class='tableauPlaceholder' style='width: 1350px; height: 897px;'>
        <object class='tableauViz' width='1350' height='897' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='&#47;t&#47;liquidadvertising' />
            <param name='name' value='{{ processor.tableau_workbook }}&#47;{{ processor.tableau_view }}' />
            <param name='tabs' value='no' /><param name='toolbar' value='yes' />
            <param name='showAppBanner' value='false' />
            <param name='filter' value='iframeSizedToWindow=true' />
        </object>
    </div>
    {% endif %}
    <table class="table table-hover">
        <tr>
            <td>
                {% include '_processor.html' %}
            </td>
        </tr>
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
        <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item{% if not prev_url %} page-item disabled{% endif %}">
                <a class="page-link" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="page-item{% if not next_url %} page-item disabled{% endif %}">
                <a class="page-link" href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
        </nav>
    </table>
{% endblock %}