{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_header %}
    <h1>{{ _('Processor') }}: {{ processor.name}}<br>
            <form method="post" action="{{ url_for('main.run_processor', processor_name=processor.name) }}">
                <a href="{{ url_for('main.run_processor', processor_name=processor.name) }}">
                    <button type="button" class="btn btn-primary btn-lg">Run Processor</button>
                </a>
            </form>
    </h1>
{% endblock %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td>
                {% include '_processor.html' %}
            </td>
        </tr>
    </table>
{% endblock %}