<div class="btn-group w-100" role="group">
    {% if processor.local_path %}
        {% set req = processor.get_open_requests() %}
        {% if req|length > 0 %}
            <a href="{{ url_for('main.edit_processor_submit_fix',
                           object_name=processor.name) }}"
               type="button" class="btn btn-outline-danger btn-large">
                Open Requests <span class="badge text-bg-light">
                        {{ req|length }}</span>
                <span class="visually-hidden">Open Requests</span>
            </a>
        {% else %}
            <a href="{{ url_for('main.edit_processor_request_fix',
                           object_name=processor.name) }}"
               type="button" class="btn btn-outline-success btn-large">
                No Open Requests <span class="badge text-bg-light">
                        {{ req|length }}</span>
                <span class="visually-hidden">No Open Requests</span>
            </a>
        {% endif %}
    {% else %}
        <a href="{{ url_for('main.edit_processor_request', object_name=processor.name) }}"
           type="button" class="btn btn-outline-warning btn-large" onclick="window.location.href = this.href;">
            Processor not built.  Finish creating.
            <span class="visually-hidden">Processor not built.  Finish creating.</span>
        </a>
    {% endif %}
    {% set notes = processor.get_notes() %}
    <a href="{{ url_for('main.edit_processor_note',
                       object_name=processor.name) }}"
       type="button" class="btn btn-outline-info btn-large" onclick="window.location.href = this.href;">
        Notes <span class="badge text-bg-light">
                    {{ notes|length }}</span>
        <span class="visually-hidden">Open Requests</span>
    </a>
</div>