<div class="card shadow outer">
    <div class="card-header">
        <h5 class="text-muted">
            <a href="{{ processor.get_url() }}" id="processorUrl{{ processor.id }}">
            {{ processor.name }}
        </a>
            {% if not current_user.is_following_processor(processor) %}
                <a class="btn btn-outline-primary btn-sm rounded-pill"
                   href="{{ processor.get_follow_url() }}"
                style="float: right; opacity:.8;">Follow</a>
             {% else %}
                <a class="btn btn-primary btn-sm rounded-pill"
                   href="{{ processor.get_unfollow_url() }}"
                style="float: right; opacity:.8;">Following</a>
            {% endif %}
        </h5>
        {% if processor.campaign is defined and processor.campaign is not none and processor.campaign != 'None' %}
            <h6 class="card-subtitle mb-2 text-muted">{{ processor.campaign.product.client.name}} - {{ processor.campaign.product.name}}</h6>
        {% endif %}
        <h6 class="card-subtitle mb-2 text-muted">{{ processor.description }}</h6>
        {% if processor.local_path %}
            <div style="display: flex;" class="justify-content-center">
                <nav>
                    <div class="nav nav-tabs"
                         id="nav-tab-processor{{ processor.id }}"
                         role="tablist">
                        <a class="nav-link active"
                           id="nav-plinks-tab{{ processor.id }}"
                           data-bs-toggle="tab"
                           href="#nav-plinks{{ processor.id }}"
                           role="tab"
                           aria-controls="nav-plinks{{ processor.id }}"
                           aria-selected="true">
                            <h4><i class="bi bi-list btn btn-primary"
                                   style="float:right; opacity:.5;"></i></h4>
                        </a>
                        <a class="nav-link"
                           id="nav-appgraph-tab{{ processor.id }}"
                           data-bs-toggle="tab"
                           href="#nav-appgraph{{ processor.id }}"
                           role="tab"
                           aria-controls="nav-appgraph{{ processor.id }}"
                           aria-selected="false">
                            <h4><i class="bi bi-bar-chart btn btn-primary"
                                   style="float:right; opacity:.5;"></i></h4>
                        </a>
                        <a class="nav-link"
                           id="nav-tableau-tab{{ processor.id }}"
                           data-bs-toggle="tab"
                           href="#nav-tableau{{ processor.id }}" role="tab"
                           aria-controls="nav-tableau{{ processor.id }}"
                           aria-selected="false">
                            <h4><i class="bi bi-table btn btn-primary"
                                   style="float:right; opacity:.5;"></i></h4>
                        </a>
                    </div>
                </nav>
            </div>
        {% endif %}
    </div>
    {% if processor.local_path or processor.name == current_user.username %}
    <div class="card-body">
    <div class="" style="">
        <div class="tab-content" id="nav-tabContent-processor{{ processor.id }}">
            <div class="tab-pane fade show active" id="nav-plinks{{ processor.id }}"
                 role="tabpanel" aria-labelledby="nav-plinks-tab{{ processor.id }}">
                {% set tabs = ['Processor', 'Plan', 'Uploader'] %}
                <div id="topTabs" class="w-100 btn-group w-100 btn-group-sm mb-2" style="opacity:.6;">
                    <nav class="w-100">
                        <div class="nav nav-tabs nav-pills nav-justified"
                             id=""
                             role="tablist">
                            {% for tab in tabs %}
                                <a id="navButton{{ tab }}{{ processor.id }}"
                                   type="button"
                                   class="btn-outline-primary nav-link btn{% if loop.first %} active{% else %}{% endif %}"
                                   data-bs-toggle="tab"
                                   href="#{{ tab }}{{ processor.id }}"
                                   role="tab" aria-controls="{{ tab }}"
                                   aria-selected="{{ 'true' if loop.first else 'false' }}">{{ tab }}</a>
                            {% endfor %}
                        </div>
                    </nav>
                </div>
                <div class="tab-content">
                    {% for tab in tabs %}
                    <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="{{ tab }}{{ processor.id }}" role="tabpanel"
                         aria-labelledby="{{ tab }}{{ processor.id }}">
                        <div class="btn-group w-100 btn-group-sm" style="opacity:.6;">
                            {% with buttons=processor.get_navigation_buttons(tab) %}
                                {% with object_function_call=processor.get_object_function_call() %}
                                    {% with object_exists=processor.has_related_object(tab) %}
                                        {% if object_exists %}
                                            {% with icon_only = true %}
                                                {% include '_nav_page_links.html' %}
                                            {% endwith %}
                                        {% else %}
                                            <button id="create{{ tab }}{{ processor.id }}"
                                                    type="button"
                                                    class="btn w-100 btn-outline-primary btn-sm">
                                                Create/View {{ tab }}
                                            </button>
                                        {% endif %}
                                    {% endwith %}
                                {% endwith %}
                            {% endwith %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade show" id="nav-appgraph{{ processor.id }}"
                 role="tabpanel" aria-labelledby="nav-appgraph-tab{{ processor.id }}">
                <div class="col">
                    <select id="dashSelect{{ processor.id }}"
                            class="form-control form-control-sm">
                        <option value="">Select Dashboard...
                        </option>
                        {% for dash in ['eventdate', 'campaignname', 'vendorname', 'countryname', 'kpiname', 'environmentname'] %}
                            <option value="{{ dash }}">{{ dash }}</option>
                        {% endfor %}
                    </select>
                    <div id="dashFooter{{ processor.id }}"
                         style="display: none;">
                        <div id="" class="row">
                            <div class="col">
                                <div class="card-header">
                                    <h7 class="mb-3"></h7>
                                    <select id="dash_placeholderMetrics{{ processor.id }}Select"
                                            class="form-control form-control-sm">
                                        <option>Select Metric
                                        </option>
                                    </select>
                                </div>
                                <div class="shadow outer">
                                    <div id="dash_placeholderMetrics{{ processor.id }}Progress">
                                    </div>
                                    <div id="dash_placeholderMetrics{{ processor.id }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="nav-tableau{{ processor.id }}"
                 role="tabpanel" aria-labelledby="nav-tableau-tab{{ processor.id }}">
                {% if processor.tableau_workbook %}
                    <center>
                        <script type='text/javascript'
                                src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
                        <div class='tableauPlaceholder'
                             style='width: 1350px; height: 897px;'>
                            <object class='tableauViz' width='1350'
                                    height='897' style='display:none;'>
                                <param name='host_url'
                                       value='https%3A%2F%2Fus-east-1.online.tableau.com%2F'/>
                                <param name='embed_code_version' value='3'/>
                                <param name='site_root'
                                       value='&#47;t&#47;liquidadvertising'/>
                                <param name='name'
                                       value='{{ processor.tableau_workbook }}&#47;{{ processor.tableau_view }}'/>
                                <param name='tabs' value='no'/>
                                <param name='toolbar' value='yes'/>
                                <param name='showAppBanner' value='false'/>
                                <param name='filter'
                                       value='iframeSizedToWindow=true'/>
                            </object>
                        </div>
                    </center>
                {% else %}
                    <h4>No Tableau</h4>
                    <h6 class="card-subtitle mb-2 text-muted">
                        This processor instance does not have a tableau specified.  Please add to the Basic Tab.
                    </h6>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    <div class="card-footer">
        {% if title == "Processor" %}
            {% include 'processor_requests_button.html' %}
        {% endif %}
        {% if processor.get_last_post is defined %}
            {% with post = processor.get_last_post() %}
                {% if post %}
                    {% include '_post.html' %}
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>
</div>