{% extends "create_processor.html" %}

{% block app_content_3 %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div id="screenshotImage"></div>
            </div>
        </div>
        <div class="col-3" id="formCol" style="display:none;">
            {% if form %}
                {% include '_form.html' %}
            {% endif %}
        </div>
    </div>
    <div id="screenshot"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            getTable('screenshot', 'screenshot');
        });
    </script>
{% endblock %}