<div class="card mb-3">
    <div class="card-header text-center">
        <h3><a href="{{ url_for('main.uploader_page', uploader_name=uploader.name) }}">
            {{ uploader.name }}
        </a></h3>
    </div>
    <div class="card text-center">
        <div class="card-body">
        <p class="card-text">
            <span id="campaign{{ uploader.id }}">
                Campaign: {{ uploader.campaign.name}}</span>
            <br>
            <span id="product{{ uploader.id }}">
                Product: {{ uploader.campaign.product.name}}</span>
            <br>
            <span id="client{{ uploader.id }}">
                Client: {{ uploader.campaign.product.client.name}}</span>
            <br>
            <span id="location{{ uploader.id }}">
                Location: {{ uploader.local_path }}</span>
            <br>
            <span id="last_run{{ uploader.id }}">
                Last Run: {{ moment(uploader.last_run_time).fromNow() }}</span>
            <br>
            <span id="description{{ uploader.id }}">
                Description: {{ uploader.description}}</span>
        </p>
        </div>
    </div>
</div>