{% extends "base.html" %}

{% block vertical_navbar %}
    <h1 class="sidebar-heading d-flex justify-content-between align-items-center
               text-light">
                  <span>{{ _('User') }}: {{ user.username }}</span>
    </h1>
    <a href="{{ url_for('main.create_uploader') }}">
        <button class="btn btn-outline-success btn-lg w-100 text-start"
            type="button" href="{{ url_for('main.create_uploader') }}">
                <i class="bi bi-plus-circle"
                   role="button"></i>
                {{ _('Create Uploader') }}
    </button></a><br>
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input" id="customSwitch1" checked>
      <label class="form-check-label" for="customSwitch1">
          {{ _("Uploaders I've Created") }}</label>
    </div>
    <table class="table table-hover">
        <tr>
            <td>
                <div class="input-group">
                  <select class="form-control" id="inputGroupSelect04">
                    <option selected>Choose...</option>
                      {% for uploader in uploaders %}
                          <option value="{{ uploader.name }}">
                              {{ uploader.name }}</option>
                      {% endfor %}
                  </select>
                </div>
            </td>
        </tr>
    </table>
    <br>
    {% include '_client_directory.html' %}
{% endblock %}

{% block app_header %}

{% endblock %}
{% block app_content %}
    <div id="carousel" class="carousel slide" data-ride="carousel"
         data-interval="false">
        <div class="carousel-inner text-center">
            {% for uploader in uploaders %}
                {% with loop_num = loop.index %}
                    {% include '_uploader.html' %}
                {% endwith %}
            {% endfor %}
          <a class="carousel-control-prev" href="#carousel"
             role="button" data-bs-slide="prev">
            <i class="bi bi-arrow-left-circle btn btn-dark btn-lg"></i>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel"
             role="button" data-bs-slide="next">
            <i class="bi bi-arrow-right-circle btn btn-dark btn-lg"></i>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
    </div>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <script>
        function carouselOnChange(){
            $('#carousel').carousel($(this)[0].selectedIndex - 1);
        }

        function editTableOnClick() {
            let tableName = this.id.replace('editTable', '');
            animateBar();
            getTable(tableName, this.id);
        }

        document.addEventListener("DOMContentLoaded", function() {
            addOnClickEvent('a[id^="editTable"]', editTableOnClick);
            addOnClickEvent('select', carouselOnChange, 'change');
        });
    </script>
{% endblock %}