<style>
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}
.carousel-inner{
    padding: 15px;
}
</style>
<div class="tab-pane fade" id="nav-profile" role="tabpanel"
     aria-labelledby="nav-profile-tab">
    <h4>Walkthrough</h4>
    <h6 class="card-subtitle mb-2 text-muted">Toggle below to be guided
        through common use cases of this page.</h6>
    <table class="table table-hover">
        {% if walkthrough %}
            <select class="form-control form-control-sm" id="walkQuestion">
                <option value="">Select Question...</option>
                {% for walk in walkthrough %}
                    <option value="{{ loop.index }}">{{ walk['title'] }}</option>
                {% endfor %}
            </select>
            {% for walk in walkthrough %}
                <div id="carousel{{ loop.index }}" class="carousel slide"
                 data-ride="carousel" data-interval="false" style="display: none">
                    <div class="carousel-inner">
                        <ol class="carousel-indicators">
                            {% for slide in walk['slides'] %}
                                <li data-target="#carouselExampleIndicators"
                                    data-slide-to="{{ loop.index }}"
                                    class="{% if loop.index == 1 %}active{% endif %}"></li>
                            {% endfor %}
                        </ol>
                   {% for slide in walk['slides'] %}
                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                        <div class="cards-wrapper">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Step #{{ loop.index }}</h5>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">{{ slide['text'] }}</h6>
                                </div>
                                {% if 'show_me' in slide %}
                                    <div class="card-footer">
                                        <a id="showMe{{ slide['show_me'] }}"
                                           class="btn btn-outline-primary btn-block">Show Me</a>
                                    </div>
                                {% endif %}
                                {% if 'data' in slide %}
                                    <div class="card-footer">
                                        <select id="walkDataSelect{{ loop.index }}"
                                                class="form-control form-control-sm">
                                            <option value="">Select API Type...
                                            </option>
                                            {% for p in slide['data'] %}
                                                <option value="{{ loop.index }}">{{ p }}</option>
                                            {% endfor %}
                                        </select>
                                        {% for p in slide['data'] %}
                                            <div id="walkDataTable{{ loop.index }}"
                                                 style="display: none">
                                                {% for ck, cv in slide['data'][p].items() %}
                                                    <h5>{{ ck }}</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">
                                                        {{ cv }}</h6>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
                    </div>
                    <a class="carousel-control-prev"
                       href="#carousel{{ loop.index }}"
                       role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"
                      aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next"
                       href="#carousel{{ loop.index }}"
                       role="button" data-slide="next">
                <span class="carousel-control-next-icon"
                      aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>
                Unfortunately this page has not been given a walkthrough,
                check the <a href="https://lqadata.com/help">help page</a> for
                more info.
            </p>
        {% endif %}
    </table>
</div>
<script>
    function addWalkthrough() {
        $(document).ready(function () {
            $('#walkQuestion').on('change', function () {
                $('div[id^="carousel"]').hide()
                let selectedValue = $('#walkQuestion').val()
                $('#carousel' + selectedValue).show()
            });
            $('[id^="walkDataSelect"]').on('change', function () {
                $('div[id^="walkDataTable"]').hide()
                let curSelectElem = this.id
                let selectedValue = $('#' + curSelectElem).val()
                $('#walkDataTable' + selectedValue).show()
            });
            $('a[id^="showMe"]').unbind('click').click(function () {
                let divId = this.id.replace('showMe', '')
                let scrollIntoViewOptions = {'behavior': 'smooth'}
                document.getElementById(divId).scrollIntoView(scrollIntoViewOptions);
                let element = $('#' + divId)[0];
                let originalColor = element.style.backgroundColor;
                element.style.backgroundColor = "#b3ecff";
                let t = setTimeout(function () {
                    element.style.backgroundColor = originalColor;
                }, (2 * 1000));
            });
        });
    }
</script>